In [295]:
import pandas as pd
import itertools
import calendar

# Step 1: Connect to the database / file system

In [296]:
pd.set_option('display.max_rows', 500)

In [297]:
Tran = pd.read_csv("CASA_TXNS.csv")

In [298]:
Tran.shape #Cheaking the number of rows and columns

(263, 8)

In [299]:
OpeningBal = pd.read_csv("CASA_OPENING_BALANCE.csv")

In [300]:
OpeningBal.shape #Cheaking the number of rows and columns

(3, 4)

# Step 2: Extract the data of CASA_TXNS and get it in Python Environment

In [301]:
Tran

,Txn_ID,Account No,Date,Narration,Dr. Amount,Cr. Amount,Chq/Ref Number,Closing Balance
0,1,10851232494,01-Apr-11,SALARY,NaN,100000.00,3455,200000.00
1,2,10851232494,02-Apr-11,NEFT-INDIA INFOLINE,NaN,10500.00,100000,210500.00
2,3,10851232494,04-Apr-11,NEFT TRF TO OTHER BANK,100000.00,NaN,958,110500.00
3,4,10851232494,11-Apr-11,LOAN EMI PAYMENT,35000.00,NaN,1316,75500.00
4,5,10851232494,16-Apr-11,ECS CLG RELIANCE,NaN,5861.39,200371,81361.39
5,6,10851232494,18-Apr-11,DD ISSUE-ON HDFC-KOLKATTA - 108513000553,7500.00,NaN,975950,73861.39
6,7,10851232494,01-May-11,REIMBURSEMENTS SAL,NaN,5607.00,18011,79468.39
7,8,10851232494,01-May-11,SALARY,NaN,98900.00,959,178368.39
8,9,10851232494,04-May-11,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,118368.39
9,10,10851232494,11-May-11,LOAN EMI PAYMENT,35000.00,NaN,0758A1,83368.39
10,11,10851232494,15-May-11,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A1,84368.39
11,12,10851232494,16-May-11,LIC INSURANCE PREMIUM,22343.00,NaN,160928,62025.39
12,13,10851232494,08-Jun-11,ATM CHQ DEPOSIT,NaN,20000.00,180112,82025.39
13,14,10851232494,11-Jun-11,LOAN EMI PAYMENT,35000.00,NaN,1001,47025.39
14,15,10851232494,23-Jun-11,ECS CLG NTPC REVERSAL,NaN,1000.00,49594,48025.39
15,16,10851232494,09-Jul-11,NEFT CR SAL,NaN,20000.00,160930,68025.39
16,17,10851232494,11-Jul-11,LOAN EMI PAYMENT,35000.00,NaN,11234,33025.39
17,18,10851232494,10-Aug-11,ATM CHQ DEPOSIT,NaN,35000.00,160929,68025.39
18,19,10851232494,12-Aug-11,LOAN EMI PAYMENT,35000.00,NaN,NaN,33025.39
19,20,10851232494,20-Aug-11,ATM CASH WDL,2000.00,NaN,1001,31025.39
20,21,10851232494,01-Sep-11,ATM CASH WDL,1000.00,NaN,1002,30025.39
21,22,10851232494,09-Sep-11,CHQ DEPOSIT,NaN,35000.00,180123,65025.39
22,23,10851232494,11-Sep-11,LOAN EMI PAYMENT,35000.00,NaN,160931,30025.39
23,24,10851232494,15-Sep-11,REVERSAL,750.00,NaN,NaN,29275.39
24,25,10851232494,15-Sep-11,SERVICE CHARGE & EDU CESS,76.50,NaN,NaN,29198.89
25,1,10851232411,10-Apr-11,CHEQUE DEPOSITED,NaN,5000.00,1112,25000.00
26,2,10851232411,10-Apr-11,CHEQUE DEPOSITED REVERSED,5000.00,NaN,100000,20000.00
27,3,10851232411,10-Apr-11,O/W CHEQUE Bounce Charges,250.00,NaN,958,19750.00
28,4,10851232411,10-Apr-11,Tax on CHQ Bounce Charges,25.00,NaN,1316,19725.00
29,5,10851232411,14-Apr-11,CHEQUE DEPOSITED,NaN,5000.00,200371,24725.00
30,6,10851232411,25-Apr-11,FRANKLIN TEMPLETON MUTUAL FUND,10000.00,NaN,23232,14725.00
31,7,10851232411,01-Jul-11,TRANSFER IN,NaN,5607.00,18011,20332.00
32,8,10851232411,01-Jul-11,TRANSFER IN,NaN,100000.00,10089,120332.00
33,9,10851232411,04-Jul-11,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,60332.00
34,10,10851232411,11-Jul-11,TRANSFER OUT,35000.00,NaN,0758A3,25332.00
35,11,10851232411,15-Jul-11,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A3,26332.00
36,12,10851232411,16-Jul-11,HDFC BANK CREDIT CARD PAYMENT,12321.89,NaN,160922,14010.11
37,13,10851232411,08-Jul-11,ATM CHQ DEPOSIT,NaN,20000.00,180111,34010.11
38,14,10851232411,11-Jul-11,RTGS to third party,25000.00,NaN,1001,9010.11
39,15,10851232411,23-Jul-11,IMPS transfer in,NaN,150000.00,49594,159010.11
40,16,10851232411,09-Aug-11,NEFT SALARY,20000.00,NaN,160930,139010.11
41,17,10851232411,11-Aug-11,Electricity MSEB,1981.00,NaN,11234,137029.11
42,18,10851232411,10-Aug-11,atm cash withdrawal,20000.00,NaN,160929,117029.11
43,19,10851232411,12-Aug-11,Moble recharge,399.00,NaN,NaN,116630.11
44,20,10851232411,20-Aug-11,ATM CASH WDL,2000.00,NaN,1001,114630.11
45,21,10851232411,01-Sep-11,ATM CASH WDL,1000.00,NaN,1002,113630.11
46,22,10851232411,09-Sep-11,neft transfer in,NaN,35000.00,180123,148630.11
47,23,10851232411,11-Sep-11,neft sal to,20000.00,NaN,160931,128630.11
48,24,10851232411,20-Sep-11,Electricity MSEB,2001.89,NaN,NaN,126628.22
49,25,10851232411,21-Sep-11,Moble recharge,399.00,NaN,NaN,126229.22
50,1,12121312121,02-Apr-11,OS RELIANCEJIO 191625250875216,303.00,NaN,PG-0039351403,37567.43
51,2,12121312121,04-Apr-11,TO CLG SUNITA,900.00,NaN,105,36667.43
52,3,12121312121,04-Apr-11,BY CLG INST 76:UCO AT MUMBAI,NaN,15875.00,NaN,52542.43
53,4,12121312121,04-Apr-11,BY CLG INST 28:HDFC AT MUMBAI,NaN,8000.00,NaN,60542.43
54,5,12121312121,05-Apr-11,SWEEP TRANSFER TO [2014712764],10000.00,NaN,NaN,50542.43
55,6,12121312121,07-Apr-11,OS WWW.OLACABS.COM 6079062754,400.00,NaN,PG-0039589253,50142.43
56,7,12121312121,07-Apr-11,OS PAYTM 6909486854 0039606721,350.00,NaN,PG-0039606721,49792.43
57,8,12121312121,07-Apr-11,OS WWW.OLACABS.COM 6079918036,599.00,NaN,PG-0039608768,49193.43
58,9,12121312121,07-Apr-11,Sweep Trf From: 2014712764,NaN,10000.00,NaN,59193.43
59,10,12121312121,09-Apr-11,PCD/2000052367/TECHPARK HOTELS/BANGALORE,884.41,NaN,7.10E+11,58309.02
60,11,12121312121,09-Apr-11,OS WWW.OLACABS.COM 6083830054,599.00,NaN,PG-0039698188,57710.02
61,12,12121312121,10-Apr-11,MB:PAID SWACHH BHARAT CESS,255.00,NaN,MB-999942816664,57455.02
62,13,12121312121,12-Apr-11,TRF TO FINTECH PVT LTD,3443.00,NaN,109,54012.02
63,14,12121312121,12-Apr-11,NEFT AXTB171021531221 AEGIS,NaN,3105.00,NEFTINW-0063968604,57117.02
64,15,12121312121,15-Apr-11,NEFT N105170275727500 CYZ SERV,NaN,47250.00,NEFTINW-0064168232,104367.02
65,16,12121312121,15-Apr-11,SWEEP TRANSFER TO [2014823028],50000.00,NaN,NaN,54367.02
66,17,12121312121,16-Apr-11,PCD/2000052367/J K EL,14990.00,NaN,7.11E+11,39377.02
67,18,12121312121,16-Apr-11,Sweep Trf From: 2014823028,NaN,20000.00,NaN,59377.02
68,19,12121312121,17-Apr-11,MB:NEFT TRANSFER TO Neethu,2500.00,NaN,55422867,56877.02
69,20,12121312121,18-Apr-11,TO CLG RAJENDRAKISANK,790.00,NaN,107,56087.02
70,21,12121312121,19-Apr-11,IB:ABC ASSOCIATE - REGISTRAT,5900.00,NaN,55634460,50187.02
71,22,12121312121,20-Apr-11,OS:TOM MakeMyTrip,2500.00,NaN,PG-0040111986,47687.02
72,23,12121312121,20-Apr-11,PCD/2000052367/HOTEL,265.00,NaN,7.11E+11,47422.02
73,24,12121312121,20-Apr-11,Sweep Trf From: 2014823028,NaN,10000.00,NaN,57422.02
74,25,12121312121,21-Apr-11,OS WWW.OLACABS.COM 6104789764,599.00,NaN,PG-0040141903,56823.02
75,26,12121312121,21-Apr-11,TRF TO ONLINE PVT LTD,3443.00,NaN,110,53380.02
76,27,12121312121,21-Apr-11,NEFT SBIN117111947203 SBI,NaN,5674.00,NEFTINW-0064603431,59054.02
77,28,12121312121,21-Apr-11,PCD/2000052367/FAMILY TREE/MUMBAI,1130.00,NaN,7.11E+11,57924.02
78,29,12121312121,24-Apr-11,NEFT N113170279490167 HARIKRISHNA,NaN,16000.00,NEFTINW-0064645142,73924.02
79,30,12121312121,24-Apr-11,OS MSEDCL 320978490,970.00,NaN,PG-0040252701,72954.02
80,31,12121312121,24-Apr-11,SWEEP TRANSFER TO [2014911162],20000.00,NaN,NaN,52954.02
81,32,12121312121,25-Apr-11,AP:BILLPAY FOR BP VODAFONE 0095555024,805.01,NaN,EBPP-0095555024,52149.01
82,33,12121312121,25-Apr-11,OS:TOM INDIA NE 0040291126,2500.00,NaN,PG-0040291126,49649.01
83,34,12121312121,25-Apr-11,Sweep Trf From: 2014911162,NaN,10000.00,NaN,59649.01
84,35,12121312121,26-Apr-11,NEFT SBIN417116558957 MR SHYAMLAL,NaN,15875.00,NEFTINW-0064938282,75524.01
85,36,12121312121,26-Apr-11,SWEEP TRANSFER TO [2014940584],20000.00,NaN,NaN,55524.01
86,37,12121312121,29-Apr-11,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.12E+11,35524.01
87,38,12121312121,29-Apr-11,SALARY,20800.00,NaN,56252033,14724.01
88,39,12121312121,29-Apr-11,Sweep Trf From: 2014940584,NaN,20000.00,NaN,34724.01
89,40,12121312121,29-Apr-11,Sweep Trf From: 2014911162,NaN,10000.00,NaN,44724.01
90,41,12121312121,29-Apr-11,Sweep Trf From: 2014823028,NaN,20000.00,NaN,64724.01
91,42,12121312121,29-Apr-11,TD PREMAT PROCEEDS: 2014823028,NaN,27.00,2014823028TO,64751.01
92,43,12121312121,30-Apr-11,APRIL REMUNERATION,20000.00,NaN,IB,44751.01
93,44,12121312121,03-May-11,TO CLG TEA ESTATE PVT LTD,206.00,NaN,112,44545.01
94,45,12121312121,03-May-11,NEFT SAA268103244 VASANTHI A,NaN,8750.00,NEFTINW-0065574858,53295.01
95,46,12121312121,03-May-11,BY CLG INST 7:HDFC AT MUMBAI,NaN,12875.00,NaN,66170.01
96,47,12121312121,03-May-11,BY CLG INST 29:HDFC AT MUMBAI,NaN,6000.00,NaN,72170.01
97,48,12121312121,03-May-11,SWEEP TRANSFER TO [2015044186],10000.00,NaN,NaN,62170.01
98,49,12121312121,04-May-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,56593808,46420.01
99,50,12121312121,04-May-11,OS WWW.OLACABS.COM 6130907122,599.00,NaN,PG-0040693692,45821.01
100,51,12121312121,04-May-11,Sweep Trf From: 2015044186,NaN,10000.00,NaN,55821.01
101,52,12121312121,08-May-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,113,54921.01
102,53,12121312121,09-May-11,MB:ELECTRICAL FITTING CHARGES,1200.00,NaN,57079740,53721.01
103,54,12121312121,10-May-11,BY CLG INST 111933:UBI AT MUMBAI,NaN,12225.00,NaN,65946.01
104,55,12121312121,10-May-11,O/W RTN:111933:FUNDS INSUFFICIENT,12225.00,NaN,NaN,53721.01
105,56,12121312121,11-May-11,OS PAYTM 6976204781 0040997296,350.00,NaN,PG-0040997296,53371.01
106,57,12121312121,11-May-11,FUND REC FROM CYZ SERVICES PRIV,NaN,100000.00,NaN,153371.01
107,58,12121312121,11-May-11,SWEEP TRANSFER TO [2015139927],120000.00,NaN,NaN,33371.01
108,59,12121312121,15-May-11,TO CLG CHARITY TRUST,1000.00,NaN,115,32371.01
109,60,12121312121,16-May-11,PCI/2000052367/LINKEDIN/WWW.LINKED,300.00,NaN,7.14E+11,32071.01
110,61,12121312121,17-May-11,NEFT ANDBN17208465042 Education Trust,NaN,49555.00,NEFTINW-0066767009,81626.01
111,62,12121312121,17-May-11,SWEEP TRANSFER TO [2015204282],50000.00,NaN,NaN,31626.01
112,63,12121312121,18-May-11,BY CLG,NaN,15000.00,NaN,46626.01
113,64,12121312121,18-May-11,BY CLG,175.15,NaN,NaN,46450.86
114,65,12121312121,18-May-11,SWEEP TRANSFER TO [2015216512],10000.00,NaN,NaN,36450.86
115,66,12121312121,19-May-11,OS WWW.OLACABS.COM 6162650046,599.00,NaN,PG-0041282376,35851.86
116,67,12121312121,19-May-11,New Term Deposit A/c 491182,10000.00,NaN,NaN,25851.86
117,68,12121312121,19-May-11,Sweep Trf From: 2015216512,NaN,20000.00,NaN,45851.86
118,69,12121312121,24-May-11,AP:BILLPAY FOR BP VODAFONE 0096457140,573.86,NaN,EBPP-0096457140,45278.00
119,70,12121312121,25-May-11,OS WWW.OLACABS.COM 6173991370,599.00,NaN,PG-0041506553,44679.00
120,71,12121312121,29-May-11,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.15E+11,24679.00
121,72,12121312121,29-May-11,Sweep Trf From: 2015216512,NaN,50000.00,NaN,74679.00
122,73,12121312121,29-May-11,TD PREMAT PROCEEDS: 2015216512,NaN,21.00,2015216512TO,74700.00
123,74,12121312121,30-May-11,MB: TRAVEL REIMBURSEMENT,2000.00,NaN,58297940,72700.00
124,75,12121312121,31-May-11,IB: MAY SALARY,20800.00,NaN,58364178,51900.00
125,76,12121312121,31-May-11,IB: INTERNSHIP SALARY,2000.00,NaN,58364817,49900.00
126,77,12121312121,31-May-11,IB: SALARY,13133.00,NaN,58365677,36767.00
127,78,12121312121,31-May-11,REMUNERATION,10000.00,NaN,IB,26767.00
128,79,12121312121,31-May-11,REMUNERATION MAY,10000.00,NaN,IB,16767.00
129,80,12121312121,31-May-11,REMUNERATION APR,15000.00,NaN,IB,1767.00
130,81,12121312121,31-May-11,Sweep Trf From: 2015216512,NaN,10000.00,NaN,11767.00
131,82,12121312121,31-May-11,Sweep Trf From: 2015204282,NaN,50000.00,NaN,61767.00
132,83,12121312121,31-May-11,Sweep Trf From: 2015139927,NaN,40000.00,NaN,101767.00
133,84,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015139927,NaN,219.00,2015139927TO,101986.00
134,85,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015204282,NaN,67.00,2015204282TO,102053.00
135,86,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015216512,NaN,12.00,2015216512TO,102065.00
136,87,12121312121,02-Jun-11,XXXXXX2367/09609753/LINKEDIN,3400.00,NaN,7.14E+11,98665.00
137,88,12121312121,03-Jun-11,BY CLG INST 30:HDFC AT MUMBAI,NaN,6000.00,NaN,104665.00
138,89,12121312121,03-Jun-11,OS WWW.OLACABS.COM 6192925834,599.00,NaN,PG-0041898764,104066.00
139,90,12121312121,05-Jun-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,58769944,88316.00
140,91,12121312121,07-Jun-11,TO CLG UII120800 DO,2530.00,NaN,117,85786.00
141,92,12121312121,07-Jun-11,TO CLG RAJENDRAKISANK,760.00,NaN,114,85026.00
142,93,12121312121,07-Jun-11,IB:CC AVENUE PAYMENT GATEWAY,1380.00,NaN,59069196,83646.00
143,94,12121312121,08-Jun-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,120,82746.00
144,95,12121312121,08-Jun-11,TO CLG UII120800 DO,342.00,NaN,119,82404.00
145,96,12121312121,09-Jun-11,OS WWW.OLACABS.COM 6204753704,599.00,NaN,PG-0042145782,81805.00
146,97,12121312121,10-Jun-11,Chrg: Chq Deposited And Return 10052017,115.00,NaN,TBMS,81690.00
147,98,12121312121,13-Jun-11,NEFT N164170312060317 SHAH,NaN,50000.00,NEFTINW-0068958451,131690.00
148,99,12121312121,14-Jun-11,OS MSEBMUM 201625429636677,1020.00,NaN,PG-0042339435,130670.00
149,100,12121312121,16-Jun-11,IB: IRCTC 0006563710,346.50,NaN,GBM-0006563710,130323.50
150,101,12121312121,18-Jun-11,OS OLA MONEY - ZIPCASH 6223280154,3000.00,NaN,PG-0042490952,127323.50
151,102,12121312121,22-Jun-11,TO CLG RAJENDRAKISANK,770.00,NaN,116,126553.50
152,103,12121312121,22-Jun-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,20000.00,NaN,146553.50
153,104,12121312121,22-Jun-11,SWEEP TRANSFER TO [2015623789],20000.00,NaN,NaN,126553.50
154,105,12121312121,25-Jun-11,AP:BILLPAY FOR BP VODAFONE 0097457646,733.04,NaN,EBPP-0097457646,125820.46
155,106,12121312121,27-Jun-11,NEFT N178170318986950 CLG,NaN,50000.00,NEFTINW-0070044038,175820.46
156,107,12121312121,27-Jun-11,SWEEP TRANSFER TO [2015662468],10000.00,NaN,NaN,165820.46
157,108,12121312121,29-Jun-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,68703.00,NaN,234523.46
158,109,12121312121,29-Jun-11,SWEEP TRANSFER TO [2015697514],70000.00,NaN,NaN,164523.46
159,110,12121312121,30-Jun-11,IB:WEBSITE DEVELOPMENT CHARGES,30000.00,NaN,60486457,134523.46
160,111,12121312121,30-Jun-11,IB:S JUN SALARY,24800.00,NaN,60501053,109723.46
161,112,12121312121,30-Jun-11,REMUNERATION JUNE,20000.00,NaN,IB,89723.46
162,113,12121312121,30-Jun-11,IB: JUN INTERNSHIP PAY,7500.00,NaN,60532172,82223.46
163,114,12121312121,30-Jun-11,IB: JUN SALARY,20800.00,NaN,60538589,61423.46
164,115,12121312121,30-Jun-11,Sweep Trf From: 2015697514,NaN,70000.00,NaN,131423.46
165,116,12121312121,30-Jun-11,Sweep Trf From: 2015662468,NaN,40000.00,NaN,171423.46
166,117,12121312121,01-Jul-11,BY CLG INST 700305:IDBI AT MUMBAI,NaN,6325.00,NaN,177748.46
167,118,12121312121,01-Jul-11,PCD/2000052367/CREAM CENTRE,1072.00,NaN,7.18E+11,176676.46
168,119,12121312121,01-Jul-11,PCD/2000052367/CREAM CENTRE,345.00,NaN,7.18E+11,176331.46
169,120,12121312121,03-Jul-11,Sweep Trf From: 2015662468,NaN,60000.00,NaN,236331.46
170,121,12121312121,03-Jul-11,MB:NEFT TRANSFER TO CONSULTANT,27000.00,NaN,60681680,209331.46
171,122,12121312121,04-Jul-11,SWEEP TRANSFER TO [2015773763],20000.00,NaN,NaN,189331.46
172,123,12121312121,04-Jul-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,60809144,173581.46
173,124,12121312121,04-Jul-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,65816.00,NaN,239397.46
174,125,12121312121,09-Jul-11,Sweep Trf From: 2015773763,NaN,10000.00,NaN,249397.46
175,126,12121312121,09-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,259397.46
176,127,12121312121,09-Jul-11,New Term Deposit A/c 4911831685,20000.00,NaN,NaN,239397.46
177,128,12121312121,09-Jul-11,New Term Deposit A/c 4911831692,10000.00,NaN,NaN,229397.46
178,129,12121312121,09-Jul-11,OS:TOM HARRY,5000.00,NaN,PG-0043355848,224397.46
179,130,12121312121,09-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,219.00,2015662468TO,224616.46
180,131,12121312121,11-Jul-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,111,223716.46
181,132,12121312121,12-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,233716.46
182,133,12121312121,12-Jul-11,OS INDIGO 201625493009128,10147.00,NaN,PG-0043491060,223569.46
183,134,12121312121,12-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,17.00,2015662468TO,223586.46
184,135,12121312121,13-Jul-11,OS WWW.OLACABS.COM 6277763968,5000.00,NaN,PG-0043526793,218586.46
185,136,12121312121,14-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,228586.46
186,137,12121312121,14-Jul-11,OS WWW.MAKEMYTRIP.COM 6278951440,5214.00,NaN,PG-0043548070,223372.46
187,138,12121312121,14-Jul-11,"PCD/2000052367/BAKER STREET,/MUMBAI",208.00,NaN,7.20E+11,223164.46
188,139,12121312121,14-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,19.00,2015662468TO,223183.46
189,140,12121312121,15-Jul-11,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,222268.46
190,141,12121312121,16-Jul-11,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,221353.46
191,142,12121312121,18-Jul-11,TO CLG,1262.00,NaN,123,220091.46
192,143,12121312121,19-Jul-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,230091.46
193,144,12121312121,19-Jul-11,OS:TOM HARRY,5000.00,NaN,PG-0043764316,225091.46
194,145,12121312121,19-Jul-11,TD PREMAT PROCEEDS: 2015623789,NaN,30.00,2015623789TO,225121.46
195,146,12121312121,20-Jul-11,OS MSEDCL 351020933,3130.00,NaN,PG-0043806301,221991.46
196,147,12121312121,21-Jul-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,231991.46
197,148,12121312121,21-Jul-11,MB:TO TRAVEL EXPENSE,7867.00,NaN,MB-999923994230,224124.46
198,149,12121312121,21-Jul-11,TD PREMAT PROCEEDS: 2015623789,NaN,32.00,2015623789TO,224156.46
199,150,12121312121,25-Jul-11,AP:BILLPAY FOR BILLPAY 0098403774,638.86,NaN,EBPP-0098403774,223517.60
200,151,12121312121,27-Jul-11,FUND TRF TO CHQ 282 FROM CYZ,NaN,3680.00,NaN,227197.60
201,152,12121312121,27-Jul-11,SWEEP TRANSFER TO [2016017490],10000.00,NaN,NaN,217197.60
202,153,12121312121,31-Jul-11,JULY REMUNERATION,20000.00,NaN,IB,197197.60
203,154,12121312121,31-Jul-11,IB: INTERNSHIP PAYMENT,7500.00,NaN,62621980,189697.60
204,155,12121312121,31-Jul-11,IB: JUL SALARY,20800.00,NaN,62632978,168897.60
205,156,12121312121,31-Jul-11,IB: JUL SALARY,24800.00,NaN,62629699,144097.60
206,157,12121312121,31-Jul-11,Sweep Trf From: 2016017490,NaN,90000.00,NaN,234097.60
207,158,12121312121,03-Aug-11,SWEEP TRANSFER TO [2016119523],50000.00,NaN,NaN,184097.60
208,159,12121312121,03-Aug-11,NEFT 1264839362,NaN,16520.00,NEFTINW-0073421390,200617.60
209,160,12121312121,03-Aug-11,NEFT N215170342356023,NaN,30000.00,NEFTINW-0073382495,230617.60
210,161,12121312121,04-Aug-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,63075798,214867.60
211,162,12121312121,04-Aug-11,IMPS from SWAPNA AASH Ref 721614129568,NaN,15340.00,IMPS-721614396368,230207.60
212,163,12121312121,04-Aug-11,MB:NEFT TRANSFER TO,1750.00,NaN,63075505,228457.60
213,164,12121312121,05-Aug-11,Sweep Trf From: 2016119523,NaN,10000.00,NaN,238457.60
214,165,12121312121,05-Aug-11,PCD/2000052367/FUN INDIA,1000.00,NaN,7.22E+11,237457.60
215,166,12121312121,05-Aug-11,PCD/2000052367/VEGGIES,2250.00,NaN,7.22E+11,235207.60
216,167,12121312121,06-Aug-11,PCD/2000052367/BAR AND RESTAURANT,1450.00,NaN,7.22E+11,233757.60
217,168,12121312121,07-Aug-11,IMPS from CUSTOMER GE Ref 721918974909,NaN,10000.00,IMPS-721918097949,243757.60
218,169,12121312121,07-Aug-11,SWEEP TRANSFER TO [2016163047],10000.00,NaN,NaN,233757.60
219,170,12121312121,08-Aug-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,124,232857.60
220,171,12121312121,09-Aug-11,NEFT N221170346608018 MANDAR,NaN,10000.00,NEFTINW-0073958987,242857.60
221,172,12121312121,09-Aug-11,OS:TOM HARRY,10000.00,NaN,PG-0044652278,232857.60
222,173,12121312121,10-Aug-11,NEFT N222170347521929QWERTY,NaN,1418.00,NEFTINW-0074104441,234275.60
223,174,12121312121,12-Aug-11,IMPS from R Ref 722409181514,NaN,10000.00,IMPS-722409213195,244275.60
224,175,12121312121,12-Aug-11,SWEEP TRANSFER TO [2016224206],10000.00,NaN,NaN,234275.60
225,176,12121312121,14-Aug-11,MB:NEFT TRANSFER TO S,1930.00,NaN,63821260,232345.60
226,177,12121312121,16-Aug-11,Sweep Trf From: 2016224206,NaN,10000.00,NaN,242345.60
227,178,12121312121,16-Aug-11,Sweep Trf From: 2016163047,NaN,10000.00,NaN,252345.60
228,179,12121312121,16-Aug-11,Sweep Trf From: 2016119523,NaN,20000.00,NaN,272345.60
229,180,12121312121,16-Aug-11,OS RELIANCEJIO 201625585310403,399.00,NaN,PG-0044933936,271946.60
230,181,12121312121,19-Aug-11,SWEEP TRANSFER TO [2016287221],10000.00,NaN,NaN,261946.60
231,182,12121312121,19-Aug-11,NEFT N231170352011593 RAVISHANKAR,NaN,10000.00,NEFTINW-0074742750,271946.60
232,183,12121312121,23-Aug-11,IB:TO TRADING,4440.00,NaN,64424238,267506.60
233,184,12121312121,24-Aug-11,AP:BILLPAY FOR BILLPAY 0099392157,634.97,NaN,EBPP-0099392157,266871.63
234,185,12121312121,25-Aug-11,MB:NEFT TRANSFER TO Rameshwari,53460.00,NaN,64591305,213411.63
235,186,12121312121,25-Aug-11,TD PREMAT PROCEEDS: 2015623789,NaN,97.00,2015623789TO,213508.63
236,187,12121312121,31-Aug-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,223508.63

# Step 2A: Rename the columns where necessary

In [302]:
Tran.columns

Index(['Txn_ID', 'Account No', 'Date', 'Narration', 'Dr. Amount', 'Cr. Amount',
       'Chq/Ref Number', 'Closing Balance'],
      dtype='object')

In [303]:
Tran.rename(columns={Tran.columns[6]: 'Reference Number'}, inplace=True)

In [304]:
Tran.rename(columns={Tran.columns[4]: 'Dr.Amount'}, inplace=True)

In [305]:
Tran.rename(columns={Tran.columns[5]: 'Cr.Amount'}, inplace=True)

# Step 2B: Create a column Txn_Amt. If the transaction Cr. Amount is not null then populate the Txn_Amt = Cr. Amount. For Dr. Amount populate the Txn_Amt = -Dr. Amount

In [306]:
Tran

,Txn_ID,Account No,Date,Narration,Dr.Amount,Cr.Amount,Reference Number,Closing Balance
0,1,10851232494,01-Apr-11,SALARY,NaN,100000.00,3455,200000.00
1,2,10851232494,02-Apr-11,NEFT-INDIA INFOLINE,NaN,10500.00,100000,210500.00
2,3,10851232494,04-Apr-11,NEFT TRF TO OTHER BANK,100000.00,NaN,958,110500.00
3,4,10851232494,11-Apr-11,LOAN EMI PAYMENT,35000.00,NaN,1316,75500.00
4,5,10851232494,16-Apr-11,ECS CLG RELIANCE,NaN,5861.39,200371,81361.39
5,6,10851232494,18-Apr-11,DD ISSUE-ON HDFC-KOLKATTA - 108513000553,7500.00,NaN,975950,73861.39
6,7,10851232494,01-May-11,REIMBURSEMENTS SAL,NaN,5607.00,18011,79468.39
7,8,10851232494,01-May-11,SALARY,NaN,98900.00,959,178368.39
8,9,10851232494,04-May-11,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,118368.39
9,10,10851232494,11-May-11,LOAN EMI PAYMENT,35000.00,NaN,0758A1,83368.39
10,11,10851232494,15-May-11,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A1,84368.39
11,12,10851232494,16-May-11,LIC INSURANCE PREMIUM,22343.00,NaN,160928,62025.39
12,13,10851232494,08-Jun-11,ATM CHQ DEPOSIT,NaN,20000.00,180112,82025.39
13,14,10851232494,11-Jun-11,LOAN EMI PAYMENT,35000.00,NaN,1001,47025.39
14,15,10851232494,23-Jun-11,ECS CLG NTPC REVERSAL,NaN,1000.00,49594,48025.39
15,16,10851232494,09-Jul-11,NEFT CR SAL,NaN,20000.00,160930,68025.39
16,17,10851232494,11-Jul-11,LOAN EMI PAYMENT,35000.00,NaN,11234,33025.39
17,18,10851232494,10-Aug-11,ATM CHQ DEPOSIT,NaN,35000.00,160929,68025.39
18,19,10851232494,12-Aug-11,LOAN EMI PAYMENT,35000.00,NaN,NaN,33025.39
19,20,10851232494,20-Aug-11,ATM CASH WDL,2000.00,NaN,1001,31025.39
20,21,10851232494,01-Sep-11,ATM CASH WDL,1000.00,NaN,1002,30025.39
21,22,10851232494,09-Sep-11,CHQ DEPOSIT,NaN,35000.00,180123,65025.39
22,23,10851232494,11-Sep-11,LOAN EMI PAYMENT,35000.00,NaN,160931,30025.39
23,24,10851232494,15-Sep-11,REVERSAL,750.00,NaN,NaN,29275.39
24,25,10851232494,15-Sep-11,SERVICE CHARGE & EDU CESS,76.50,NaN,NaN,29198.89
25,1,10851232411,10-Apr-11,CHEQUE DEPOSITED,NaN,5000.00,1112,25000.00
26,2,10851232411,10-Apr-11,CHEQUE DEPOSITED REVERSED,5000.00,NaN,100000,20000.00
27,3,10851232411,10-Apr-11,O/W CHEQUE Bounce Charges,250.00,NaN,958,19750.00
28,4,10851232411,10-Apr-11,Tax on CHQ Bounce Charges,25.00,NaN,1316,19725.00
29,5,10851232411,14-Apr-11,CHEQUE DEPOSITED,NaN,5000.00,200371,24725.00
30,6,10851232411,25-Apr-11,FRANKLIN TEMPLETON MUTUAL FUND,10000.00,NaN,23232,14725.00
31,7,10851232411,01-Jul-11,TRANSFER IN,NaN,5607.00,18011,20332.00
32,8,10851232411,01-Jul-11,TRANSFER IN,NaN,100000.00,10089,120332.00
33,9,10851232411,04-Jul-11,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,60332.00
34,10,10851232411,11-Jul-11,TRANSFER OUT,35000.00,NaN,0758A3,25332.00
35,11,10851232411,15-Jul-11,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A3,26332.00
36,12,10851232411,16-Jul-11,HDFC BANK CREDIT CARD PAYMENT,12321.89,NaN,160922,14010.11
37,13,10851232411,08-Jul-11,ATM CHQ DEPOSIT,NaN,20000.00,180111,34010.11
38,14,10851232411,11-Jul-11,RTGS to third party,25000.00,NaN,1001,9010.11
39,15,10851232411,23-Jul-11,IMPS transfer in,NaN,150000.00,49594,159010.11
40,16,10851232411,09-Aug-11,NEFT SALARY,20000.00,NaN,160930,139010.11
41,17,10851232411,11-Aug-11,Electricity MSEB,1981.00,NaN,11234,137029.11
42,18,10851232411,10-Aug-11,atm cash withdrawal,20000.00,NaN,160929,117029.11
43,19,10851232411,12-Aug-11,Moble recharge,399.00,NaN,NaN,116630.11
44,20,10851232411,20-Aug-11,ATM CASH WDL,2000.00,NaN,1001,114630.11
45,21,10851232411,01-Sep-11,ATM CASH WDL,1000.00,NaN,1002,113630.11
46,22,10851232411,09-Sep-11,neft transfer in,NaN,35000.00,180123,148630.11
47,23,10851232411,11-Sep-11,neft sal to,20000.00,NaN,160931,128630.11
48,24,10851232411,20-Sep-11,Electricity MSEB,2001.89,NaN,NaN,126628.22
49,25,10851232411,21-Sep-11,Moble recharge,399.00,NaN,NaN,126229.22
50,1,12121312121,02-Apr-11,OS RELIANCEJIO 191625250875216,303.00,NaN,PG-0039351403,37567.43
51,2,12121312121,04-Apr-11,TO CLG SUNITA,900.00,NaN,105,36667.43
52,3,12121312121,04-Apr-11,BY CLG INST 76:UCO AT MUMBAI,NaN,15875.00,NaN,52542.43
53,4,12121312121,04-Apr-11,BY CLG INST 28:HDFC AT MUMBAI,NaN,8000.00,NaN,60542.43
54,5,12121312121,05-Apr-11,SWEEP TRANSFER TO [2014712764],10000.00,NaN,NaN,50542.43
55,6,12121312121,07-Apr-11,OS WWW.OLACABS.COM 6079062754,400.00,NaN,PG-0039589253,50142.43
56,7,12121312121,07-Apr-11,OS PAYTM 6909486854 0039606721,350.00,NaN,PG-0039606721,49792.43
57,8,12121312121,07-Apr-11,OS WWW.OLACABS.COM 6079918036,599.00,NaN,PG-0039608768,49193.43
58,9,12121312121,07-Apr-11,Sweep Trf From: 2014712764,NaN,10000.00,NaN,59193.43
59,10,12121312121,09-Apr-11,PCD/2000052367/TECHPARK HOTELS/BANGALORE,884.41,NaN,7.10E+11,58309.02
60,11,12121312121,09-Apr-11,OS WWW.OLACABS.COM 6083830054,599.00,NaN,PG-0039698188,57710.02
61,12,12121312121,10-Apr-11,MB:PAID SWACHH BHARAT CESS,255.00,NaN,MB-999942816664,57455.02
62,13,12121312121,12-Apr-11,TRF TO FINTECH PVT LTD,3443.00,NaN,109,54012.02
63,14,12121312121,12-Apr-11,NEFT AXTB171021531221 AEGIS,NaN,3105.00,NEFTINW-0063968604,57117.02
64,15,12121312121,15-Apr-11,NEFT N105170275727500 CYZ SERV,NaN,47250.00,NEFTINW-0064168232,104367.02
65,16,12121312121,15-Apr-11,SWEEP TRANSFER TO [2014823028],50000.00,NaN,NaN,54367.02
66,17,12121312121,16-Apr-11,PCD/2000052367/J K EL,14990.00,NaN,7.11E+11,39377.02
67,18,12121312121,16-Apr-11,Sweep Trf From: 2014823028,NaN,20000.00,NaN,59377.02
68,19,12121312121,17-Apr-11,MB:NEFT TRANSFER TO Neethu,2500.00,NaN,55422867,56877.02
69,20,12121312121,18-Apr-11,TO CLG RAJENDRAKISANK,790.00,NaN,107,56087.02
70,21,12121312121,19-Apr-11,IB:ABC ASSOCIATE - REGISTRAT,5900.00,NaN,55634460,50187.02
71,22,12121312121,20-Apr-11,OS:TOM MakeMyTrip,2500.00,NaN,PG-0040111986,47687.02
72,23,12121312121,20-Apr-11,PCD/2000052367/HOTEL,265.00,NaN,7.11E+11,47422.02
73,24,12121312121,20-Apr-11,Sweep Trf From: 2014823028,NaN,10000.00,NaN,57422.02
74,25,12121312121,21-Apr-11,OS WWW.OLACABS.COM 6104789764,599.00,NaN,PG-0040141903,56823.02
75,26,12121312121,21-Apr-11,TRF TO ONLINE PVT LTD,3443.00,NaN,110,53380.02
76,27,12121312121,21-Apr-11,NEFT SBIN117111947203 SBI,NaN,5674.00,NEFTINW-0064603431,59054.02
77,28,12121312121,21-Apr-11,PCD/2000052367/FAMILY TREE/MUMBAI,1130.00,NaN,7.11E+11,57924.02
78,29,12121312121,24-Apr-11,NEFT N113170279490167 HARIKRISHNA,NaN,16000.00,NEFTINW-0064645142,73924.02
79,30,12121312121,24-Apr-11,OS MSEDCL 320978490,970.00,NaN,PG-0040252701,72954.02
80,31,12121312121,24-Apr-11,SWEEP TRANSFER TO [2014911162],20000.00,NaN,NaN,52954.02
81,32,12121312121,25-Apr-11,AP:BILLPAY FOR BP VODAFONE 0095555024,805.01,NaN,EBPP-0095555024,52149.01
82,33,12121312121,25-Apr-11,OS:TOM INDIA NE 0040291126,2500.00,NaN,PG-0040291126,49649.01
83,34,12121312121,25-Apr-11,Sweep Trf From: 2014911162,NaN,10000.00,NaN,59649.01
84,35,12121312121,26-Apr-11,NEFT SBIN417116558957 MR SHYAMLAL,NaN,15875.00,NEFTINW-0064938282,75524.01
85,36,12121312121,26-Apr-11,SWEEP TRANSFER TO [2014940584],20000.00,NaN,NaN,55524.01
86,37,12121312121,29-Apr-11,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.12E+11,35524.01
87,38,12121312121,29-Apr-11,SALARY,20800.00,NaN,56252033,14724.01
88,39,12121312121,29-Apr-11,Sweep Trf From: 2014940584,NaN,20000.00,NaN,34724.01
89,40,12121312121,29-Apr-11,Sweep Trf From: 2014911162,NaN,10000.00,NaN,44724.01
90,41,12121312121,29-Apr-11,Sweep Trf From: 2014823028,NaN,20000.00,NaN,64724.01
91,42,12121312121,29-Apr-11,TD PREMAT PROCEEDS: 2014823028,NaN,27.00,2014823028TO,64751.01
92,43,12121312121,30-Apr-11,APRIL REMUNERATION,20000.00,NaN,IB,44751.01
93,44,12121312121,03-May-11,TO CLG TEA ESTATE PVT LTD,206.00,NaN,112,44545.01
94,45,12121312121,03-May-11,NEFT SAA268103244 VASANTHI A,NaN,8750.00,NEFTINW-0065574858,53295.01
95,46,12121312121,03-May-11,BY CLG INST 7:HDFC AT MUMBAI,NaN,12875.00,NaN,66170.01
96,47,12121312121,03-May-11,BY CLG INST 29:HDFC AT MUMBAI,NaN,6000.00,NaN,72170.01
97,48,12121312121,03-May-11,SWEEP TRANSFER TO [2015044186],10000.00,NaN,NaN,62170.01
98,49,12121312121,04-May-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,56593808,46420.01
99,50,12121312121,04-May-11,OS WWW.OLACABS.COM 6130907122,599.00,NaN,PG-0040693692,45821.01
100,51,12121312121,04-May-11,Sweep Trf From: 2015044186,NaN,10000.00,NaN,55821.01
101,52,12121312121,08-May-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,113,54921.01
102,53,12121312121,09-May-11,MB:ELECTRICAL FITTING CHARGES,1200.00,NaN,57079740,53721.01
103,54,12121312121,10-May-11,BY CLG INST 111933:UBI AT MUMBAI,NaN,12225.00,NaN,65946.01
104,55,12121312121,10-May-11,O/W RTN:111933:FUNDS INSUFFICIENT,12225.00,NaN,NaN,53721.01
105,56,12121312121,11-May-11,OS PAYTM 6976204781 0040997296,350.00,NaN,PG-0040997296,53371.01
106,57,12121312121,11-May-11,FUND REC FROM CYZ SERVICES PRIV,NaN,100000.00,NaN,153371.01
107,58,12121312121,11-May-11,SWEEP TRANSFER TO [2015139927],120000.00,NaN,NaN,33371.01
108,59,12121312121,15-May-11,TO CLG CHARITY TRUST,1000.00,NaN,115,32371.01
109,60,12121312121,16-May-11,PCI/2000052367/LINKEDIN/WWW.LINKED,300.00,NaN,7.14E+11,32071.01
110,61,12121312121,17-May-11,NEFT ANDBN17208465042 Education Trust,NaN,49555.00,NEFTINW-0066767009,81626.01
111,62,12121312121,17-May-11,SWEEP TRANSFER TO [2015204282],50000.00,NaN,NaN,31626.01
112,63,12121312121,18-May-11,BY CLG,NaN,15000.00,NaN,46626.01
113,64,12121312121,18-May-11,BY CLG,175.15,NaN,NaN,46450.86
114,65,12121312121,18-May-11,SWEEP TRANSFER TO [2015216512],10000.00,NaN,NaN,36450.86
115,66,12121312121,19-May-11,OS WWW.OLACABS.COM 6162650046,599.00,NaN,PG-0041282376,35851.86
116,67,12121312121,19-May-11,New Term Deposit A/c 491182,10000.00,NaN,NaN,25851.86
117,68,12121312121,19-May-11,Sweep Trf From: 2015216512,NaN,20000.00,NaN,45851.86
118,69,12121312121,24-May-11,AP:BILLPAY FOR BP VODAFONE 0096457140,573.86,NaN,EBPP-0096457140,45278.00
119,70,12121312121,25-May-11,OS WWW.OLACABS.COM 6173991370,599.00,NaN,PG-0041506553,44679.00
120,71,12121312121,29-May-11,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.15E+11,24679.00
121,72,12121312121,29-May-11,Sweep Trf From: 2015216512,NaN,50000.00,NaN,74679.00
122,73,12121312121,29-May-11,TD PREMAT PROCEEDS: 2015216512,NaN,21.00,2015216512TO,74700.00
123,74,12121312121,30-May-11,MB: TRAVEL REIMBURSEMENT,2000.00,NaN,58297940,72700.00
124,75,12121312121,31-May-11,IB: MAY SALARY,20800.00,NaN,58364178,51900.00
125,76,12121312121,31-May-11,IB: INTERNSHIP SALARY,2000.00,NaN,58364817,49900.00
126,77,12121312121,31-May-11,IB: SALARY,13133.00,NaN,58365677,36767.00
127,78,12121312121,31-May-11,REMUNERATION,10000.00,NaN,IB,26767.00
128,79,12121312121,31-May-11,REMUNERATION MAY,10000.00,NaN,IB,16767.00
129,80,12121312121,31-May-11,REMUNERATION APR,15000.00,NaN,IB,1767.00
130,81,12121312121,31-May-11,Sweep Trf From: 2015216512,NaN,10000.00,NaN,11767.00
131,82,12121312121,31-May-11,Sweep Trf From: 2015204282,NaN,50000.00,NaN,61767.00
132,83,12121312121,31-May-11,Sweep Trf From: 2015139927,NaN,40000.00,NaN,101767.00
133,84,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015139927,NaN,219.00,2015139927TO,101986.00
134,85,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015204282,NaN,67.00,2015204282TO,102053.00
135,86,12121312121,31-May-11,TD PREMAT PROCEEDS: 2015216512,NaN,12.00,2015216512TO,102065.00
136,87,12121312121,02-Jun-11,XXXXXX2367/09609753/LINKEDIN,3400.00,NaN,7.14E+11,98665.00
137,88,12121312121,03-Jun-11,BY CLG INST 30:HDFC AT MUMBAI,NaN,6000.00,NaN,104665.00
138,89,12121312121,03-Jun-11,OS WWW.OLACABS.COM 6192925834,599.00,NaN,PG-0041898764,104066.00
139,90,12121312121,05-Jun-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,58769944,88316.00
140,91,12121312121,07-Jun-11,TO CLG UII120800 DO,2530.00,NaN,117,85786.00
141,92,12121312121,07-Jun-11,TO CLG RAJENDRAKISANK,760.00,NaN,114,85026.00
142,93,12121312121,07-Jun-11,IB:CC AVENUE PAYMENT GATEWAY,1380.00,NaN,59069196,83646.00
143,94,12121312121,08-Jun-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,120,82746.00
144,95,12121312121,08-Jun-11,TO CLG UII120800 DO,342.00,NaN,119,82404.00
145,96,12121312121,09-Jun-11,OS WWW.OLACABS.COM 6204753704,599.00,NaN,PG-0042145782,81805.00
146,97,12121312121,10-Jun-11,Chrg: Chq Deposited And Return 10052017,115.00,NaN,TBMS,81690.00
147,98,12121312121,13-Jun-11,NEFT N164170312060317 SHAH,NaN,50000.00,NEFTINW-0068958451,131690.00
148,99,12121312121,14-Jun-11,OS MSEBMUM 201625429636677,1020.00,NaN,PG-0042339435,130670.00
149,100,12121312121,16-Jun-11,IB: IRCTC 0006563710,346.50,NaN,GBM-0006563710,130323.50
150,101,12121312121,18-Jun-11,OS OLA MONEY - ZIPCASH 6223280154,3000.00,NaN,PG-0042490952,127323.50
151,102,12121312121,22-Jun-11,TO CLG RAJENDRAKISANK,770.00,NaN,116,126553.50
152,103,12121312121,22-Jun-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,20000.00,NaN,146553.50
153,104,12121312121,22-Jun-11,SWEEP TRANSFER TO [2015623789],20000.00,NaN,NaN,126553.50
154,105,12121312121,25-Jun-11,AP:BILLPAY FOR BP VODAFONE 0097457646,733.04,NaN,EBPP-0097457646,125820.46
155,106,12121312121,27-Jun-11,NEFT N178170318986950 CLG,NaN,50000.00,NEFTINW-0070044038,175820.46
156,107,12121312121,27-Jun-11,SWEEP TRANSFER TO [2015662468],10000.00,NaN,NaN,165820.46
157,108,12121312121,29-Jun-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,68703.00,NaN,234523.46
158,109,12121312121,29-Jun-11,SWEEP TRANSFER TO [2015697514],70000.00,NaN,NaN,164523.46
159,110,12121312121,30-Jun-11,IB:WEBSITE DEVELOPMENT CHARGES,30000.00,NaN,60486457,134523.46
160,111,12121312121,30-Jun-11,IB:S JUN SALARY,24800.00,NaN,60501053,109723.46
161,112,12121312121,30-Jun-11,REMUNERATION JUNE,20000.00,NaN,IB,89723.46
162,113,12121312121,30-Jun-11,IB: JUN INTERNSHIP PAY,7500.00,NaN,60532172,82223.46
163,114,12121312121,30-Jun-11,IB: JUN SALARY,20800.00,NaN,60538589,61423.46
164,115,12121312121,30-Jun-11,Sweep Trf From: 2015697514,NaN,70000.00,NaN,131423.46
165,116,12121312121,30-Jun-11,Sweep Trf From: 2015662468,NaN,40000.00,NaN,171423.46
166,117,12121312121,01-Jul-11,BY CLG INST 700305:IDBI AT MUMBAI,NaN,6325.00,NaN,177748.46
167,118,12121312121,01-Jul-11,PCD/2000052367/CREAM CENTRE,1072.00,NaN,7.18E+11,176676.46
168,119,12121312121,01-Jul-11,PCD/2000052367/CREAM CENTRE,345.00,NaN,7.18E+11,176331.46
169,120,12121312121,03-Jul-11,Sweep Trf From: 2015662468,NaN,60000.00,NaN,236331.46
170,121,12121312121,03-Jul-11,MB:NEFT TRANSFER TO CONSULTANT,27000.00,NaN,60681680,209331.46
171,122,12121312121,04-Jul-11,SWEEP TRANSFER TO [2015773763],20000.00,NaN,NaN,189331.46
172,123,12121312121,04-Jul-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,60809144,173581.46
173,124,12121312121,04-Jul-11,TRF FRM CYZ SERVICES PRIVATE LI,NaN,65816.00,NaN,239397.46
174,125,12121312121,09-Jul-11,Sweep Trf From: 2015773763,NaN,10000.00,NaN,249397.46
175,126,12121312121,09-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,259397.46
176,127,12121312121,09-Jul-11,New Term Deposit A/c 4911831685,20000.00,NaN,NaN,239397.46
177,128,12121312121,09-Jul-11,New Term Deposit A/c 4911831692,10000.00,NaN,NaN,229397.46
178,129,12121312121,09-Jul-11,OS:TOM HARRY,5000.00,NaN,PG-0043355848,224397.46
179,130,12121312121,09-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,219.00,2015662468TO,224616.46
180,131,12121312121,11-Jul-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,111,223716.46
181,132,12121312121,12-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,233716.46
182,133,12121312121,12-Jul-11,OS INDIGO 201625493009128,10147.00,NaN,PG-0043491060,223569.46
183,134,12121312121,12-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,17.00,2015662468TO,223586.46
184,135,12121312121,13-Jul-11,OS WWW.OLACABS.COM 6277763968,5000.00,NaN,PG-0043526793,218586.46
185,136,12121312121,14-Jul-11,Sweep Trf From: 2015662468,NaN,10000.00,NaN,228586.46
186,137,12121312121,14-Jul-11,OS WWW.MAKEMYTRIP.COM 6278951440,5214.00,NaN,PG-0043548070,223372.46
187,138,12121312121,14-Jul-11,"PCD/2000052367/BAKER STREET,/MUMBAI",208.00,NaN,7.20E+11,223164.46
188,139,12121312121,14-Jul-11,TD PREMAT PROCEEDS: 2015662468,NaN,19.00,2015662468TO,223183.46
189,140,12121312121,15-Jul-11,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,222268.46
190,141,12121312121,16-Jul-11,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,221353.46
191,142,12121312121,18-Jul-11,TO CLG,1262.00,NaN,123,220091.46
192,143,12121312121,19-Jul-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,230091.46
193,144,12121312121,19-Jul-11,OS:TOM HARRY,5000.00,NaN,PG-0043764316,225091.46
194,145,12121312121,19-Jul-11,TD PREMAT PROCEEDS: 2015623789,NaN,30.00,2015623789TO,225121.46
195,146,12121312121,20-Jul-11,OS MSEDCL 351020933,3130.00,NaN,PG-0043806301,221991.46
196,147,12121312121,21-Jul-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,231991.46
197,148,12121312121,21-Jul-11,MB:TO TRAVEL EXPENSE,7867.00,NaN,MB-999923994230,224124.46
198,149,12121312121,21-Jul-11,TD PREMAT PROCEEDS: 2015623789,NaN,32.00,2015623789TO,224156.46
199,150,12121312121,25-Jul-11,AP:BILLPAY FOR BILLPAY 0098403774,638.86,NaN,EBPP-0098403774,223517.60
200,151,12121312121,27-Jul-11,FUND TRF TO CHQ 282 FROM CYZ,NaN,3680.00,NaN,227197.60
201,152,12121312121,27-Jul-11,SWEEP TRANSFER TO [2016017490],10000.00,NaN,NaN,217197.60
202,153,12121312121,31-Jul-11,JULY REMUNERATION,20000.00,NaN,IB,197197.60
203,154,12121312121,31-Jul-11,IB: INTERNSHIP PAYMENT,7500.00,NaN,62621980,189697.60
204,155,12121312121,31-Jul-11,IB: JUL SALARY,20800.00,NaN,62632978,168897.60
205,156,12121312121,31-Jul-11,IB: JUL SALARY,24800.00,NaN,62629699,144097.60
206,157,12121312121,31-Jul-11,Sweep Trf From: 2016017490,NaN,90000.00,NaN,234097.60
207,158,12121312121,03-Aug-11,SWEEP TRANSFER TO [2016119523],50000.00,NaN,NaN,184097.60
208,159,12121312121,03-Aug-11,NEFT 1264839362,NaN,16520.00,NEFTINW-0073421390,200617.60
209,160,12121312121,03-Aug-11,NEFT N215170342356023,NaN,30000.00,NEFTINW-0073382495,230617.60
210,161,12121312121,04-Aug-11,IB:OFFICE RENT PAYMENT,15750.00,NaN,63075798,214867.60
211,162,12121312121,04-Aug-11,IMPS from SWAPNA AASH Ref 721614129568,NaN,15340.00,IMPS-721614396368,230207.60
212,163,12121312121,04-Aug-11,MB:NEFT TRANSFER TO,1750.00,NaN,63075505,228457.60
213,164,12121312121,05-Aug-11,Sweep Trf From: 2016119523,NaN,10000.00,NaN,238457.60
214,165,12121312121,05-Aug-11,PCD/2000052367/FUN INDIA,1000.00,NaN,7.22E+11,237457.60
215,166,12121312121,05-Aug-11,PCD/2000052367/VEGGIES,2250.00,NaN,7.22E+11,235207.60
216,167,12121312121,06-Aug-11,PCD/2000052367/BAR AND RESTAURANT,1450.00,NaN,7.22E+11,233757.60
217,168,12121312121,07-Aug-11,IMPS from CUSTOMER GE Ref 721918974909,NaN,10000.00,IMPS-721918097949,243757.60
218,169,12121312121,07-Aug-11,SWEEP TRANSFER TO [2016163047],10000.00,NaN,NaN,233757.60
219,170,12121312121,08-Aug-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,124,232857.60
220,171,12121312121,09-Aug-11,NEFT N221170346608018 MANDAR,NaN,10000.00,NEFTINW-0073958987,242857.60
221,172,12121312121,09-Aug-11,OS:TOM HARRY,10000.00,NaN,PG-0044652278,232857.60
222,173,12121312121,10-Aug-11,NEFT N222170347521929QWERTY,NaN,1418.00,NEFTINW-0074104441,234275.60
223,174,12121312121,12-Aug-11,IMPS from R Ref 722409181514,NaN,10000.00,IMPS-722409213195,244275.60
224,175,12121312121,12-Aug-11,SWEEP TRANSFER TO [2016224206],10000.00,NaN,NaN,234275.60
225,176,12121312121,14-Aug-11,MB:NEFT TRANSFER TO S,1930.00,NaN,63821260,232345.60
226,177,12121312121,16-Aug-11,Sweep Trf From: 2016224206,NaN,10000.00,NaN,242345.60
227,178,12121312121,16-Aug-11,Sweep Trf From: 2016163047,NaN,10000.00,NaN,252345.60
228,179,12121312121,16-Aug-11,Sweep Trf From: 2016119523,NaN,20000.00,NaN,272345.60
229,180,12121312121,16-Aug-11,OS RELIANCEJIO 201625585310403,399.00,NaN,PG-0044933936,271946.60
230,181,12121312121,19-Aug-11,SWEEP TRANSFER TO [2016287221],10000.00,NaN,NaN,261946.60
231,182,12121312121,19-Aug-11,NEFT N231170352011593 RAVISHANKAR,NaN,10000.00,NEFTINW-0074742750,271946.60
232,183,12121312121,23-Aug-11,IB:TO TRADING,4440.00,NaN,64424238,267506.60
233,184,12121312121,24-Aug-11,AP:BILLPAY FOR BILLPAY 0099392157,634.97,NaN,EBPP-0099392157,266871.63
234,185,12121312121,25-Aug-11,MB:NEFT TRANSFER TO Rameshwari,53460.00,NaN,64591305,213411.63
235,186,12121312121,25-Aug-11,TD PREMAT PROCEEDS: 2015623789,NaN,97.00,2015623789TO,213508.63
236,187,12121312121,31-Aug-11,Sweep Trf From: 2015623789,NaN,10000.00,NaN,223508.63

In [307]:
Tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Txn_ID            263 non-null    int64
 1   Account No        263 non-null    int64
 2   Date              263 non-null    object
 3   Narration         263 non-null    object
 4   Dr.Amount         164 non-null    float64
 5   Cr.Amount         99 non-null     float64
 6   Reference Number  189 non-null    object
 7   Closing Balance   263 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 16.6+ KB

In [308]:
#Creating column Txn_Amt with datatype float
Tran['Txn_Amt'] = 0.0

In [309]:
Tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Txn_ID            263 non-null    int64
 1   Account No        263 non-null    int64
 2   Date              263 non-null    object
 3   Narration         263 non-null    object
 4   Dr.Amount         164 non-null    float64
 5   Cr.Amount         99 non-null     float64
 6   Reference Number  189 non-null    object
 7   Closing Balance   263 non-null    float64
 8   Txn_Amt           263 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 18.6+ KB

In [310]:
#If the transaction Cr. Amount is not null then populate the Txn_Amt = Cr. Amount. For Dr. Amount populate the Txn_Amt = -Dr. Amount
for index, row in Tran.iterrows():
    if not pd.isna(row['Cr.Amount']):
        Tran.at[index, 'Txn_Amt'] = row['Cr.Amount']
    else:
        Tran.at[index, 'Txn_Amt'] = -row['Dr.Amount']

In [311]:
Tran.head(6) #Only showing top 5 rows

,Txn_ID,Account No,Date,Narration,Dr.Amount,Cr.Amount,Reference Number,Closing Balance,Txn_Amt
0,1,10851232494,01-Apr-11,SALARY,NaN,100000.00,3455,200000.00,100000.00
1,2,10851232494,02-Apr-11,NEFT-INDIA INFOLINE,NaN,10500.00,100000,210500.00,10500.00
2,3,10851232494,04-Apr-11,NEFT TRF TO OTHER BANK,100000.0,NaN,958,110500.00,-100000.00
3,4,10851232494,11-Apr-11,LOAN EMI PAYMENT,35000.0,NaN,1316,75500.00,-35000.00
4,5,10851232494,16-Apr-11,ECS CLG RELIANCE,NaN,5861.39,200371,81361.39,5861.39
5,6,10851232494,18-Apr-11,DD ISSUE-ON HDFC-KOLKATTA - 108513000553,7500.0,NaN,975950,73861.39,-7500.00

# Step 3: Extract the data of CASA_OPENING_BALANCE and get it in Python Environment

In [312]:
OpeningBal

    Account No       Date        Narration  Opening Balance
0  10851232494  01-Apr-11  Opening Balance        100000.00
1  10851232411  01-Apr-11  Opening Balance         20000.00
2  12121312121  01-Apr-11  Opening Balance         37870.43

# Step 3A: Rename the column where necessary

In [313]:
OpeningBal.columns #Renaming is not requred here as we can see bellow every column name is proper

Index(['Account No', 'Date', 'Narration', 'Opening Balance'], dtype='object')

# Step 3B: Create a column Txn_Amt. If the Opening Balance is positive the populate the Txn_Amt = Balance else populate the Txn_Amt = -Balance

In [314]:
OpeningBal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Account No       3 non-null      int64
 1   Date             3 non-null      object
 2   Narration        3 non-null      object
 3   Opening Balance  3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 224.0+ bytes

In [315]:
#Creating column Txn_Amt with datatype float
OpeningBal['Txn_Amt'] = 0.0

In [316]:
OpeningBal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Account No       3 non-null      int64
 1   Date             3 non-null      object
 2   Narration        3 non-null      object
 3   Opening Balance  3 non-null      float64
 4   Txn_Amt          3 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 248.0+ bytes

In [317]:
for index, row in OpeningBal.iterrows():
    if row['Opening Balance'] > 0:
        OpeningBal.at[index, 'Txn_Amt'] = row['Opening Balance']
    else:
        OpeningBal.at[index, 'Txn_Amt'] = -row['Opening Balance']

In [318]:
OpeningBal

    Account No       Date        Narration  Opening Balance    Txn_Amt
0  10851232494  01-Apr-11  Opening Balance        100000.00  100000.00
1  10851232411  01-Apr-11  Opening Balance         20000.00   20000.00
2  12121312121  01-Apr-11  Opening Balance         37870.43   37870.43

# Step 4: Get distinct YYYY-MM from CASA_TXNS

In [319]:
distinct_yyyymm = (pd.to_datetime(Tran['Date']).dt.strftime('%Y-%m')).unique()

print(distinct_yyyymm)

['2011-04' '2011-05' '2011-06' '2011-07' '2011-08' '2011-09']

# Step 5: Get distinct Account No from CASA_TXNS

In [320]:
Tran['Account No'].unique()

array([10851232494, 10851232411, 12121312121], dtype=int64)

# Step 6: Join (Merge) the output of the Step 4 and Step 5. There will be no common column to join as such the join will lead to cartesian product. (Note: There will be 18 rows after the join). This step is required to create Dummy Transaction.

In [321]:
#Converting Date column to datetime type
Tran['Date'] = pd.to_datetime(Tran['Date'], format='%d-%b-%y')

In [322]:
Tran

,Txn_ID,Account No,Date,Narration,Dr.Amount,Cr.Amount,Reference Number,Closing Balance,Txn_Amt
0,1,10851232494,2011-04-01,SALARY,NaN,100000.00,3455,200000.00,100000.00
1,2,10851232494,2011-04-02,NEFT-INDIA INFOLINE,NaN,10500.00,100000,210500.00,10500.00
2,3,10851232494,2011-04-04,NEFT TRF TO OTHER BANK,100000.00,NaN,958,110500.00,-100000.00
3,4,10851232494,2011-04-11,LOAN EMI PAYMENT,35000.00,NaN,1316,75500.00,-35000.00
4,5,10851232494,2011-04-16,ECS CLG RELIANCE,NaN,5861.39,200371,81361.39,5861.39
5,6,10851232494,2011-04-18,DD ISSUE-ON HDFC-KOLKATTA - 108513000553,7500.00,NaN,975950,73861.39,-7500.00
6,7,10851232494,2011-05-01,REIMBURSEMENTS SAL,NaN,5607.00,18011,79468.39,5607.00
7,8,10851232494,2011-05-01,SALARY,NaN,98900.00,959,178368.39,98900.00
8,9,10851232494,2011-05-04,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,118368.39,-60000.00
9,10,10851232494,2011-05-11,LOAN EMI PAYMENT,35000.00,NaN,0758A1,83368.39,-35000.00
10,11,10851232494,2011-05-15,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A1,84368.39,1000.00
11,12,10851232494,2011-05-16,LIC INSURANCE PREMIUM,22343.00,NaN,160928,62025.39,-22343.00
12,13,10851232494,2011-06-08,ATM CHQ DEPOSIT,NaN,20000.00,180112,82025.39,20000.00
13,14,10851232494,2011-06-11,LOAN EMI PAYMENT,35000.00,NaN,1001,47025.39,-35000.00
14,15,10851232494,2011-06-23,ECS CLG NTPC REVERSAL,NaN,1000.00,49594,48025.39,1000.00
15,16,10851232494,2011-07-09,NEFT CR SAL,NaN,20000.00,160930,68025.39,20000.00
16,17,10851232494,2011-07-11,LOAN EMI PAYMENT,35000.00,NaN,11234,33025.39,-35000.00
17,18,10851232494,2011-08-10,ATM CHQ DEPOSIT,NaN,35000.00,160929,68025.39,35000.00
18,19,10851232494,2011-08-12,LOAN EMI PAYMENT,35000.00,NaN,NaN,33025.39,-35000.00
19,20,10851232494,2011-08-20,ATM CASH WDL,2000.00,NaN,1001,31025.39,-2000.00
20,21,10851232494,2011-09-01,ATM CASH WDL,1000.00,NaN,1002,30025.39,-1000.00
21,22,10851232494,2011-09-09,CHQ DEPOSIT,NaN,35000.00,180123,65025.39,35000.00
22,23,10851232494,2011-09-11,LOAN EMI PAYMENT,35000.00,NaN,160931,30025.39,-35000.00
23,24,10851232494,2011-09-15,REVERSAL,750.00,NaN,NaN,29275.39,-750.00
24,25,10851232494,2011-09-15,SERVICE CHARGE & EDU CESS,76.50,NaN,NaN,29198.89,-76.50
25,1,10851232411,2011-04-10,CHEQUE DEPOSITED,NaN,5000.00,1112,25000.00,5000.00
26,2,10851232411,2011-04-10,CHEQUE DEPOSITED REVERSED,5000.00,NaN,100000,20000.00,-5000.00
27,3,10851232411,2011-04-10,O/W CHEQUE Bounce Charges,250.00,NaN,958,19750.00,-250.00
28,4,10851232411,2011-04-10,Tax on CHQ Bounce Charges,25.00,NaN,1316,19725.00,-25.00
29,5,10851232411,2011-04-14,CHEQUE DEPOSITED,NaN,5000.00,200371,24725.00,5000.00
30,6,10851232411,2011-04-25,FRANKLIN TEMPLETON MUTUAL FUND,10000.00,NaN,23232,14725.00,-10000.00
31,7,10851232411,2011-07-01,TRANSFER IN,NaN,5607.00,18011,20332.00,5607.00
32,8,10851232411,2011-07-01,TRANSFER IN,NaN,100000.00,10089,120332.00,100000.00
33,9,10851232411,2011-07-04,NEFT TRF TO REVERSAL OTHER BANK,60000.00,NaN,1601,60332.00,-60000.00
34,10,10851232411,2011-07-11,TRANSFER OUT,35000.00,NaN,0758A3,25332.00,-35000.00
35,11,10851232411,2011-07-15,CHQ DEPOSIT - REVRSAL MANGALAM CEMENTS,NaN,1000.00,1662A3,26332.00,1000.00
36,12,10851232411,2011-07-16,HDFC BANK CREDIT CARD PAYMENT,12321.89,NaN,160922,14010.11,-12321.89
37,13,10851232411,2011-07-08,ATM CHQ DEPOSIT,NaN,20000.00,180111,34010.11,20000.00
38,14,10851232411,2011-07-11,RTGS to third party,25000.00,NaN,1001,9010.11,-25000.00
39,15,10851232411,2011-07-23,IMPS transfer in,NaN,150000.00,49594,159010.11,150000.00
40,16,10851232411,2011-08-09,NEFT SALARY,20000.00,NaN,160930,139010.11,-20000.00
41,17,10851232411,2011-08-11,Electricity MSEB,1981.00,NaN,11234,137029.11,-1981.00
42,18,10851232411,2011-08-10,atm cash withdrawal,20000.00,NaN,160929,117029.11,-20000.00
43,19,10851232411,2011-08-12,Moble recharge,399.00,NaN,NaN,116630.11,-399.00
44,20,10851232411,2011-08-20,ATM CASH WDL,2000.00,NaN,1001,114630.11,-2000.00
45,21,10851232411,2011-09-01,ATM CASH WDL,1000.00,NaN,1002,113630.11,-1000.00
46,22,10851232411,2011-09-09,neft transfer in,NaN,35000.00,180123,148630.11,35000.00
47,23,10851232411,2011-09-11,neft sal to,20000.00,NaN,160931,128630.11,-20000.00
48,24,10851232411,2011-09-20,Electricity MSEB,2001.89,NaN,NaN,126628.22,-2001.89
49,25,10851232411,2011-09-21,Moble recharge,399.00,NaN,NaN,126229.22,-399.00
50,1,12121312121,2011-04-02,OS RELIANCEJIO 191625250875216,303.00,NaN,PG-0039351403,37567.43,-303.00
51,2,12121312121,2011-04-04,TO CLG SUNITA,900.00,NaN,105,36667.43,-900.00
52,3,12121312121,2011-04-04,BY CLG INST 76:UCO AT MUMBAI,NaN,15875.00,NaN,52542.43,15875.00
53,4,12121312121,2011-04-04,BY CLG INST 28:HDFC AT MUMBAI,NaN,8000.00,NaN,60542.43,8000.00
54,5,12121312121,2011-04-05,SWEEP TRANSFER TO [2014712764],10000.00,NaN,NaN,50542.43,-10000.00
55,6,12121312121,2011-04-07,OS WWW.OLACABS.COM 6079062754,400.00,NaN,PG-0039589253,50142.43,-400.00
56,7,12121312121,2011-04-07,OS PAYTM 6909486854 0039606721,350.00,NaN,PG-0039606721,49792.43,-350.00
57,8,12121312121,2011-04-07,OS WWW.OLACABS.COM 6079918036,599.00,NaN,PG-0039608768,49193.43,-599.00
58,9,12121312121,2011-04-07,Sweep Trf From: 2014712764,NaN,10000.00,NaN,59193.43,10000.00
59,10,12121312121,2011-04-09,PCD/2000052367/TECHPARK HOTELS/BANGALORE,884.41,NaN,7.10E+11,58309.02,-884.41
60,11,12121312121,2011-04-09,OS WWW.OLACABS.COM 6083830054,599.00,NaN,PG-0039698188,57710.02,-599.00
61,12,12121312121,2011-04-10,MB:PAID SWACHH BHARAT CESS,255.00,NaN,MB-999942816664,57455.02,-255.00
62,13,12121312121,2011-04-12,TRF TO FINTECH PVT LTD,3443.00,NaN,109,54012.02,-3443.00
63,14,12121312121,2011-04-12,NEFT AXTB171021531221 AEGIS,NaN,3105.00,NEFTINW-0063968604,57117.02,3105.00
64,15,12121312121,2011-04-15,NEFT N105170275727500 CYZ SERV,NaN,47250.00,NEFTINW-0064168232,104367.02,47250.00
65,16,12121312121,2011-04-15,SWEEP TRANSFER TO [2014823028],50000.00,NaN,NaN,54367.02,-50000.00
66,17,12121312121,2011-04-16,PCD/2000052367/J K EL,14990.00,NaN,7.11E+11,39377.02,-14990.00
67,18,12121312121,2011-04-16,Sweep Trf From: 2014823028,NaN,20000.00,NaN,59377.02,20000.00
68,19,12121312121,2011-04-17,MB:NEFT TRANSFER TO Neethu,2500.00,NaN,55422867,56877.02,-2500.00
69,20,12121312121,2011-04-18,TO CLG RAJENDRAKISANK,790.00,NaN,107,56087.02,-790.00
70,21,12121312121,2011-04-19,IB:ABC ASSOCIATE - REGISTRAT,5900.00,NaN,55634460,50187.02,-5900.00
71,22,12121312121,2011-04-20,OS:TOM MakeMyTrip,2500.00,NaN,PG-0040111986,47687.02,-2500.00
72,23,12121312121,2011-04-20,PCD/2000052367/HOTEL,265.00,NaN,7.11E+11,47422.02,-265.00
73,24,12121312121,2011-04-20,Sweep Trf From: 2014823028,NaN,10000.00,NaN,57422.02,10000.00
74,25,12121312121,2011-04-21,OS WWW.OLACABS.COM 6104789764,599.00,NaN,PG-0040141903,56823.02,-599.00
75,26,12121312121,2011-04-21,TRF TO ONLINE PVT LTD,3443.00,NaN,110,53380.02,-3443.00
76,27,12121312121,2011-04-21,NEFT SBIN117111947203 SBI,NaN,5674.00,NEFTINW-0064603431,59054.02,5674.00
77,28,12121312121,2011-04-21,PCD/2000052367/FAMILY TREE/MUMBAI,1130.00,NaN,7.11E+11,57924.02,-1130.00
78,29,12121312121,2011-04-24,NEFT N113170279490167 HARIKRISHNA,NaN,16000.00,NEFTINW-0064645142,73924.02,16000.00
79,30,12121312121,2011-04-24,OS MSEDCL 320978490,970.00,NaN,PG-0040252701,72954.02,-970.00
80,31,12121312121,2011-04-24,SWEEP TRANSFER TO [2014911162],20000.00,NaN,NaN,52954.02,-20000.00
81,32,12121312121,2011-04-25,AP:BILLPAY FOR BP VODAFONE 0095555024,805.01,NaN,EBPP-0095555024,52149.01,-805.01
82,33,12121312121,2011-04-25,OS:TOM INDIA NE 0040291126,2500.00,NaN,PG-0040291126,49649.01,-2500.00
83,34,12121312121,2011-04-25,Sweep Trf From: 2014911162,NaN,10000.00,NaN,59649.01,10000.00
84,35,12121312121,2011-04-26,NEFT SBIN417116558957 MR SHYAMLAL,NaN,15875.00,NEFTINW-0064938282,75524.01,15875.00
85,36,12121312121,2011-04-26,SWEEP TRANSFER TO [2014940584],20000.00,NaN,NaN,55524.01,-20000.00
86,37,12121312121,2011-04-29,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.12E+11,35524.01,-20000.00
87,38,12121312121,2011-04-29,SALARY,20800.00,NaN,56252033,14724.01,-20800.00
88,39,12121312121,2011-04-29,Sweep Trf From: 2014940584,NaN,20000.00,NaN,34724.01,20000.00
89,40,12121312121,2011-04-29,Sweep Trf From: 2014911162,NaN,10000.00,NaN,44724.01,10000.00
90,41,12121312121,2011-04-29,Sweep Trf From: 2014823028,NaN,20000.00,NaN,64724.01,20000.00
91,42,12121312121,2011-04-29,TD PREMAT PROCEEDS: 2014823028,NaN,27.00,2014823028TO,64751.01,27.00
92,43,12121312121,2011-04-30,APRIL REMUNERATION,20000.00,NaN,IB,44751.01,-20000.00
93,44,12121312121,2011-05-03,TO CLG TEA ESTATE PVT LTD,206.00,NaN,112,44545.01,-206.00
94,45,12121312121,2011-05-03,NEFT SAA268103244 VASANTHI A,NaN,8750.00,NEFTINW-0065574858,53295.01,8750.00
95,46,12121312121,2011-05-03,BY CLG INST 7:HDFC AT MUMBAI,NaN,12875.00,NaN,66170.01,12875.00
96,47,12121312121,2011-05-03,BY CLG INST 29:HDFC AT MUMBAI,NaN,6000.00,NaN,72170.01,6000.00
97,48,12121312121,2011-05-03,SWEEP TRANSFER TO [2015044186],10000.00,NaN,NaN,62170.01,-10000.00
98,49,12121312121,2011-05-04,IB:OFFICE RENT PAYMENT,15750.00,NaN,56593808,46420.01,-15750.00
99,50,12121312121,2011-05-04,OS WWW.OLACABS.COM 6130907122,599.00,NaN,PG-0040693692,45821.01,-599.00
100,51,12121312121,2011-05-04,Sweep Trf From: 2015044186,NaN,10000.00,NaN,55821.01,10000.00
101,52,12121312121,2011-05-08,TO CLG OFFICE MAINTENANCE,900.00,NaN,113,54921.01,-900.00
102,53,12121312121,2011-05-09,MB:ELECTRICAL FITTING CHARGES,1200.00,NaN,57079740,53721.01,-1200.00
103,54,12121312121,2011-05-10,BY CLG INST 111933:UBI AT MUMBAI,NaN,12225.00,NaN,65946.01,12225.00
104,55,12121312121,2011-05-10,O/W RTN:111933:FUNDS INSUFFICIENT,12225.00,NaN,NaN,53721.01,-12225.00
105,56,12121312121,2011-05-11,OS PAYTM 6976204781 0040997296,350.00,NaN,PG-0040997296,53371.01,-350.00
106,57,12121312121,2011-05-11,FUND REC FROM CYZ SERVICES PRIV,NaN,100000.00,NaN,153371.01,100000.00
107,58,12121312121,2011-05-11,SWEEP TRANSFER TO [2015139927],120000.00,NaN,NaN,33371.01,-120000.00
108,59,12121312121,2011-05-15,TO CLG CHARITY TRUST,1000.00,NaN,115,32371.01,-1000.00
109,60,12121312121,2011-05-16,PCI/2000052367/LINKEDIN/WWW.LINKED,300.00,NaN,7.14E+11,32071.01,-300.00
110,61,12121312121,2011-05-17,NEFT ANDBN17208465042 Education Trust,NaN,49555.00,NEFTINW-0066767009,81626.01,49555.00
111,62,12121312121,2011-05-17,SWEEP TRANSFER TO [2015204282],50000.00,NaN,NaN,31626.01,-50000.00
112,63,12121312121,2011-05-18,BY CLG,NaN,15000.00,NaN,46626.01,15000.00
113,64,12121312121,2011-05-18,BY CLG,175.15,NaN,NaN,46450.86,-175.15
114,65,12121312121,2011-05-18,SWEEP TRANSFER TO [2015216512],10000.00,NaN,NaN,36450.86,-10000.00
115,66,12121312121,2011-05-19,OS WWW.OLACABS.COM 6162650046,599.00,NaN,PG-0041282376,35851.86,-599.00
116,67,12121312121,2011-05-19,New Term Deposit A/c 491182,10000.00,NaN,NaN,25851.86,-10000.00
117,68,12121312121,2011-05-19,Sweep Trf From: 2015216512,NaN,20000.00,NaN,45851.86,20000.00
118,69,12121312121,2011-05-24,AP:BILLPAY FOR BP VODAFONE 0096457140,573.86,NaN,EBPP-0096457140,45278.00,-573.86
119,70,12121312121,2011-05-25,OS WWW.OLACABS.COM 6173991370,599.00,NaN,PG-0041506553,44679.00,-599.00
120,71,12121312121,2011-05-29,ATW/2000052367/EASTSIDE-CSTM END,20000.00,NaN,7.15E+11,24679.00,-20000.00
121,72,12121312121,2011-05-29,Sweep Trf From: 2015216512,NaN,50000.00,NaN,74679.00,50000.00
122,73,12121312121,2011-05-29,TD PREMAT PROCEEDS: 2015216512,NaN,21.00,2015216512TO,74700.00,21.00
123,74,12121312121,2011-05-30,MB: TRAVEL REIMBURSEMENT,2000.00,NaN,58297940,72700.00,-2000.00
124,75,12121312121,2011-05-31,IB: MAY SALARY,20800.00,NaN,58364178,51900.00,-20800.00
125,76,12121312121,2011-05-31,IB: INTERNSHIP SALARY,2000.00,NaN,58364817,49900.00,-2000.00
126,77,12121312121,2011-05-31,IB: SALARY,13133.00,NaN,58365677,36767.00,-13133.00
127,78,12121312121,2011-05-31,REMUNERATION,10000.00,NaN,IB,26767.00,-10000.00
128,79,12121312121,2011-05-31,REMUNERATION MAY,10000.00,NaN,IB,16767.00,-10000.00
129,80,12121312121,2011-05-31,REMUNERATION APR,15000.00,NaN,IB,1767.00,-15000.00
130,81,12121312121,2011-05-31,Sweep Trf From: 2015216512,NaN,10000.00,NaN,11767.00,10000.00
131,82,12121312121,2011-05-31,Sweep Trf From: 2015204282,NaN,50000.00,NaN,61767.00,50000.00
132,83,12121312121,2011-05-31,Sweep Trf From: 2015139927,NaN,40000.00,NaN,101767.00,40000.00
133,84,12121312121,2011-05-31,TD PREMAT PROCEEDS: 2015139927,NaN,219.00,2015139927TO,101986.00,219.00
134,85,12121312121,2011-05-31,TD PREMAT PROCEEDS: 2015204282,NaN,67.00,2015204282TO,102053.00,67.00
135,86,12121312121,2011-05-31,TD PREMAT PROCEEDS: 2015216512,NaN,12.00,2015216512TO,102065.00,12.00
136,87,12121312121,2011-06-02,XXXXXX2367/09609753/LINKEDIN,3400.00,NaN,7.14E+11,98665.00,-3400.00
137,88,12121312121,2011-06-03,BY CLG INST 30:HDFC AT MUMBAI,NaN,6000.00,NaN,104665.00,6000.00
138,89,12121312121,2011-06-03,OS WWW.OLACABS.COM 6192925834,599.00,NaN,PG-0041898764,104066.00,-599.00
139,90,12121312121,2011-06-05,IB:OFFICE RENT PAYMENT,15750.00,NaN,58769944,88316.00,-15750.00
140,91,12121312121,2011-06-07,TO CLG UII120800 DO,2530.00,NaN,117,85786.00,-2530.00
141,92,12121312121,2011-06-07,TO CLG RAJENDRAKISANK,760.00,NaN,114,85026.00,-760.00
142,93,12121312121,2011-06-07,IB:CC AVENUE PAYMENT GATEWAY,1380.00,NaN,59069196,83646.00,-1380.00
143,94,12121312121,2011-06-08,TO CLG OFFICE MAINTENANCE,900.00,NaN,120,82746.00,-900.00
144,95,12121312121,2011-06-08,TO CLG UII120800 DO,342.00,NaN,119,82404.00,-342.00
145,96,12121312121,2011-06-09,OS WWW.OLACABS.COM 6204753704,599.00,NaN,PG-0042145782,81805.00,-599.00
146,97,12121312121,2011-06-10,Chrg: Chq Deposited And Return 10052017,115.00,NaN,TBMS,81690.00,-115.00
147,98,12121312121,2011-06-13,NEFT N164170312060317 SHAH,NaN,50000.00,NEFTINW-0068958451,131690.00,50000.00
148,99,12121312121,2011-06-14,OS MSEBMUM 201625429636677,1020.00,NaN,PG-0042339435,130670.00,-1020.00
149,100,12121312121,2011-06-16,IB: IRCTC 0006563710,346.50,NaN,GBM-0006563710,130323.50,-346.50
150,101,12121312121,2011-06-18,OS OLA MONEY - ZIPCASH 6223280154,3000.00,NaN,PG-0042490952,127323.50,-3000.00
151,102,12121312121,2011-06-22,TO CLG RAJENDRAKISANK,770.00,NaN,116,126553.50,-770.00
152,103,12121312121,2011-06-22,TRF FRM CYZ SERVICES PRIVATE LI,NaN,20000.00,NaN,146553.50,20000.00
153,104,12121312121,2011-06-22,SWEEP TRANSFER TO [2015623789],20000.00,NaN,NaN,126553.50,-20000.00
154,105,12121312121,2011-06-25,AP:BILLPAY FOR BP VODAFONE 0097457646,733.04,NaN,EBPP-0097457646,125820.46,-733.04
155,106,12121312121,2011-06-27,NEFT N178170318986950 CLG,NaN,50000.00,NEFTINW-0070044038,175820.46,50000.00
156,107,12121312121,2011-06-27,SWEEP TRANSFER TO [2015662468],10000.00,NaN,NaN,165820.46,-10000.00
157,108,12121312121,2011-06-29,TRF FRM CYZ SERVICES PRIVATE LI,NaN,68703.00,NaN,234523.46,68703.00
158,109,12121312121,2011-06-29,SWEEP TRANSFER TO [2015697514],70000.00,NaN,NaN,164523.46,-70000.00
159,110,12121312121,2011-06-30,IB:WEBSITE DEVELOPMENT CHARGES,30000.00,NaN,60486457,134523.46,-30000.00
160,111,12121312121,2011-06-30,IB:S JUN SALARY,24800.00,NaN,60501053,109723.46,-24800.00
161,112,12121312121,2011-06-30,REMUNERATION JUNE,20000.00,NaN,IB,89723.46,-20000.00
162,113,12121312121,2011-06-30,IB: JUN INTERNSHIP PAY,7500.00,NaN,60532172,82223.46,-7500.00
163,114,12121312121,2011-06-30,IB: JUN SALARY,20800.00,NaN,60538589,61423.46,-20800.00
164,115,12121312121,2011-06-30,Sweep Trf From: 2015697514,NaN,70000.00,NaN,131423.46,70000.00
165,116,12121312121,2011-06-30,Sweep Trf From: 2015662468,NaN,40000.00,NaN,171423.46,40000.00
166,117,12121312121,2011-07-01,BY CLG INST 700305:IDBI AT MUMBAI,NaN,6325.00,NaN,177748.46,6325.00
167,118,12121312121,2011-07-01,PCD/2000052367/CREAM CENTRE,1072.00,NaN,7.18E+11,176676.46,-1072.00
168,119,12121312121,2011-07-01,PCD/2000052367/CREAM CENTRE,345.00,NaN,7.18E+11,176331.46,-345.00
169,120,12121312121,2011-07-03,Sweep Trf From: 2015662468,NaN,60000.00,NaN,236331.46,60000.00
170,121,12121312121,2011-07-03,MB:NEFT TRANSFER TO CONSULTANT,27000.00,NaN,60681680,209331.46,-27000.00
171,122,12121312121,2011-07-04,SWEEP TRANSFER TO [2015773763],20000.00,NaN,NaN,189331.46,-20000.00
172,123,12121312121,2011-07-04,IB:OFFICE RENT PAYMENT,15750.00,NaN,60809144,173581.46,-15750.00
173,124,12121312121,2011-07-04,TRF FRM CYZ SERVICES PRIVATE LI,NaN,65816.00,NaN,239397.46,65816.00
174,125,12121312121,2011-07-09,Sweep Trf From: 2015773763,NaN,10000.00,NaN,249397.46,10000.00
175,126,12121312121,2011-07-09,Sweep Trf From: 2015662468,NaN,10000.00,NaN,259397.46,10000.00
176,127,12121312121,2011-07-09,New Term Deposit A/c 4911831685,20000.00,NaN,NaN,239397.46,-20000.00
177,128,12121312121,2011-07-09,New Term Deposit A/c 4911831692,10000.00,NaN,NaN,229397.46,-10000.00
178,129,12121312121,2011-07-09,OS:TOM HARRY,5000.00,NaN,PG-0043355848,224397.46,-5000.00
179,130,12121312121,2011-07-09,TD PREMAT PROCEEDS: 2015662468,NaN,219.00,2015662468TO,224616.46,219.00
180,131,12121312121,2011-07-11,TO CLG OFFICE MAINTENANCE,900.00,NaN,111,223716.46,-900.00
181,132,12121312121,2011-07-12,Sweep Trf From: 2015662468,NaN,10000.00,NaN,233716.46,10000.00
182,133,12121312121,2011-07-12,OS INDIGO 201625493009128,10147.00,NaN,PG-0043491060,223569.46,-10147.00
183,134,12121312121,2011-07-12,TD PREMAT PROCEEDS: 2015662468,NaN,17.00,2015662468TO,223586.46,17.00
184,135,12121312121,2011-07-13,OS WWW.OLACABS.COM 6277763968,5000.00,NaN,PG-0043526793,218586.46,-5000.00
185,136,12121312121,2011-07-14,Sweep Trf From: 2015662468,NaN,10000.00,NaN,228586.46,10000.00
186,137,12121312121,2011-07-14,OS WWW.MAKEMYTRIP.COM 6278951440,5214.00,NaN,PG-0043548070,223372.46,-5214.00
187,138,12121312121,2011-07-14,"PCD/2000052367/BAKER STREET,/MUMBAI",208.00,NaN,7.20E+11,223164.46,-208.00
188,139,12121312121,2011-07-14,TD PREMAT PROCEEDS: 2015662468,NaN,19.00,2015662468TO,223183.46,19.00
189,140,12121312121,2011-07-15,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,222268.46,-915.00
190,141,12121312121,2011-07-16,PCD/2000052367/HOTEL,915.00,NaN,7.20E+11,221353.46,-915.00
191,142,12121312121,2011-07-18,TO CLG,1262.00,NaN,123,220091.46,-1262.00
192,143,12121312121,2011-07-19,Sweep Trf From: 2015623789,NaN,10000.00,NaN,230091.46,10000.00
193,144,12121312121,2011-07-19,OS:TOM HARRY,5000.00,NaN,PG-0043764316,225091.46,-5000.00
194,145,12121312121,2011-07-19,TD PREMAT PROCEEDS: 2015623789,NaN,30.00,2015623789TO,225121.46,30.00
195,146,12121312121,2011-07-20,OS MSEDCL 351020933,3130.00,NaN,PG-0043806301,221991.46,-3130.00
196,147,12121312121,2011-07-21,Sweep Trf From: 2015623789,NaN,10000.00,NaN,231991.46,10000.00
197,148,12121312121,2011-07-21,MB:TO TRAVEL EXPENSE,7867.00,NaN,MB-999923994230,224124.46,-7867.00
198,149,12121312121,2011-07-21,TD PREMAT PROCEEDS: 2015623789,NaN,32.00,2015623789TO,224156.46,32.00
199,150,12121312121,2011-07-25,AP:BILLPAY FOR BILLPAY 0098403774,638.86,NaN,EBPP-0098403774,223517.60,-638.86
200,151,12121312121,2011-07-27,FUND TRF TO CHQ 282 FROM CYZ,NaN,3680.00,NaN,227197.60,3680.00
201,152,12121312121,2011-07-27,SWEEP TRANSFER TO [2016017490],10000.00,NaN,NaN,217197.60,-10000.00
202,153,12121312121,2011-07-31,JULY REMUNERATION,20000.00,NaN,IB,197197.60,-20000.00
203,154,12121312121,2011-07-31,IB: INTERNSHIP PAYMENT,7500.00,NaN,62621980,189697.60,-7500.00
204,155,12121312121,2011-07-31,IB: JUL SALARY,20800.00,NaN,62632978,168897.60,-20800.00
205,156,12121312121,2011-07-31,IB: JUL SALARY,24800.00,NaN,62629699,144097.60,-24800.00
206,157,12121312121,2011-07-31,Sweep Trf From: 2016017490,NaN,90000.00,NaN,234097.60,90000.00
207,158,12121312121,2011-08-03,SWEEP TRANSFER TO [2016119523],50000.00,NaN,NaN,184097.60,-50000.00
208,159,12121312121,2011-08-03,NEFT 1264839362,NaN,16520.00,NEFTINW-0073421390,200617.60,16520.00
209,160,12121312121,2011-08-03,NEFT N215170342356023,NaN,30000.00,NEFTINW-0073382495,230617.60,30000.00
210,161,12121312121,2011-08-04,IB:OFFICE RENT PAYMENT,15750.00,NaN,63075798,214867.60,-15750.00
211,162,12121312121,2011-08-04,IMPS from SWAPNA AASH Ref 721614129568,NaN,15340.00,IMPS-721614396368,230207.60,15340.00
212,163,12121312121,2011-08-04,MB:NEFT TRANSFER TO,1750.00,NaN,63075505,228457.60,-1750.00

In [323]:
Tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Txn_ID            263 non-null    int64
 1   Account No        263 non-null    int64
 2   Date              263 non-null    datetime64[ns]
 3   Narration         263 non-null    object
 4   Dr.Amount         164 non-null    float64
 5   Cr.Amount         99 non-null     float64
 6   Reference Number  189 non-null    object
 7   Closing Balance   263 non-null    float64
 8   Txn_Amt           263 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(2)
memory usage: 18.6+ KB

In [324]:
#Extracting unique YYYY-MM from daate column whos datatype is datatime and storing it in distinct_yyyymm (variable)
distinct_yyyymm = Tran['Date'].dt.strftime('%Y-%m').unique()
#Extracting unique Account No and storing it in distinct_accno 
distinct_accno = Tran['Account No'].unique()
#Merging distinct_accno and distinct_yyyymm without any comman fild that why using itertools.product and saving in new name (cart_prod) with two columns name as Acc_No and Txn_Date
cart_prod = pd.DataFrame(list(itertools.product(distinct_accno, distinct_yyyymm)), columns=['Acc_No', 'Txn_Date'])

In [325]:
#Output of cart_prod table
cart_prod

         Acc_No Txn_Date
0   10851232494  2011-04
1   10851232494  2011-05
2   10851232494  2011-06
3   10851232494  2011-07
4   10851232494  2011-08
5   10851232494  2011-09
6   10851232411  2011-04
7   10851232411  2011-05
8   10851232411  2011-06
9   10851232411  2011-07
10  10851232411  2011-08
11  10851232411  2011-09
12  12121312121  2011-04
13  12121312121  2011-05
14  12121312121  2011-06
15  12121312121  2011-07
16  12121312121  2011-08
17  12121312121  2011-09

# Step 7: Do the following transformations on the Dummy Transactions created in above step:
a) The YYYY-MM dates be converted to 1st Day of the next month. For example, if the date is 2011-
04 then it should be changed to 2011-05-01 (i.e. 01-May-2011)<br>
b) Add Txn_Amt field and populate it with 0. Note: You should give appropriate names to the 
fields

In [326]:
# convert the values in the Txn_Date column to pandas datetime objects
cart_prod["Txn_Date"] = pd.to_datetime(cart_prod["Txn_Date"])

# add an offset of 1 month to each date, and change the day to the 1st day of the month
cart_prod["Txn_Date"] = cart_prod["Txn_Date"] + pd.offsets.MonthBegin(1)

# convert the dates back to strings in the format YYYY-MM-DD
cart_prod["Txn_Date"] = cart_prod["Txn_Date"].dt.strftime("%Y-%m-%d")

In [327]:
cart_prod

         Acc_No    Txn_Date
0   10851232494  2011-05-01
1   10851232494  2011-06-01
2   10851232494  2011-07-01
3   10851232494  2011-08-01
4   10851232494  2011-09-01
5   10851232494  2011-10-01
6   10851232411  2011-05-01
7   10851232411  2011-06-01
8   10851232411  2011-07-01
9   10851232411  2011-08-01
10  10851232411  2011-09-01
11  10851232411  2011-10-01
12  12121312121  2011-05-01
13  12121312121  2011-06-01
14  12121312121  2011-07-01
15  12121312121  2011-08-01
16  12121312121  2011-09-01
17  12121312121  2011-10-01

In [328]:
#Adding Txn_Amt field and populate it with 0.
cart_prod['Txn_Amt'] = 0

In [329]:
cart_prod

         Acc_No    Txn_Date  Txn_Amt
0   10851232494  2011-05-01        0
1   10851232494  2011-06-01        0
2   10851232494  2011-07-01        0
3   10851232494  2011-08-01        0
4   10851232494  2011-09-01        0
5   10851232494  2011-10-01        0
6   10851232411  2011-05-01        0
7   10851232411  2011-06-01        0
8   10851232411  2011-07-01        0
9   10851232411  2011-08-01        0
10  10851232411  2011-09-01        0
11  10851232411  2011-10-01        0
12  12121312121  2011-05-01        0
13  12121312121  2011-06-01        0
14  12121312121  2011-07-01        0
15  12121312121  2011-08-01        0
16  12121312121  2011-09-01        0
17  12121312121  2011-10-01        0

# Step 8: Union (Append) the CASA_TXNS dataframe as prepared in step 1 with the Dummy Transactions. 
Note – The number of columns in CASA_TXNS and Dummy Transactions will not be same. You require
only three columns – Account No, Txn Date, Txn Amount.

In [330]:
#Converting Date column to datetime type
cart_prod['Txn_Date'] = pd.to_datetime(cart_prod['Txn_Date'], format='%Y-%m-%d')

In [331]:
cart_prod

         Acc_No   Txn_Date  Txn_Amt
0   10851232494 2011-05-01        0
1   10851232494 2011-06-01        0
2   10851232494 2011-07-01        0
3   10851232494 2011-08-01        0
4   10851232494 2011-09-01        0
5   10851232494 2011-10-01        0
6   10851232411 2011-05-01        0
7   10851232411 2011-06-01        0
8   10851232411 2011-07-01        0
9   10851232411 2011-08-01        0
10  10851232411 2011-09-01        0
11  10851232411 2011-10-01        0
12  12121312121 2011-05-01        0
13  12121312121 2011-06-01        0
14  12121312121 2011-07-01        0
15  12121312121 2011-08-01        0
16  12121312121 2011-09-01        0
17  12121312121 2011-10-01        0

In [332]:
# Rename the columns in the CASA_TXNS dataframe
CASA_TXNS = Tran.rename(columns={'Account No': 'Acc_No', 'Date': 'Txn_Date'})

# Select only the required columns in both dataframes
CASA_TXNS = CASA_TXNS[['Acc_No', 'Txn_Date', 'Txn_Amt']]
cart_prod = cart_prod[['Acc_No', 'Txn_Date', 'Txn_Amt']]

# Append the dataframes using pd.concat()
#ignore_index=True argument is used to reset the index of the resulting dataframe to avoid duplicate index values.
result = pd.concat([CASA_TXNS, cart_prod], ignore_index=True)

print(result)

          Acc_No   Txn_Date    Txn_Amt
0    10851232494 2011-04-01  100000.00
1    10851232494 2011-04-02   10500.00
2    10851232494 2011-04-04 -100000.00
3    10851232494 2011-04-11  -35000.00
4    10851232494 2011-04-16    5861.39
5    10851232494 2011-04-18   -7500.00
6    10851232494 2011-05-01    5607.00
7    10851232494 2011-05-01   98900.00
8    10851232494 2011-05-04  -60000.00
9    10851232494 2011-05-11  -35000.00
10   10851232494 2011-05-15    1000.00
11   10851232494 2011-05-16  -22343.00
12   10851232494 2011-06-08   20000.00
13   10851232494 2011-06-11  -35000.00
14   10851232494 2011-06-23    1000.00
15   10851232494 2011-07-09   20000.00
16   10851232494 2011-07-11  -35000.00
17   10851232494 2011-08-10   35000.00
18   10851232494 2011-08-12  -35000.00
19   10851232494 2011-08-20   -2000.00
20   10851232494 2011-09-01   -1000.00
21   10851232494 2011-09-09   35000.00
22   10851232494 2011-09-11  -35000.00
23   10851232494 2011-09-15    -750.00
24   10851232494 2011-09-15     -76.50
25   10851232411 2011-04-10    5000.00
26   10851232411 2011-04-10   -5000.00
27   10851232411 2011-04-10    -250.00
28   10851232411 2011-04-10     -25.00
29   10851232411 2011-04-14    5000.00
30   10851232411 2011-04-25  -10000.00
31   10851232411 2011-07-01    5607.00
32   10851232411 2011-07-01  100000.00
33   10851232411 2011-07-04  -60000.00
34   10851232411 2011-07-11  -35000.00
35   10851232411 2011-07-15    1000.00
36   10851232411 2011-07-16  -12321.89
37   10851232411 2011-07-08   20000.00
38   10851232411 2011-07-11  -25000.00
39   10851232411 2011-07-23  150000.00
40   10851232411 2011-08-09  -20000.00
41   10851232411 2011-08-11   -1981.00
42   10851232411 2011-08-10  -20000.00
43   10851232411 2011-08-12    -399.00
44   10851232411 2011-08-20   -2000.00
45   10851232411 2011-09-01   -1000.00
46   10851232411 2011-09-09   35000.00
47   10851232411 2011-09-11  -20000.00
48   10851232411 2011-09-20   -2001.89
49   10851232411 2011-09-21    -399.00
50   12121312121 2011-04-02    -303.00
51   12121312121 2011-04-04    -900.00
52   12121312121 2011-04-04   15875.00
53   12121312121 2011-04-04    8000.00
54   12121312121 2011-04-05  -10000.00
55   12121312121 2011-04-07    -400.00
56   12121312121 2011-04-07    -350.00
57   12121312121 2011-04-07    -599.00
58   12121312121 2011-04-07   10000.00
59   12121312121 2011-04-09    -884.41
60   12121312121 2011-04-09    -599.00
61   12121312121 2011-04-10    -255.00
62   12121312121 2011-04-12   -3443.00
63   12121312121 2011-04-12    3105.00
64   12121312121 2011-04-15   47250.00
65   12121312121 2011-04-15  -50000.00
66   12121312121 2011-04-16  -14990.00
67   12121312121 2011-04-16   20000.00
68   12121312121 2011-04-17   -2500.00
69   12121312121 2011-04-18    -790.00
70   12121312121 2011-04-19   -5900.00
71   12121312121 2011-04-20   -2500.00
72   12121312121 2011-04-20    -265.00
73   12121312121 2011-04-20   10000.00
74   12121312121 2011-04-21    -599.00
75   12121312121 2011-04-21   -3443.00
76   12121312121 2011-04-21    5674.00
77   12121312121 2011-04-21   -1130.00
78   12121312121 2011-04-24   16000.00
79   12121312121 2011-04-24    -970.00
80   12121312121 2011-04-24  -20000.00
81   12121312121 2011-04-25    -805.01
82   12121312121 2011-04-25   -2500.00
83   12121312121 2011-04-25   10000.00
84   12121312121 2011-04-26   15875.00
85   12121312121 2011-04-26  -20000.00
86   12121312121 2011-04-29  -20000.00
87   12121312121 2011-04-29  -20800.00
88   12121312121 2011-04-29   20000.00
89   12121312121 2011-04-29   10000.00
90   12121312121 2011-04-29   20000.00
91   12121312121 2011-04-29      27.00
92   12121312121 2011-04-30  -20000.00
93   12121312121 2011-05-03    -206.00
94   12121312121 2011-05-03    8750.00
95   12121312121 2011-05-03   12875.00
96   12121312121 2011-05-03    6000.00
97   12121312121 2011-05-03  -10000.00
98   12121312121 2011-05-04  -15750.00
99   12121312121 2011-05-04    -599.00
100  12121312121 2011-05-04   10000.00
101  12121312121 2011-05-08    -900.00
102  12121312121 2011-05-09   -1200.00
103  12121312121 2011-05-10   12225.00
104  12121312121 2011-05-10  -12225.00
105  12121312121 2011-05-11    -350.00
106  12121312121 2011-05-11  100000.00
107  12121312121 2011-05-11 -120000.00
108  12121312121 2011-05-15   -1000.00
109  12121312121 2011-05-16    -300.00
110  12121312121 2011-05-17   49555.00
111  12121312121 2011-05-17  -50000.00
112  12121312121 2011-05-18   15000.00
113  12121312121 2011-05-18    -175.15
114  12121312121 2011-05-18  -10000.00
115  12121312121 2011-05-19    -599.00
116  12121312121 2011-05-19  -10000.00
117  12121312121 2011-05-19   20000.00
118  12121312121 2011-05-24    -573.86
119  12121312121 2011-05-25    -599.00
120  12121312121 2011-05-29  -20000.00
121  12121312121 2011-05-29   50000.00
122  12121312121 2011-05-29      21.00
123  12121312121 2011-05-30   -2000.00
124  12121312121 2011-05-31  -20800.00
125  12121312121 2011-05-31   -2000.00
126  12121312121 2011-05-31  -13133.00
127  12121312121 2011-05-31  -10000.00
128  12121312121 2011-05-31  -10000.00
129  12121312121 2011-05-31  -15000.00
130  12121312121 2011-05-31   10000.00
131  12121312121 2011-05-31   50000.00
132  12121312121 2011-05-31   40000.00
133  12121312121 2011-05-31     219.00
134  12121312121 2011-05-31      67.00
135  12121312121 2011-05-31      12.00
136  12121312121 2011-06-02   -3400.00
137  12121312121 2011-06-03    6000.00
138  12121312121 2011-06-03    -599.00
139  12121312121 2011-06-05  -15750.00
140  12121312121 2011-06-07   -2530.00
141  12121312121 2011-06-07    -760.00
142  12121312121 2011-06-07   -1380.00
143  12121312121 2011-06-08    -900.00
144  12121312121 2011-06-08    -342.00
145  12121312121 2011-06-09    -599.00
146  12121312121 2011-06-10    -115.00
147  12121312121 2011-06-13   50000.00
148  12121312121 2011-06-14   -1020.00
149  12121312121 2011-06-16    -346.50
150  12121312121 2011-06-18   -3000.00
151  12121312121 2011-06-22    -770.00
152  12121312121 2011-06-22   20000.00
153  12121312121 2011-06-22  -20000.00
154  12121312121 2011-06-25    -733.04
155  12121312121 2011-06-27   50000.00
156  12121312121 2011-06-27  -10000.00
157  12121312121 2011-06-29   68703.00
158  12121312121 2011-06-29  -70000.00
159  12121312121 2011-06-30  -30000.00
160  12121312121 2011-06-30  -24800.00
161  12121312121 2011-06-30  -20000.00
162  12121312121 2011-06-30   -7500.00
163  12121312121 2011-06-30  -20800.00
164  12121312121 2011-06-30   70000.00
165  12121312121 2011-06-30   40000.00
166  12121312121 2011-07-01    6325.00
167  12121312121 2011-07-01   -1072.00
168  12121312121 2011-07-01    -345.00
169  12121312121 2011-07-03   60000.00
170  12121312121 2011-07-03  -27000.00
171  12121312121 2011-07-04  -20000.00
172  12121312121 2011-07-04  -15750.00
173  12121312121 2011-07-04   65816.00
174  12121312121 2011-07-09   10000.00
175  12121312121 2011-07-09   10000.00
176  12121312121 2011-07-09  -20000.00
177  12121312121 2011-07-09  -10000.00
178  12121312121 2011-07-09   -5000.00
179  12121312121 2011-07-09     219.00
180  12121312121 2011-07-11    -900.00
181  12121312121 2011-07-12   10000.00
182  12121312121 2011-07-12  -10147.00
183  12121312121 2011-07-12      17.00
184  12121312121 2011-07-13   -5000.00
185  12121312121 2011-07-14   10000.00
186  12121312121 2011-07-14   -5214.00
187  12121312121 2011-07-14    -208.00
188  12121312121 2011-07-14      19.00
189  12121312121 2011-07-15    -915.00
190  12121312121 2011-07-16    -915.00
191  12121312121 2011-07-18   -1262.00
192  12121312121 2011-07-19   10000.00
193  12121312121 2011-07-19   -5000.00
194  12121312121 2011-07-19      30.00
195  12121312121 2011-07-20   -3130.00
196  12121312121 2011-07-21   10000.00
197  12121312121 2011-07-21   -7867.00
198  12121312121 2011-07-21      32.00
199  12121312121 2011-07-25    -638.86
200  12121312121 2011-07-27    3680.00
201  12121312121 2011-07-27  -10000.00
202  12121312121 2011-07-31  -20000.00
203  12121312121 2011-07-31   -7500.00
204  12121312121 2011-07-31  -20800.00
205  12121312121 2011-07-31  -24800.00
206  12121312121 2011-07-31   90000.00
207  12121312121 2011-08-03  -50000.00
208  12121312121 2011-08-03   16520.00
209  12121312121 2011-08-03   30000.00
210  12121312121 2011-08-04  -15750.00
211  12121312121 2011-08-04   15340.00
212  12121312121 2011-08-04   -1750.00
213  12121312121 2011-08-05   10000.00
214  12121312121 2011-08-05   -1000.00
215  12121312121 2011-08-05   -2250.00
216  12121312121 2011-08-06   -1450.00
217  12121312121 2011-08-07   10000.00
218  12121312121 2011-08-07  -10000.00
219  12121312121 2011-08-08    -900.00
220  12121312121 2011-08-09   10000.00
221  12121312121 2011-08-09  -10000.00
222  12121312121 2011-08-10    1418.00
223  12121312121 2011-08-12   10000.00
224  12121312121 2011-08-12  -10000.00
225  12121312121 2011-08-14   -1930.00
226  12121312121 2011-08-16   10000.00
227  12121312121 2011-08-16   10000.00
228  12121312121 2011-08-16   20000.00
229  12121312121 2011-08-16    -399.00
230  12121312121 2011-08-19  -10000.00
231  12121312121 2011-08-19   10000.00
232  12121312121 2011-08-23   -4440.00
233  12121312121 2011-08-24    -634.97
234  12121312121 2011-08-25  -53460.00
235  12121312121 2011-08-25      97.00
236  12121312121 2011-08-31   10000.00
237  12121312121 2011-08-31   -3500.00
238  12121312121 2011-08-31  -20800.00
239  12121312121 2011-08-31  -22380.00
240  12121312121 2011-08-31     105.00
241  12121312121 2011-09-01   15000.00
242  12121312121 2011-09-01   -5255.00
243  12121312121 2011-09-04  -15750.00
244  12121312121 2011-09-05   10000.00
245  12121312121 2011-09-06   35000.00
246  12121312121 2011-09-11   10000.00
247  12121312121 2011-09-12    -900.00
248  12121312121 2011-09-12   16500.00
249  12121312121 2011-09-14  -30000.00
250  12121312121 2011-09-15   10000.00
251  12121312121 2011-09-16   -5000.00
252  12121312121 2011-09-19    -900.00
253  12121312121 2011-09-21   -2785.00
254  12121312121 2011-09-21   10000.00
255  12121312121 2011-09-21   -1950.00
256  12121312121 2011-09-22   11210.00
257  12121312121 2011-09-22  -20000.00
258  12121312121 2011-09-25    -656.68
259  12121312121 2011-09-25  -10000.00
260  12121312121 2011-09-25   10000.00
261  12121312121 2011-09-27  -20000.00
262  12121312121 2011-09-27      12.00
263  10851232494 2011-05-01       0.00
264  10851232494 2011-06-01       0.00
265  10851232494 2011-07-01       0.00
266  10851232494 2011-08-01       0.00
267  10851232494 2011-09-01       0.00
268  10851232494 2011-10-01       0.00
269  10851232411 2011-05-01       0.00
270  10851232411 2011-06-01       0.00
271  10851232411 2011-07-01       0.00
272  10851232411 2011-08-01       0.00
273  10851232411 2011-09-01       0.00
274  10851232411 2011-10-01       0.00
275  12121312121 2011-05-01       0.00
276  12121312121 2011-06-01       0.00
277  12121312121 2011-07-01       0.00
278  12121312121 2011-08-01       0.00
279  12121312121 2011-09-01       0.00
280  12121312121 2011-10-01       0.00

In [333]:
Tran_Cart=pd.DataFrame(result)

In [334]:
Tran_Cart

          Acc_No   Txn_Date    Txn_Amt
0    10851232494 2011-04-01  100000.00
1    10851232494 2011-04-02   10500.00
2    10851232494 2011-04-04 -100000.00
3    10851232494 2011-04-11  -35000.00
4    10851232494 2011-04-16    5861.39
5    10851232494 2011-04-18   -7500.00
6    10851232494 2011-05-01    5607.00
7    10851232494 2011-05-01   98900.00
8    10851232494 2011-05-04  -60000.00
9    10851232494 2011-05-11  -35000.00
10   10851232494 2011-05-15    1000.00
11   10851232494 2011-05-16  -22343.00
12   10851232494 2011-06-08   20000.00
13   10851232494 2011-06-11  -35000.00
14   10851232494 2011-06-23    1000.00
15   10851232494 2011-07-09   20000.00
16   10851232494 2011-07-11  -35000.00
17   10851232494 2011-08-10   35000.00
18   10851232494 2011-08-12  -35000.00
19   10851232494 2011-08-20   -2000.00
20   10851232494 2011-09-01   -1000.00
21   10851232494 2011-09-09   35000.00
22   10851232494 2011-09-11  -35000.00
23   10851232494 2011-09-15    -750.00
24   10851232494 2011-09-15     -76.50
25   10851232411 2011-04-10    5000.00
26   10851232411 2011-04-10   -5000.00
27   10851232411 2011-04-10    -250.00
28   10851232411 2011-04-10     -25.00
29   10851232411 2011-04-14    5000.00
30   10851232411 2011-04-25  -10000.00
31   10851232411 2011-07-01    5607.00
32   10851232411 2011-07-01  100000.00
33   10851232411 2011-07-04  -60000.00
34   10851232411 2011-07-11  -35000.00
35   10851232411 2011-07-15    1000.00
36   10851232411 2011-07-16  -12321.89
37   10851232411 2011-07-08   20000.00
38   10851232411 2011-07-11  -25000.00
39   10851232411 2011-07-23  150000.00
40   10851232411 2011-08-09  -20000.00
41   10851232411 2011-08-11   -1981.00
42   10851232411 2011-08-10  -20000.00
43   10851232411 2011-08-12    -399.00
44   10851232411 2011-08-20   -2000.00
45   10851232411 2011-09-01   -1000.00
46   10851232411 2011-09-09   35000.00
47   10851232411 2011-09-11  -20000.00
48   10851232411 2011-09-20   -2001.89
49   10851232411 2011-09-21    -399.00
50   12121312121 2011-04-02    -303.00
51   12121312121 2011-04-04    -900.00
52   12121312121 2011-04-04   15875.00
53   12121312121 2011-04-04    8000.00
54   12121312121 2011-04-05  -10000.00
55   12121312121 2011-04-07    -400.00
56   12121312121 2011-04-07    -350.00
57   12121312121 2011-04-07    -599.00
58   12121312121 2011-04-07   10000.00
59   12121312121 2011-04-09    -884.41
60   12121312121 2011-04-09    -599.00
61   12121312121 2011-04-10    -255.00
62   12121312121 2011-04-12   -3443.00
63   12121312121 2011-04-12    3105.00
64   12121312121 2011-04-15   47250.00
65   12121312121 2011-04-15  -50000.00
66   12121312121 2011-04-16  -14990.00
67   12121312121 2011-04-16   20000.00
68   12121312121 2011-04-17   -2500.00
69   12121312121 2011-04-18    -790.00
70   12121312121 2011-04-19   -5900.00
71   12121312121 2011-04-20   -2500.00
72   12121312121 2011-04-20    -265.00
73   12121312121 2011-04-20   10000.00
74   12121312121 2011-04-21    -599.00
75   12121312121 2011-04-21   -3443.00
76   12121312121 2011-04-21    5674.00
77   12121312121 2011-04-21   -1130.00
78   12121312121 2011-04-24   16000.00
79   12121312121 2011-04-24    -970.00
80   12121312121 2011-04-24  -20000.00
81   12121312121 2011-04-25    -805.01
82   12121312121 2011-04-25   -2500.00
83   12121312121 2011-04-25   10000.00
84   12121312121 2011-04-26   15875.00
85   12121312121 2011-04-26  -20000.00
86   12121312121 2011-04-29  -20000.00
87   12121312121 2011-04-29  -20800.00
88   12121312121 2011-04-29   20000.00
89   12121312121 2011-04-29   10000.00
90   12121312121 2011-04-29   20000.00
91   12121312121 2011-04-29      27.00
92   12121312121 2011-04-30  -20000.00
93   12121312121 2011-05-03    -206.00
94   12121312121 2011-05-03    8750.00
95   12121312121 2011-05-03   12875.00
96   12121312121 2011-05-03    6000.00
97   12121312121 2011-05-03  -10000.00
98   12121312121 2011-05-04  -15750.00
99   12121312121 2011-05-04    -599.00
100  12121312121 2011-05-04   10000.00
101  12121312121 2011-05-08    -900.00
102  12121312121 2011-05-09   -1200.00
103  12121312121 2011-05-10   12225.00
104  12121312121 2011-05-10  -12225.00
105  12121312121 2011-05-11    -350.00
106  12121312121 2011-05-11  100000.00
107  12121312121 2011-05-11 -120000.00
108  12121312121 2011-05-15   -1000.00
109  12121312121 2011-05-16    -300.00
110  12121312121 2011-05-17   49555.00
111  12121312121 2011-05-17  -50000.00
112  12121312121 2011-05-18   15000.00
113  12121312121 2011-05-18    -175.15
114  12121312121 2011-05-18  -10000.00
115  12121312121 2011-05-19    -599.00
116  12121312121 2011-05-19  -10000.00
117  12121312121 2011-05-19   20000.00
118  12121312121 2011-05-24    -573.86
119  12121312121 2011-05-25    -599.00
120  12121312121 2011-05-29  -20000.00
121  12121312121 2011-05-29   50000.00
122  12121312121 2011-05-29      21.00
123  12121312121 2011-05-30   -2000.00
124  12121312121 2011-05-31  -20800.00
125  12121312121 2011-05-31   -2000.00
126  12121312121 2011-05-31  -13133.00
127  12121312121 2011-05-31  -10000.00
128  12121312121 2011-05-31  -10000.00
129  12121312121 2011-05-31  -15000.00
130  12121312121 2011-05-31   10000.00
131  12121312121 2011-05-31   50000.00
132  12121312121 2011-05-31   40000.00
133  12121312121 2011-05-31     219.00
134  12121312121 2011-05-31      67.00
135  12121312121 2011-05-31      12.00
136  12121312121 2011-06-02   -3400.00
137  12121312121 2011-06-03    6000.00
138  12121312121 2011-06-03    -599.00
139  12121312121 2011-06-05  -15750.00
140  12121312121 2011-06-07   -2530.00
141  12121312121 2011-06-07    -760.00
142  12121312121 2011-06-07   -1380.00
143  12121312121 2011-06-08    -900.00
144  12121312121 2011-06-08    -342.00
145  12121312121 2011-06-09    -599.00
146  12121312121 2011-06-10    -115.00
147  12121312121 2011-06-13   50000.00
148  12121312121 2011-06-14   -1020.00
149  12121312121 2011-06-16    -346.50
150  12121312121 2011-06-18   -3000.00
151  12121312121 2011-06-22    -770.00
152  12121312121 2011-06-22   20000.00
153  12121312121 2011-06-22  -20000.00
154  12121312121 2011-06-25    -733.04
155  12121312121 2011-06-27   50000.00
156  12121312121 2011-06-27  -10000.00
157  12121312121 2011-06-29   68703.00
158  12121312121 2011-06-29  -70000.00
159  12121312121 2011-06-30  -30000.00
160  12121312121 2011-06-30  -24800.00
161  12121312121 2011-06-30  -20000.00
162  12121312121 2011-06-30   -7500.00
163  12121312121 2011-06-30  -20800.00
164  12121312121 2011-06-30   70000.00
165  12121312121 2011-06-30   40000.00
166  12121312121 2011-07-01    6325.00
167  12121312121 2011-07-01   -1072.00
168  12121312121 2011-07-01    -345.00
169  12121312121 2011-07-03   60000.00
170  12121312121 2011-07-03  -27000.00
171  12121312121 2011-07-04  -20000.00
172  12121312121 2011-07-04  -15750.00
173  12121312121 2011-07-04   65816.00
174  12121312121 2011-07-09   10000.00
175  12121312121 2011-07-09   10000.00
176  12121312121 2011-07-09  -20000.00
177  12121312121 2011-07-09  -10000.00
178  12121312121 2011-07-09   -5000.00
179  12121312121 2011-07-09     219.00
180  12121312121 2011-07-11    -900.00
181  12121312121 2011-07-12   10000.00
182  12121312121 2011-07-12  -10147.00
183  12121312121 2011-07-12      17.00
184  12121312121 2011-07-13   -5000.00
185  12121312121 2011-07-14   10000.00
186  12121312121 2011-07-14   -5214.00
187  12121312121 2011-07-14    -208.00
188  12121312121 2011-07-14      19.00
189  12121312121 2011-07-15    -915.00
190  12121312121 2011-07-16    -915.00
191  12121312121 2011-07-18   -1262.00
192  12121312121 2011-07-19   10000.00
193  12121312121 2011-07-19   -5000.00
194  12121312121 2011-07-19      30.00
195  12121312121 2011-07-20   -3130.00
196  12121312121 2011-07-21   10000.00
197  12121312121 2011-07-21   -7867.00
198  12121312121 2011-07-21      32.00
199  12121312121 2011-07-25    -638.86
200  12121312121 2011-07-27    3680.00
201  12121312121 2011-07-27  -10000.00
202  12121312121 2011-07-31  -20000.00
203  12121312121 2011-07-31   -7500.00
204  12121312121 2011-07-31  -20800.00
205  12121312121 2011-07-31  -24800.00
206  12121312121 2011-07-31   90000.00
207  12121312121 2011-08-03  -50000.00
208  12121312121 2011-08-03   16520.00
209  12121312121 2011-08-03   30000.00
210  12121312121 2011-08-04  -15750.00
211  12121312121 2011-08-04   15340.00
212  12121312121 2011-08-04   -1750.00
213  12121312121 2011-08-05   10000.00
214  12121312121 2011-08-05   -1000.00
215  12121312121 2011-08-05   -2250.00
216  12121312121 2011-08-06   -1450.00
217  12121312121 2011-08-07   10000.00
218  12121312121 2011-08-07  -10000.00
219  12121312121 2011-08-08    -900.00
220  12121312121 2011-08-09   10000.00
221  12121312121 2011-08-09  -10000.00
222  12121312121 2011-08-10    1418.00
223  12121312121 2011-08-12   10000.00
224  12121312121 2011-08-12  -10000.00
225  12121312121 2011-08-14   -1930.00
226  12121312121 2011-08-16   10000.00
227  12121312121 2011-08-16   10000.00
228  12121312121 2011-08-16   20000.00
229  12121312121 2011-08-16    -399.00
230  12121312121 2011-08-19  -10000.00
231  12121312121 2011-08-19   10000.00
232  12121312121 2011-08-23   -4440.00
233  12121312121 2011-08-24    -634.97
234  12121312121 2011-08-25  -53460.00
235  12121312121 2011-08-25      97.00
236  12121312121 2011-08-31   10000.00
237  12121312121 2011-08-31   -3500.00
238  12121312121 2011-08-31  -20800.00
239  12121312121 2011-08-31  -22380.00
240  12121312121 2011-08-31     105.00
241  12121312121 2011-09-01   15000.00
242  12121312121 2011-09-01   -5255.00
243  12121312121 2011-09-04  -15750.00
244  12121312121 2011-09-05   10000.00
245  12121312121 2011-09-06   35000.00
246  12121312121 2011-09-11   10000.00
247  12121312121 2011-09-12    -900.00
248  12121312121 2011-09-12   16500.00
249  12121312121 2011-09-14  -30000.00
250  12121312121 2011-09-15   10000.00
251  12121312121 2011-09-16   -5000.00
252  12121312121 2011-09-19    -900.00
253  12121312121 2011-09-21   -2785.00
254  12121312121 2011-09-21   10000.00
255  12121312121 2011-09-21   -1950.00
256  12121312121 2011-09-22   11210.00
257  12121312121 2011-09-22  -20000.00
258  12121312121 2011-09-25    -656.68
259  12121312121 2011-09-25  -10000.00
260  12121312121 2011-09-25   10000.00
261  12121312121 2011-09-27  -20000.00
262  12121312121 2011-09-27      12.00
263  10851232494 2011-05-01       0.00
264  10851232494 2011-06-01       0.00
265  10851232494 2011-07-01       0.00
266  10851232494 2011-08-01       0.00
267  10851232494 2011-09-01       0.00
268  10851232494 2011-10-01       0.00
269  10851232411 2011-05-01       0.00
270  10851232411 2011-06-01       0.00
271  10851232411 2011-07-01       0.00
272  10851232411 2011-08-01       0.00
273  10851232411 2011-09-01       0.00
274  10851232411 2011-10-01       0.00
275  12121312121 2011-05-01       0.00
276  12121312121 2011-06-01       0.00
277  12121312121 2011-07-01       0.00
278  12121312121 2011-08-01       0.00
279  12121312121 2011-09-01       0.00
280  12121312121 2011-10-01       0.00

# Step 9: Union (Append) the output of Step 8 with Output of Step 3

In [335]:
OpeningBal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Account No       3 non-null      int64
 1   Date             3 non-null      object
 2   Narration        3 non-null      object
 3   Opening Balance  3 non-null      float64
 4   Txn_Amt          3 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 248.0+ bytes

In [336]:
OpeningBal

    Account No       Date        Narration  Opening Balance    Txn_Amt
0  10851232494  01-Apr-11  Opening Balance        100000.00  100000.00
1  10851232411  01-Apr-11  Opening Balance         20000.00   20000.00
2  12121312121  01-Apr-11  Opening Balance         37870.43   37870.43

In [337]:
#Converting Date column to datetime type
OpeningBal['Date'] = pd.to_datetime(OpeningBal['Date'], format='%d-%b-%y')

In [338]:
OpeningBal

    Account No       Date        Narration  Opening Balance    Txn_Amt
0  10851232494 2011-04-01  Opening Balance        100000.00  100000.00
1  10851232411 2011-04-01  Opening Balance         20000.00   20000.00
2  12121312121 2011-04-01  Opening Balance         37870.43   37870.43

In [339]:
# Rename the columns in the CASA_TXNS dataframe
CASA_OPENING_BALANCE = OpeningBal.rename(columns={'Account No': 'Acc_No', 'Date': 'Txn_Date'})

# Select only the required columns in both dataframes
Tran_Cart = Tran_Cart[['Acc_No', 'Txn_Date', 'Txn_Amt']]
CASA_OPENING_BALANCE = CASA_OPENING_BALANCE[['Acc_No', 'Txn_Date', 'Txn_Amt']]

# Append the dataframes using pd.concat()
#ignore_index=True argument is used to reset the index of the resulting dataframe to avoid duplicate index values.
result_1 = pd.concat([Tran_Cart, CASA_OPENING_BALANCE], ignore_index=True)

print(result_1)

          Acc_No   Txn_Date    Txn_Amt
0    10851232494 2011-04-01  100000.00
1    10851232494 2011-04-02   10500.00
2    10851232494 2011-04-04 -100000.00
3    10851232494 2011-04-11  -35000.00
4    10851232494 2011-04-16    5861.39
5    10851232494 2011-04-18   -7500.00
6    10851232494 2011-05-01    5607.00
7    10851232494 2011-05-01   98900.00
8    10851232494 2011-05-04  -60000.00
9    10851232494 2011-05-11  -35000.00
10   10851232494 2011-05-15    1000.00
11   10851232494 2011-05-16  -22343.00
12   10851232494 2011-06-08   20000.00
13   10851232494 2011-06-11  -35000.00
14   10851232494 2011-06-23    1000.00
15   10851232494 2011-07-09   20000.00
16   10851232494 2011-07-11  -35000.00
17   10851232494 2011-08-10   35000.00
18   10851232494 2011-08-12  -35000.00
19   10851232494 2011-08-20   -2000.00
20   10851232494 2011-09-01   -1000.00
21   10851232494 2011-09-09   35000.00
22   10851232494 2011-09-11  -35000.00
23   10851232494 2011-09-15    -750.00
24   10851232494 2011-09-15     -76.50
25   10851232411 2011-04-10    5000.00
26   10851232411 2011-04-10   -5000.00
27   10851232411 2011-04-10    -250.00
28   10851232411 2011-04-10     -25.00
29   10851232411 2011-04-14    5000.00
30   10851232411 2011-04-25  -10000.00
31   10851232411 2011-07-01    5607.00
32   10851232411 2011-07-01  100000.00
33   10851232411 2011-07-04  -60000.00
34   10851232411 2011-07-11  -35000.00
35   10851232411 2011-07-15    1000.00
36   10851232411 2011-07-16  -12321.89
37   10851232411 2011-07-08   20000.00
38   10851232411 2011-07-11  -25000.00
39   10851232411 2011-07-23  150000.00
40   10851232411 2011-08-09  -20000.00
41   10851232411 2011-08-11   -1981.00
42   10851232411 2011-08-10  -20000.00
43   10851232411 2011-08-12    -399.00
44   10851232411 2011-08-20   -2000.00
45   10851232411 2011-09-01   -1000.00
46   10851232411 2011-09-09   35000.00
47   10851232411 2011-09-11  -20000.00
48   10851232411 2011-09-20   -2001.89
49   10851232411 2011-09-21    -399.00
50   12121312121 2011-04-02    -303.00
51   12121312121 2011-04-04    -900.00
52   12121312121 2011-04-04   15875.00
53   12121312121 2011-04-04    8000.00
54   12121312121 2011-04-05  -10000.00
55   12121312121 2011-04-07    -400.00
56   12121312121 2011-04-07    -350.00
57   12121312121 2011-04-07    -599.00
58   12121312121 2011-04-07   10000.00
59   12121312121 2011-04-09    -884.41
60   12121312121 2011-04-09    -599.00
61   12121312121 2011-04-10    -255.00
62   12121312121 2011-04-12   -3443.00
63   12121312121 2011-04-12    3105.00
64   12121312121 2011-04-15   47250.00
65   12121312121 2011-04-15  -50000.00
66   12121312121 2011-04-16  -14990.00
67   12121312121 2011-04-16   20000.00
68   12121312121 2011-04-17   -2500.00
69   12121312121 2011-04-18    -790.00
70   12121312121 2011-04-19   -5900.00
71   12121312121 2011-04-20   -2500.00
72   12121312121 2011-04-20    -265.00
73   12121312121 2011-04-20   10000.00
74   12121312121 2011-04-21    -599.00
75   12121312121 2011-04-21   -3443.00
76   12121312121 2011-04-21    5674.00
77   12121312121 2011-04-21   -1130.00
78   12121312121 2011-04-24   16000.00
79   12121312121 2011-04-24    -970.00
80   12121312121 2011-04-24  -20000.00
81   12121312121 2011-04-25    -805.01
82   12121312121 2011-04-25   -2500.00
83   12121312121 2011-04-25   10000.00
84   12121312121 2011-04-26   15875.00
85   12121312121 2011-04-26  -20000.00
86   12121312121 2011-04-29  -20000.00
87   12121312121 2011-04-29  -20800.00
88   12121312121 2011-04-29   20000.00
89   12121312121 2011-04-29   10000.00
90   12121312121 2011-04-29   20000.00
91   12121312121 2011-04-29      27.00
92   12121312121 2011-04-30  -20000.00
93   12121312121 2011-05-03    -206.00
94   12121312121 2011-05-03    8750.00
95   12121312121 2011-05-03   12875.00
96   12121312121 2011-05-03    6000.00
97   12121312121 2011-05-03  -10000.00
98   12121312121 2011-05-04  -15750.00
99   12121312121 2011-05-04    -599.00
100  12121312121 2011-05-04   10000.00
101  12121312121 2011-05-08    -900.00
102  12121312121 2011-05-09   -1200.00
103  12121312121 2011-05-10   12225.00
104  12121312121 2011-05-10  -12225.00
105  12121312121 2011-05-11    -350.00
106  12121312121 2011-05-11  100000.00
107  12121312121 2011-05-11 -120000.00
108  12121312121 2011-05-15   -1000.00
109  12121312121 2011-05-16    -300.00
110  12121312121 2011-05-17   49555.00
111  12121312121 2011-05-17  -50000.00
112  12121312121 2011-05-18   15000.00
113  12121312121 2011-05-18    -175.15
114  12121312121 2011-05-18  -10000.00
115  12121312121 2011-05-19    -599.00
116  12121312121 2011-05-19  -10000.00
117  12121312121 2011-05-19   20000.00
118  12121312121 2011-05-24    -573.86
119  12121312121 2011-05-25    -599.00
120  12121312121 2011-05-29  -20000.00
121  12121312121 2011-05-29   50000.00
122  12121312121 2011-05-29      21.00
123  12121312121 2011-05-30   -2000.00
124  12121312121 2011-05-31  -20800.00
125  12121312121 2011-05-31   -2000.00
126  12121312121 2011-05-31  -13133.00
127  12121312121 2011-05-31  -10000.00
128  12121312121 2011-05-31  -10000.00
129  12121312121 2011-05-31  -15000.00
130  12121312121 2011-05-31   10000.00
131  12121312121 2011-05-31   50000.00
132  12121312121 2011-05-31   40000.00
133  12121312121 2011-05-31     219.00
134  12121312121 2011-05-31      67.00
135  12121312121 2011-05-31      12.00
136  12121312121 2011-06-02   -3400.00
137  12121312121 2011-06-03    6000.00
138  12121312121 2011-06-03    -599.00
139  12121312121 2011-06-05  -15750.00
140  12121312121 2011-06-07   -2530.00
141  12121312121 2011-06-07    -760.00
142  12121312121 2011-06-07   -1380.00
143  12121312121 2011-06-08    -900.00
144  12121312121 2011-06-08    -342.00
145  12121312121 2011-06-09    -599.00
146  12121312121 2011-06-10    -115.00
147  12121312121 2011-06-13   50000.00
148  12121312121 2011-06-14   -1020.00
149  12121312121 2011-06-16    -346.50
150  12121312121 2011-06-18   -3000.00
151  12121312121 2011-06-22    -770.00
152  12121312121 2011-06-22   20000.00
153  12121312121 2011-06-22  -20000.00
154  12121312121 2011-06-25    -733.04
155  12121312121 2011-06-27   50000.00
156  12121312121 2011-06-27  -10000.00
157  12121312121 2011-06-29   68703.00
158  12121312121 2011-06-29  -70000.00
159  12121312121 2011-06-30  -30000.00
160  12121312121 2011-06-30  -24800.00
161  12121312121 2011-06-30  -20000.00
162  12121312121 2011-06-30   -7500.00
163  12121312121 2011-06-30  -20800.00
164  12121312121 2011-06-30   70000.00
165  12121312121 2011-06-30   40000.00
166  12121312121 2011-07-01    6325.00
167  12121312121 2011-07-01   -1072.00
168  12121312121 2011-07-01    -345.00
169  12121312121 2011-07-03   60000.00
170  12121312121 2011-07-03  -27000.00
171  12121312121 2011-07-04  -20000.00
172  12121312121 2011-07-04  -15750.00
173  12121312121 2011-07-04   65816.00
174  12121312121 2011-07-09   10000.00
175  12121312121 2011-07-09   10000.00
176  12121312121 2011-07-09  -20000.00
177  12121312121 2011-07-09  -10000.00
178  12121312121 2011-07-09   -5000.00
179  12121312121 2011-07-09     219.00
180  12121312121 2011-07-11    -900.00
181  12121312121 2011-07-12   10000.00
182  12121312121 2011-07-12  -10147.00
183  12121312121 2011-07-12      17.00
184  12121312121 2011-07-13   -5000.00
185  12121312121 2011-07-14   10000.00
186  12121312121 2011-07-14   -5214.00
187  12121312121 2011-07-14    -208.00
188  12121312121 2011-07-14      19.00
189  12121312121 2011-07-15    -915.00
190  12121312121 2011-07-16    -915.00
191  12121312121 2011-07-18   -1262.00
192  12121312121 2011-07-19   10000.00
193  12121312121 2011-07-19   -5000.00
194  12121312121 2011-07-19      30.00
195  12121312121 2011-07-20   -3130.00
196  12121312121 2011-07-21   10000.00
197  12121312121 2011-07-21   -7867.00
198  12121312121 2011-07-21      32.00
199  12121312121 2011-07-25    -638.86
200  12121312121 2011-07-27    3680.00
201  12121312121 2011-07-27  -10000.00
202  12121312121 2011-07-31  -20000.00
203  12121312121 2011-07-31   -7500.00
204  12121312121 2011-07-31  -20800.00
205  12121312121 2011-07-31  -24800.00
206  12121312121 2011-07-31   90000.00
207  12121312121 2011-08-03  -50000.00
208  12121312121 2011-08-03   16520.00
209  12121312121 2011-08-03   30000.00
210  12121312121 2011-08-04  -15750.00
211  12121312121 2011-08-04   15340.00
212  12121312121 2011-08-04   -1750.00
213  12121312121 2011-08-05   10000.00
214  12121312121 2011-08-05   -1000.00
215  12121312121 2011-08-05   -2250.00
216  12121312121 2011-08-06   -1450.00
217  12121312121 2011-08-07   10000.00
218  12121312121 2011-08-07  -10000.00
219  12121312121 2011-08-08    -900.00
220  12121312121 2011-08-09   10000.00
221  12121312121 2011-08-09  -10000.00
222  12121312121 2011-08-10    1418.00
223  12121312121 2011-08-12   10000.00
224  12121312121 2011-08-12  -10000.00
225  12121312121 2011-08-14   -1930.00
226  12121312121 2011-08-16   10000.00
227  12121312121 2011-08-16   10000.00
228  12121312121 2011-08-16   20000.00
229  12121312121 2011-08-16    -399.00
230  12121312121 2011-08-19  -10000.00
231  12121312121 2011-08-19   10000.00
232  12121312121 2011-08-23   -4440.00
233  12121312121 2011-08-24    -634.97
234  12121312121 2011-08-25  -53460.00
235  12121312121 2011-08-25      97.00
236  12121312121 2011-08-31   10000.00
237  12121312121 2011-08-31   -3500.00
238  12121312121 2011-08-31  -20800.00
239  12121312121 2011-08-31  -22380.00
240  12121312121 2011-08-31     105.00
241  12121312121 2011-09-01   15000.00
242  12121312121 2011-09-01   -5255.00
243  12121312121 2011-09-04  -15750.00
244  12121312121 2011-09-05   10000.00
245  12121312121 2011-09-06   35000.00
246  12121312121 2011-09-11   10000.00
247  12121312121 2011-09-12    -900.00
248  12121312121 2011-09-12   16500.00
249  12121312121 2011-09-14  -30000.00
250  12121312121 2011-09-15   10000.00
251  12121312121 2011-09-16   -5000.00
252  12121312121 2011-09-19    -900.00
253  12121312121 2011-09-21   -2785.00
254  12121312121 2011-09-21   10000.00
255  12121312121 2011-09-21   -1950.00
256  12121312121 2011-09-22   11210.00
257  12121312121 2011-09-22  -20000.00
258  12121312121 2011-09-25    -656.68
259  12121312121 2011-09-25  -10000.00
260  12121312121 2011-09-25   10000.00
261  12121312121 2011-09-27  -20000.00
262  12121312121 2011-09-27      12.00
263  10851232494 2011-05-01       0.00
264  10851232494 2011-06-01       0.00
265  10851232494 2011-07-01       0.00
266  10851232494 2011-08-01       0.00
267  10851232494 2011-09-01       0.00
268  10851232494 2011-10-01       0.00
269  10851232411 2011-05-01       0.00
270  10851232411 2011-06-01       0.00
271  10851232411 2011-07-01       0.00
272  10851232411 2011-08-01       0.00
273  10851232411 2011-09-01       0.00
274  10851232411 2011-10-01       0.00
275  12121312121 2011-05-01       0.00
276  12121312121 2011-06-01       0.00
277  12121312121 2011-07-01       0.00
278  12121312121 2011-08-01       0.00
279  12121312121 2011-09-01       0.00
280  12121312121 2011-10-01       0.00
281  10851232494 2011-04-01  100000.00
282  10851232411 2011-04-01   20000.00
283  12121312121 2011-04-01   37870.43

In [340]:
Tran_Cart_OpeningBal=pd.DataFrame(result_1)

In [341]:
Tran_Cart_OpeningBal

          Acc_No   Txn_Date    Txn_Amt
0    10851232494 2011-04-01  100000.00
1    10851232494 2011-04-02   10500.00
2    10851232494 2011-04-04 -100000.00
3    10851232494 2011-04-11  -35000.00
4    10851232494 2011-04-16    5861.39
5    10851232494 2011-04-18   -7500.00
6    10851232494 2011-05-01    5607.00
7    10851232494 2011-05-01   98900.00
8    10851232494 2011-05-04  -60000.00
9    10851232494 2011-05-11  -35000.00
10   10851232494 2011-05-15    1000.00
11   10851232494 2011-05-16  -22343.00
12   10851232494 2011-06-08   20000.00
13   10851232494 2011-06-11  -35000.00
14   10851232494 2011-06-23    1000.00
15   10851232494 2011-07-09   20000.00
16   10851232494 2011-07-11  -35000.00
17   10851232494 2011-08-10   35000.00
18   10851232494 2011-08-12  -35000.00
19   10851232494 2011-08-20   -2000.00
20   10851232494 2011-09-01   -1000.00
21   10851232494 2011-09-09   35000.00
22   10851232494 2011-09-11  -35000.00
23   10851232494 2011-09-15    -750.00
24   10851232494 2011-09-15     -76.50
25   10851232411 2011-04-10    5000.00
26   10851232411 2011-04-10   -5000.00
27   10851232411 2011-04-10    -250.00
28   10851232411 2011-04-10     -25.00
29   10851232411 2011-04-14    5000.00
30   10851232411 2011-04-25  -10000.00
31   10851232411 2011-07-01    5607.00
32   10851232411 2011-07-01  100000.00
33   10851232411 2011-07-04  -60000.00
34   10851232411 2011-07-11  -35000.00
35   10851232411 2011-07-15    1000.00
36   10851232411 2011-07-16  -12321.89
37   10851232411 2011-07-08   20000.00
38   10851232411 2011-07-11  -25000.00
39   10851232411 2011-07-23  150000.00
40   10851232411 2011-08-09  -20000.00
41   10851232411 2011-08-11   -1981.00
42   10851232411 2011-08-10  -20000.00
43   10851232411 2011-08-12    -399.00
44   10851232411 2011-08-20   -2000.00
45   10851232411 2011-09-01   -1000.00
46   10851232411 2011-09-09   35000.00
47   10851232411 2011-09-11  -20000.00
48   10851232411 2011-09-20   -2001.89
49   10851232411 2011-09-21    -399.00
50   12121312121 2011-04-02    -303.00
51   12121312121 2011-04-04    -900.00
52   12121312121 2011-04-04   15875.00
53   12121312121 2011-04-04    8000.00
54   12121312121 2011-04-05  -10000.00
55   12121312121 2011-04-07    -400.00
56   12121312121 2011-04-07    -350.00
57   12121312121 2011-04-07    -599.00
58   12121312121 2011-04-07   10000.00
59   12121312121 2011-04-09    -884.41
60   12121312121 2011-04-09    -599.00
61   12121312121 2011-04-10    -255.00
62   12121312121 2011-04-12   -3443.00
63   12121312121 2011-04-12    3105.00
64   12121312121 2011-04-15   47250.00
65   12121312121 2011-04-15  -50000.00
66   12121312121 2011-04-16  -14990.00
67   12121312121 2011-04-16   20000.00
68   12121312121 2011-04-17   -2500.00
69   12121312121 2011-04-18    -790.00
70   12121312121 2011-04-19   -5900.00
71   12121312121 2011-04-20   -2500.00
72   12121312121 2011-04-20    -265.00
73   12121312121 2011-04-20   10000.00
74   12121312121 2011-04-21    -599.00
75   12121312121 2011-04-21   -3443.00
76   12121312121 2011-04-21    5674.00
77   12121312121 2011-04-21   -1130.00
78   12121312121 2011-04-24   16000.00
79   12121312121 2011-04-24    -970.00
80   12121312121 2011-04-24  -20000.00
81   12121312121 2011-04-25    -805.01
82   12121312121 2011-04-25   -2500.00
83   12121312121 2011-04-25   10000.00
84   12121312121 2011-04-26   15875.00
85   12121312121 2011-04-26  -20000.00
86   12121312121 2011-04-29  -20000.00
87   12121312121 2011-04-29  -20800.00
88   12121312121 2011-04-29   20000.00
89   12121312121 2011-04-29   10000.00
90   12121312121 2011-04-29   20000.00
91   12121312121 2011-04-29      27.00
92   12121312121 2011-04-30  -20000.00
93   12121312121 2011-05-03    -206.00
94   12121312121 2011-05-03    8750.00
95   12121312121 2011-05-03   12875.00
96   12121312121 2011-05-03    6000.00
97   12121312121 2011-05-03  -10000.00
98   12121312121 2011-05-04  -15750.00
99   12121312121 2011-05-04    -599.00
100  12121312121 2011-05-04   10000.00
101  12121312121 2011-05-08    -900.00
102  12121312121 2011-05-09   -1200.00
103  12121312121 2011-05-10   12225.00
104  12121312121 2011-05-10  -12225.00
105  12121312121 2011-05-11    -350.00
106  12121312121 2011-05-11  100000.00
107  12121312121 2011-05-11 -120000.00
108  12121312121 2011-05-15   -1000.00
109  12121312121 2011-05-16    -300.00
110  12121312121 2011-05-17   49555.00
111  12121312121 2011-05-17  -50000.00
112  12121312121 2011-05-18   15000.00
113  12121312121 2011-05-18    -175.15
114  12121312121 2011-05-18  -10000.00
115  12121312121 2011-05-19    -599.00
116  12121312121 2011-05-19  -10000.00
117  12121312121 2011-05-19   20000.00
118  12121312121 2011-05-24    -573.86
119  12121312121 2011-05-25    -599.00
120  12121312121 2011-05-29  -20000.00
121  12121312121 2011-05-29   50000.00
122  12121312121 2011-05-29      21.00
123  12121312121 2011-05-30   -2000.00
124  12121312121 2011-05-31  -20800.00
125  12121312121 2011-05-31   -2000.00
126  12121312121 2011-05-31  -13133.00
127  12121312121 2011-05-31  -10000.00
128  12121312121 2011-05-31  -10000.00
129  12121312121 2011-05-31  -15000.00
130  12121312121 2011-05-31   10000.00
131  12121312121 2011-05-31   50000.00
132  12121312121 2011-05-31   40000.00
133  12121312121 2011-05-31     219.00
134  12121312121 2011-05-31      67.00
135  12121312121 2011-05-31      12.00
136  12121312121 2011-06-02   -3400.00
137  12121312121 2011-06-03    6000.00
138  12121312121 2011-06-03    -599.00
139  12121312121 2011-06-05  -15750.00
140  12121312121 2011-06-07   -2530.00
141  12121312121 2011-06-07    -760.00
142  12121312121 2011-06-07   -1380.00
143  12121312121 2011-06-08    -900.00
144  12121312121 2011-06-08    -342.00
145  12121312121 2011-06-09    -599.00
146  12121312121 2011-06-10    -115.00
147  12121312121 2011-06-13   50000.00
148  12121312121 2011-06-14   -1020.00
149  12121312121 2011-06-16    -346.50
150  12121312121 2011-06-18   -3000.00
151  12121312121 2011-06-22    -770.00
152  12121312121 2011-06-22   20000.00
153  12121312121 2011-06-22  -20000.00
154  12121312121 2011-06-25    -733.04
155  12121312121 2011-06-27   50000.00
156  12121312121 2011-06-27  -10000.00
157  12121312121 2011-06-29   68703.00
158  12121312121 2011-06-29  -70000.00
159  12121312121 2011-06-30  -30000.00
160  12121312121 2011-06-30  -24800.00
161  12121312121 2011-06-30  -20000.00
162  12121312121 2011-06-30   -7500.00
163  12121312121 2011-06-30  -20800.00
164  12121312121 2011-06-30   70000.00
165  12121312121 2011-06-30   40000.00
166  12121312121 2011-07-01    6325.00
167  12121312121 2011-07-01   -1072.00
168  12121312121 2011-07-01    -345.00
169  12121312121 2011-07-03   60000.00
170  12121312121 2011-07-03  -27000.00
171  12121312121 2011-07-04  -20000.00
172  12121312121 2011-07-04  -15750.00
173  12121312121 2011-07-04   65816.00
174  12121312121 2011-07-09   10000.00
175  12121312121 2011-07-09   10000.00
176  12121312121 2011-07-09  -20000.00
177  12121312121 2011-07-09  -10000.00
178  12121312121 2011-07-09   -5000.00
179  12121312121 2011-07-09     219.00
180  12121312121 2011-07-11    -900.00
181  12121312121 2011-07-12   10000.00
182  12121312121 2011-07-12  -10147.00
183  12121312121 2011-07-12      17.00
184  12121312121 2011-07-13   -5000.00
185  12121312121 2011-07-14   10000.00
186  12121312121 2011-07-14   -5214.00
187  12121312121 2011-07-14    -208.00
188  12121312121 2011-07-14      19.00
189  12121312121 2011-07-15    -915.00
190  12121312121 2011-07-16    -915.00
191  12121312121 2011-07-18   -1262.00
192  12121312121 2011-07-19   10000.00
193  12121312121 2011-07-19   -5000.00
194  12121312121 2011-07-19      30.00
195  12121312121 2011-07-20   -3130.00
196  12121312121 2011-07-21   10000.00
197  12121312121 2011-07-21   -7867.00
198  12121312121 2011-07-21      32.00
199  12121312121 2011-07-25    -638.86
200  12121312121 2011-07-27    3680.00
201  12121312121 2011-07-27  -10000.00
202  12121312121 2011-07-31  -20000.00
203  12121312121 2011-07-31   -7500.00
204  12121312121 2011-07-31  -20800.00
205  12121312121 2011-07-31  -24800.00
206  12121312121 2011-07-31   90000.00
207  12121312121 2011-08-03  -50000.00
208  12121312121 2011-08-03   16520.00
209  12121312121 2011-08-03   30000.00
210  12121312121 2011-08-04  -15750.00
211  12121312121 2011-08-04   15340.00
212  12121312121 2011-08-04   -1750.00
213  12121312121 2011-08-05   10000.00
214  12121312121 2011-08-05   -1000.00
215  12121312121 2011-08-05   -2250.00
216  12121312121 2011-08-06   -1450.00
217  12121312121 2011-08-07   10000.00
218  12121312121 2011-08-07  -10000.00
219  12121312121 2011-08-08    -900.00
220  12121312121 2011-08-09   10000.00
221  12121312121 2011-08-09  -10000.00
222  12121312121 2011-08-10    1418.00
223  12121312121 2011-08-12   10000.00
224  12121312121 2011-08-12  -10000.00
225  12121312121 2011-08-14   -1930.00
226  12121312121 2011-08-16   10000.00
227  12121312121 2011-08-16   10000.00
228  12121312121 2011-08-16   20000.00
229  12121312121 2011-08-16    -399.00
230  12121312121 2011-08-19  -10000.00
231  12121312121 2011-08-19   10000.00
232  12121312121 2011-08-23   -4440.00
233  12121312121 2011-08-24    -634.97
234  12121312121 2011-08-25  -53460.00
235  12121312121 2011-08-25      97.00
236  12121312121 2011-08-31   10000.00
237  12121312121 2011-08-31   -3500.00
238  12121312121 2011-08-31  -20800.00
239  12121312121 2011-08-31  -22380.00
240  12121312121 2011-08-31     105.00
241  12121312121 2011-09-01   15000.00
242  12121312121 2011-09-01   -5255.00
243  12121312121 2011-09-04  -15750.00
244  12121312121 2011-09-05   10000.00
245  12121312121 2011-09-06   35000.00
246  12121312121 2011-09-11   10000.00
247  12121312121 2011-09-12    -900.00
248  12121312121 2011-09-12   16500.00
249  12121312121 2011-09-14  -30000.00
250  12121312121 2011-09-15   10000.00
251  12121312121 2011-09-16   -5000.00
252  12121312121 2011-09-19    -900.00
253  12121312121 2011-09-21   -2785.00
254  12121312121 2011-09-21   10000.00
255  12121312121 2011-09-21   -1950.00
256  12121312121 2011-09-22   11210.00
257  12121312121 2011-09-22  -20000.00
258  12121312121 2011-09-25    -656.68
259  12121312121 2011-09-25  -10000.00
260  12121312121 2011-09-25   10000.00
261  12121312121 2011-09-27  -20000.00
262  12121312121 2011-09-27      12.00
263  10851232494 2011-05-01       0.00
264  10851232494 2011-06-01       0.00
265  10851232494 2011-07-01       0.00
266  10851232494 2011-08-01       0.00
267  10851232494 2011-09-01       0.00
268  10851232494 2011-10-01       0.00
269  10851232411 2011-05-01       0.00
270  10851232411 2011-06-01       0.00
271  10851232411 2011-07-01       0.00
272  10851232411 2011-08-01       0.00
273  10851232411 2011-09-01       0.00
274  10851232411 2011-10-01       0.00
275  12121312121 2011-05-01       0.00
276  12121312121 2011-06-01       0.00
277  12121312121 2011-07-01       0.00
278  12121312121 2011-08-01       0.00
279  12121312121 2011-09-01       0.00
280  12121312121 2011-10-01       0.00
281  10851232494 2011-04-01  100000.00
282  10851232411 2011-04-01   20000.00
283  12121312121 2011-04-01   37870.43

# Step 10: Aggregate the Txn_Amt values, group by Account No & Txn Date level

In [342]:
Grp_Tran_Cart_OpeningBal = Tran_Cart_OpeningBal.groupby(['Acc_No', 'Txn_Date']).agg(Sum_Txn_Amt=('Txn_Amt', 'sum')).reset_index()

In [343]:
Grp_Tran_Cart_OpeningBal

          Acc_No   Txn_Date  Sum_Txn_Amt
0    10851232411 2011-04-01     20000.00
1    10851232411 2011-04-10      -275.00
2    10851232411 2011-04-14      5000.00
3    10851232411 2011-04-25    -10000.00
4    10851232411 2011-05-01         0.00
5    10851232411 2011-06-01         0.00
6    10851232411 2011-07-01    105607.00
7    10851232411 2011-07-04    -60000.00
8    10851232411 2011-07-08     20000.00
9    10851232411 2011-07-11    -60000.00
10   10851232411 2011-07-15      1000.00
11   10851232411 2011-07-16    -12321.89
12   10851232411 2011-07-23    150000.00
13   10851232411 2011-08-01         0.00
14   10851232411 2011-08-09    -20000.00
15   10851232411 2011-08-10    -20000.00
16   10851232411 2011-08-11     -1981.00
17   10851232411 2011-08-12      -399.00
18   10851232411 2011-08-20     -2000.00
19   10851232411 2011-09-01     -1000.00
20   10851232411 2011-09-09     35000.00
21   10851232411 2011-09-11    -20000.00
22   10851232411 2011-09-20     -2001.89
23   10851232411 2011-09-21      -399.00
24   10851232411 2011-10-01         0.00
25   10851232494 2011-04-01    200000.00
26   10851232494 2011-04-02     10500.00
27   10851232494 2011-04-04   -100000.00
28   10851232494 2011-04-11    -35000.00
29   10851232494 2011-04-16      5861.39
30   10851232494 2011-04-18     -7500.00
31   10851232494 2011-05-01    104507.00
32   10851232494 2011-05-04    -60000.00
33   10851232494 2011-05-11    -35000.00
34   10851232494 2011-05-15      1000.00
35   10851232494 2011-05-16    -22343.00
36   10851232494 2011-06-01         0.00
37   10851232494 2011-06-08     20000.00
38   10851232494 2011-06-11    -35000.00
39   10851232494 2011-06-23      1000.00
40   10851232494 2011-07-01         0.00
41   10851232494 2011-07-09     20000.00
42   10851232494 2011-07-11    -35000.00
43   10851232494 2011-08-01         0.00
44   10851232494 2011-08-10     35000.00
45   10851232494 2011-08-12    -35000.00
46   10851232494 2011-08-20     -2000.00
47   10851232494 2011-09-01     -1000.00
48   10851232494 2011-09-09     35000.00
49   10851232494 2011-09-11    -35000.00
50   10851232494 2011-09-15      -826.50
51   10851232494 2011-10-01         0.00
52   12121312121 2011-04-01     37870.43
53   12121312121 2011-04-02      -303.00
54   12121312121 2011-04-04     22975.00
55   12121312121 2011-04-05    -10000.00
56   12121312121 2011-04-07      8651.00
57   12121312121 2011-04-09     -1483.41
58   12121312121 2011-04-10      -255.00
59   12121312121 2011-04-12      -338.00
60   12121312121 2011-04-15     -2750.00
61   12121312121 2011-04-16      5010.00
62   12121312121 2011-04-17     -2500.00
63   12121312121 2011-04-18      -790.00
64   12121312121 2011-04-19     -5900.00
65   12121312121 2011-04-20      7235.00
66   12121312121 2011-04-21       502.00
67   12121312121 2011-04-24     -4970.00
68   12121312121 2011-04-25      6694.99
69   12121312121 2011-04-26     -4125.00
70   12121312121 2011-04-29      9227.00
71   12121312121 2011-04-30    -20000.00
72   12121312121 2011-05-01         0.00
73   12121312121 2011-05-03     17419.00
74   12121312121 2011-05-04     -6349.00
75   12121312121 2011-05-08      -900.00
76   12121312121 2011-05-09     -1200.00
77   12121312121 2011-05-10         0.00
78   12121312121 2011-05-11    -20350.00
79   12121312121 2011-05-15     -1000.00
80   12121312121 2011-05-16      -300.00
81   12121312121 2011-05-17      -445.00
82   12121312121 2011-05-18      4824.85
83   12121312121 2011-05-19      9401.00
84   12121312121 2011-05-24      -573.86
85   12121312121 2011-05-25      -599.00
86   12121312121 2011-05-29     30021.00
87   12121312121 2011-05-30     -2000.00
88   12121312121 2011-05-31     29365.00
89   12121312121 2011-06-01         0.00
90   12121312121 2011-06-02     -3400.00
91   12121312121 2011-06-03      5401.00
92   12121312121 2011-06-05    -15750.00
93   12121312121 2011-06-07     -4670.00
94   12121312121 2011-06-08     -1242.00
95   12121312121 2011-06-09      -599.00
96   12121312121 2011-06-10      -115.00
97   12121312121 2011-06-13     50000.00
98   12121312121 2011-06-14     -1020.00
99   12121312121 2011-06-16      -346.50
100  12121312121 2011-06-18     -3000.00
101  12121312121 2011-06-22      -770.00
102  12121312121 2011-06-25      -733.04
103  12121312121 2011-06-27     40000.00
104  12121312121 2011-06-29     -1297.00
105  12121312121 2011-06-30      6900.00
106  12121312121 2011-07-01      4908.00
107  12121312121 2011-07-03     33000.00
108  12121312121 2011-07-04     30066.00
109  12121312121 2011-07-09    -14781.00
110  12121312121 2011-07-11      -900.00
111  12121312121 2011-07-12      -130.00
112  12121312121 2011-07-13     -5000.00
113  12121312121 2011-07-14      4597.00
114  12121312121 2011-07-15      -915.00
115  12121312121 2011-07-16      -915.00
116  12121312121 2011-07-18     -1262.00
117  12121312121 2011-07-19      5030.00
118  12121312121 2011-07-20     -3130.00
119  12121312121 2011-07-21      2165.00
120  12121312121 2011-07-25      -638.86
121  12121312121 2011-07-27     -6320.00
122  12121312121 2011-07-31     16900.00
123  12121312121 2011-08-01         0.00
124  12121312121 2011-08-03     -3480.00
125  12121312121 2011-08-04     -2160.00
126  12121312121 2011-08-05      6750.00
127  12121312121 2011-08-06     -1450.00
128  12121312121 2011-08-07         0.00
129  12121312121 2011-08-08      -900.00
130  12121312121 2011-08-09         0.00
131  12121312121 2011-08-10      1418.00
132  12121312121 2011-08-12         0.00
133  12121312121 2011-08-14     -1930.00
134  12121312121 2011-08-16     39601.00
135  12121312121 2011-08-19         0.00
136  12121312121 2011-08-23     -4440.00
137  12121312121 2011-08-24      -634.97
138  12121312121 2011-08-25    -53363.00
139  12121312121 2011-08-31    -36575.00
140  12121312121 2011-09-01      9745.00
141  12121312121 2011-09-04    -15750.00
142  12121312121 2011-09-05     10000.00
143  12121312121 2011-09-06     35000.00
144  12121312121 2011-09-11     10000.00
145  12121312121 2011-09-12     15600.00
146  12121312121 2011-09-14    -30000.00
147  12121312121 2011-09-15     10000.00
148  12121312121 2011-09-16     -5000.00
149  12121312121 2011-09-19      -900.00
150  12121312121 2011-09-21      5265.00
151  12121312121 2011-09-22     -8790.00
152  12121312121 2011-09-25      -656.68
153  12121312121 2011-09-27    -19988.00
154  12121312121 2011-10-01         0.00

In [344]:
Srt_Grp_Tran_Cart_OpeningBal = Grp_Tran_Cart_OpeningBal.sort_values(by=['Acc_No', 'Txn_Date'], ascending=[True, True])

In [345]:
Srt_Grp_Tran_Cart_OpeningBal

          Acc_No   Txn_Date  Sum_Txn_Amt
0    10851232411 2011-04-01     20000.00
1    10851232411 2011-04-10      -275.00
2    10851232411 2011-04-14      5000.00
3    10851232411 2011-04-25    -10000.00
4    10851232411 2011-05-01         0.00
5    10851232411 2011-06-01         0.00
6    10851232411 2011-07-01    105607.00
7    10851232411 2011-07-04    -60000.00
8    10851232411 2011-07-08     20000.00
9    10851232411 2011-07-11    -60000.00
10   10851232411 2011-07-15      1000.00
11   10851232411 2011-07-16    -12321.89
12   10851232411 2011-07-23    150000.00
13   10851232411 2011-08-01         0.00
14   10851232411 2011-08-09    -20000.00
15   10851232411 2011-08-10    -20000.00
16   10851232411 2011-08-11     -1981.00
17   10851232411 2011-08-12      -399.00
18   10851232411 2011-08-20     -2000.00
19   10851232411 2011-09-01     -1000.00
20   10851232411 2011-09-09     35000.00
21   10851232411 2011-09-11    -20000.00
22   10851232411 2011-09-20     -2001.89
23   10851232411 2011-09-21      -399.00
24   10851232411 2011-10-01         0.00
25   10851232494 2011-04-01    200000.00
26   10851232494 2011-04-02     10500.00
27   10851232494 2011-04-04   -100000.00
28   10851232494 2011-04-11    -35000.00
29   10851232494 2011-04-16      5861.39
30   10851232494 2011-04-18     -7500.00
31   10851232494 2011-05-01    104507.00
32   10851232494 2011-05-04    -60000.00
33   10851232494 2011-05-11    -35000.00
34   10851232494 2011-05-15      1000.00
35   10851232494 2011-05-16    -22343.00
36   10851232494 2011-06-01         0.00
37   10851232494 2011-06-08     20000.00
38   10851232494 2011-06-11    -35000.00
39   10851232494 2011-06-23      1000.00
40   10851232494 2011-07-01         0.00
41   10851232494 2011-07-09     20000.00
42   10851232494 2011-07-11    -35000.00
43   10851232494 2011-08-01         0.00
44   10851232494 2011-08-10     35000.00
45   10851232494 2011-08-12    -35000.00
46   10851232494 2011-08-20     -2000.00
47   10851232494 2011-09-01     -1000.00
48   10851232494 2011-09-09     35000.00
49   10851232494 2011-09-11    -35000.00
50   10851232494 2011-09-15      -826.50
51   10851232494 2011-10-01         0.00
52   12121312121 2011-04-01     37870.43
53   12121312121 2011-04-02      -303.00
54   12121312121 2011-04-04     22975.00
55   12121312121 2011-04-05    -10000.00
56   12121312121 2011-04-07      8651.00
57   12121312121 2011-04-09     -1483.41
58   12121312121 2011-04-10      -255.00
59   12121312121 2011-04-12      -338.00
60   12121312121 2011-04-15     -2750.00
61   12121312121 2011-04-16      5010.00
62   12121312121 2011-04-17     -2500.00
63   12121312121 2011-04-18      -790.00
64   12121312121 2011-04-19     -5900.00
65   12121312121 2011-04-20      7235.00
66   12121312121 2011-04-21       502.00
67   12121312121 2011-04-24     -4970.00
68   12121312121 2011-04-25      6694.99
69   12121312121 2011-04-26     -4125.00
70   12121312121 2011-04-29      9227.00
71   12121312121 2011-04-30    -20000.00
72   12121312121 2011-05-01         0.00
73   12121312121 2011-05-03     17419.00
74   12121312121 2011-05-04     -6349.00
75   12121312121 2011-05-08      -900.00
76   12121312121 2011-05-09     -1200.00
77   12121312121 2011-05-10         0.00
78   12121312121 2011-05-11    -20350.00
79   12121312121 2011-05-15     -1000.00
80   12121312121 2011-05-16      -300.00
81   12121312121 2011-05-17      -445.00
82   12121312121 2011-05-18      4824.85
83   12121312121 2011-05-19      9401.00
84   12121312121 2011-05-24      -573.86
85   12121312121 2011-05-25      -599.00
86   12121312121 2011-05-29     30021.00
87   12121312121 2011-05-30     -2000.00
88   12121312121 2011-05-31     29365.00
89   12121312121 2011-06-01         0.00
90   12121312121 2011-06-02     -3400.00
91   12121312121 2011-06-03      5401.00
92   12121312121 2011-06-05    -15750.00
93   12121312121 2011-06-07     -4670.00
94   12121312121 2011-06-08     -1242.00
95   12121312121 2011-06-09      -599.00
96   12121312121 2011-06-10      -115.00
97   12121312121 2011-06-13     50000.00
98   12121312121 2011-06-14     -1020.00
99   12121312121 2011-06-16      -346.50
100  12121312121 2011-06-18     -3000.00
101  12121312121 2011-06-22      -770.00
102  12121312121 2011-06-25      -733.04
103  12121312121 2011-06-27     40000.00
104  12121312121 2011-06-29     -1297.00
105  12121312121 2011-06-30      6900.00
106  12121312121 2011-07-01      4908.00
107  12121312121 2011-07-03     33000.00
108  12121312121 2011-07-04     30066.00
109  12121312121 2011-07-09    -14781.00
110  12121312121 2011-07-11      -900.00
111  12121312121 2011-07-12      -130.00
112  12121312121 2011-07-13     -5000.00
113  12121312121 2011-07-14      4597.00
114  12121312121 2011-07-15      -915.00
115  12121312121 2011-07-16      -915.00
116  12121312121 2011-07-18     -1262.00
117  12121312121 2011-07-19      5030.00
118  12121312121 2011-07-20     -3130.00
119  12121312121 2011-07-21      2165.00
120  12121312121 2011-07-25      -638.86
121  12121312121 2011-07-27     -6320.00
122  12121312121 2011-07-31     16900.00
123  12121312121 2011-08-01         0.00
124  12121312121 2011-08-03     -3480.00
125  12121312121 2011-08-04     -2160.00
126  12121312121 2011-08-05      6750.00
127  12121312121 2011-08-06     -1450.00
128  12121312121 2011-08-07         0.00
129  12121312121 2011-08-08      -900.00
130  12121312121 2011-08-09         0.00
131  12121312121 2011-08-10      1418.00
132  12121312121 2011-08-12         0.00
133  12121312121 2011-08-14     -1930.00
134  12121312121 2011-08-16     39601.00
135  12121312121 2011-08-19         0.00
136  12121312121 2011-08-23     -4440.00
137  12121312121 2011-08-24      -634.97
138  12121312121 2011-08-25    -53363.00
139  12121312121 2011-08-31    -36575.00
140  12121312121 2011-09-01      9745.00
141  12121312121 2011-09-04    -15750.00
142  12121312121 2011-09-05     10000.00
143  12121312121 2011-09-06     35000.00
144  12121312121 2011-09-11     10000.00
145  12121312121 2011-09-12     15600.00
146  12121312121 2011-09-14    -30000.00
147  12121312121 2011-09-15     10000.00
148  12121312121 2011-09-16     -5000.00
149  12121312121 2011-09-19      -900.00
150  12121312121 2011-09-21      5265.00
151  12121312121 2011-09-22     -8790.00
152  12121312121 2011-09-25      -656.68
153  12121312121 2011-09-27    -19988.00
154  12121312121 2011-10-01         0.00

# Step 11: Use the output of step 10 (10A). Create a Running Balance (Cumulative Sum) column by Account Level. For the first transaction of a given account, the value in the Running Balance field will be equal to the Txn Amount. For subsequent rows, the Running Balance = Previous Row Running Balance + Txn Amount value.

In [346]:
Srt_Grp_Tran_Cart_OpeningBal['Running_Bal'] = Srt_Grp_Tran_Cart_OpeningBal.groupby('Acc_No')['Sum_Txn_Amt'].cumsum()

In [347]:
Srt_Grp_Tran_Cart_OpeningBal

          Acc_No   Txn_Date  Sum_Txn_Amt  Running_Bal
0    10851232411 2011-04-01     20000.00     20000.00
1    10851232411 2011-04-10      -275.00     19725.00
2    10851232411 2011-04-14      5000.00     24725.00
3    10851232411 2011-04-25    -10000.00     14725.00
4    10851232411 2011-05-01         0.00     14725.00
5    10851232411 2011-06-01         0.00     14725.00
6    10851232411 2011-07-01    105607.00    120332.00
7    10851232411 2011-07-04    -60000.00     60332.00
8    10851232411 2011-07-08     20000.00     80332.00
9    10851232411 2011-07-11    -60000.00     20332.00
10   10851232411 2011-07-15      1000.00     21332.00
11   10851232411 2011-07-16    -12321.89      9010.11
12   10851232411 2011-07-23    150000.00    159010.11
13   10851232411 2011-08-01         0.00    159010.11
14   10851232411 2011-08-09    -20000.00    139010.11
15   10851232411 2011-08-10    -20000.00    119010.11
16   10851232411 2011-08-11     -1981.00    117029.11
17   10851232411 2011-08-12      -399.00    116630.11
18   10851232411 2011-08-20     -2000.00    114630.11
19   10851232411 2011-09-01     -1000.00    113630.11
20   10851232411 2011-09-09     35000.00    148630.11
21   10851232411 2011-09-11    -20000.00    128630.11
22   10851232411 2011-09-20     -2001.89    126628.22
23   10851232411 2011-09-21      -399.00    126229.22
24   10851232411 2011-10-01         0.00    126229.22
25   10851232494 2011-04-01    200000.00    200000.00
26   10851232494 2011-04-02     10500.00    210500.00
27   10851232494 2011-04-04   -100000.00    110500.00
28   10851232494 2011-04-11    -35000.00     75500.00
29   10851232494 2011-04-16      5861.39     81361.39
30   10851232494 2011-04-18     -7500.00     73861.39
31   10851232494 2011-05-01    104507.00    178368.39
32   10851232494 2011-05-04    -60000.00    118368.39
33   10851232494 2011-05-11    -35000.00     83368.39
34   10851232494 2011-05-15      1000.00     84368.39
35   10851232494 2011-05-16    -22343.00     62025.39
36   10851232494 2011-06-01         0.00     62025.39
37   10851232494 2011-06-08     20000.00     82025.39
38   10851232494 2011-06-11    -35000.00     47025.39
39   10851232494 2011-06-23      1000.00     48025.39
40   10851232494 2011-07-01         0.00     48025.39
41   10851232494 2011-07-09     20000.00     68025.39
42   10851232494 2011-07-11    -35000.00     33025.39
43   10851232494 2011-08-01         0.00     33025.39
44   10851232494 2011-08-10     35000.00     68025.39
45   10851232494 2011-08-12    -35000.00     33025.39
46   10851232494 2011-08-20     -2000.00     31025.39
47   10851232494 2011-09-01     -1000.00     30025.39
48   10851232494 2011-09-09     35000.00     65025.39
49   10851232494 2011-09-11    -35000.00     30025.39
50   10851232494 2011-09-15      -826.50     29198.89
51   10851232494 2011-10-01         0.00     29198.89
52   12121312121 2011-04-01     37870.43     37870.43
53   12121312121 2011-04-02      -303.00     37567.43
54   12121312121 2011-04-04     22975.00     60542.43
55   12121312121 2011-04-05    -10000.00     50542.43
56   12121312121 2011-04-07      8651.00     59193.43
57   12121312121 2011-04-09     -1483.41     57710.02
58   12121312121 2011-04-10      -255.00     57455.02
59   12121312121 2011-04-12      -338.00     57117.02
60   12121312121 2011-04-15     -2750.00     54367.02
61   12121312121 2011-04-16      5010.00     59377.02
62   12121312121 2011-04-17     -2500.00     56877.02
63   12121312121 2011-04-18      -790.00     56087.02
64   12121312121 2011-04-19     -5900.00     50187.02
65   12121312121 2011-04-20      7235.00     57422.02
66   12121312121 2011-04-21       502.00     57924.02
67   12121312121 2011-04-24     -4970.00     52954.02
68   12121312121 2011-04-25      6694.99     59649.01
69   12121312121 2011-04-26     -4125.00     55524.01
70   12121312121 2011-04-29      9227.00     64751.01
71   12121312121 2011-04-30    -20000.00     44751.01
72   12121312121 2011-05-01         0.00     44751.01
73   12121312121 2011-05-03     17419.00     62170.01
74   12121312121 2011-05-04     -6349.00     55821.01
75   12121312121 2011-05-08      -900.00     54921.01
76   12121312121 2011-05-09     -1200.00     53721.01
77   12121312121 2011-05-10         0.00     53721.01
78   12121312121 2011-05-11    -20350.00     33371.01
79   12121312121 2011-05-15     -1000.00     32371.01
80   12121312121 2011-05-16      -300.00     32071.01
81   12121312121 2011-05-17      -445.00     31626.01
82   12121312121 2011-05-18      4824.85     36450.86
83   12121312121 2011-05-19      9401.00     45851.86
84   12121312121 2011-05-24      -573.86     45278.00
85   12121312121 2011-05-25      -599.00     44679.00
86   12121312121 2011-05-29     30021.00     74700.00
87   12121312121 2011-05-30     -2000.00     72700.00
88   12121312121 2011-05-31     29365.00    102065.00
89   12121312121 2011-06-01         0.00    102065.00
90   12121312121 2011-06-02     -3400.00     98665.00
91   12121312121 2011-06-03      5401.00    104066.00
92   12121312121 2011-06-05    -15750.00     88316.00
93   12121312121 2011-06-07     -4670.00     83646.00
94   12121312121 2011-06-08     -1242.00     82404.00
95   12121312121 2011-06-09      -599.00     81805.00
96   12121312121 2011-06-10      -115.00     81690.00
97   12121312121 2011-06-13     50000.00    131690.00
98   12121312121 2011-06-14     -1020.00    130670.00
99   12121312121 2011-06-16      -346.50    130323.50
100  12121312121 2011-06-18     -3000.00    127323.50
101  12121312121 2011-06-22      -770.00    126553.50
102  12121312121 2011-06-25      -733.04    125820.46
103  12121312121 2011-06-27     40000.00    165820.46
104  12121312121 2011-06-29     -1297.00    164523.46
105  12121312121 2011-06-30      6900.00    171423.46
106  12121312121 2011-07-01      4908.00    176331.46
107  12121312121 2011-07-03     33000.00    209331.46
108  12121312121 2011-07-04     30066.00    239397.46
109  12121312121 2011-07-09    -14781.00    224616.46
110  12121312121 2011-07-11      -900.00    223716.46
111  12121312121 2011-07-12      -130.00    223586.46
112  12121312121 2011-07-13     -5000.00    218586.46
113  12121312121 2011-07-14      4597.00    223183.46
114  12121312121 2011-07-15      -915.00    222268.46
115  12121312121 2011-07-16      -915.00    221353.46
116  12121312121 2011-07-18     -1262.00    220091.46
117  12121312121 2011-07-19      5030.00    225121.46
118  12121312121 2011-07-20     -3130.00    221991.46
119  12121312121 2011-07-21      2165.00    224156.46
120  12121312121 2011-07-25      -638.86    223517.60
121  12121312121 2011-07-27     -6320.00    217197.60
122  12121312121 2011-07-31     16900.00    234097.60
123  12121312121 2011-08-01         0.00    234097.60
124  12121312121 2011-08-03     -3480.00    230617.60
125  12121312121 2011-08-04     -2160.00    228457.60
126  12121312121 2011-08-05      6750.00    235207.60
127  12121312121 2011-08-06     -1450.00    233757.60
128  12121312121 2011-08-07         0.00    233757.60
129  12121312121 2011-08-08      -900.00    232857.60
130  12121312121 2011-08-09         0.00    232857.60
131  12121312121 2011-08-10      1418.00    234275.60
132  12121312121 2011-08-12         0.00    234275.60
133  12121312121 2011-08-14     -1930.00    232345.60
134  12121312121 2011-08-16     39601.00    271946.60
135  12121312121 2011-08-19         0.00    271946.60
136  12121312121 2011-08-23     -4440.00    267506.60
137  12121312121 2011-08-24      -634.97    266871.63
138  12121312121 2011-08-25    -53363.00    213508.63
139  12121312121 2011-08-31    -36575.00    176933.63
140  12121312121 2011-09-01      9745.00    186678.63
141  12121312121 2011-09-04    -15750.00    170928.63
142  12121312121 2011-09-05     10000.00    180928.63
143  12121312121 2011-09-06     35000.00    215928.63
144  12121312121 2011-09-11     10000.00    225928.63
145  12121312121 2011-09-12     15600.00    241528.63
146  12121312121 2011-09-14    -30000.00    211528.63
147  12121312121 2011-09-15     10000.00    221528.63
148  12121312121 2011-09-16     -5000.00    216528.63
149  12121312121 2011-09-19      -900.00    215628.63
150  12121312121 2011-09-21      5265.00    220893.63
151  12121312121 2011-09-22     -8790.00    212103.63
152  12121312121 2011-09-25      -656.68    211446.95
153  12121312121 2011-09-27    -19988.00    191458.95
154  12121312121 2011-10-01         0.00    191458.95

# Step 12: To the output of Step 11, add two columns – Prev_Txn_Date and Prev_Running_Bal

In [348]:
Srt_Grp_Tran_Cart_OpeningBal['Prev_Txn_Date'] = Srt_Grp_Tran_Cart_OpeningBal.groupby('Acc_No')['Txn_Date'].shift(1)
Srt_Grp_Tran_Cart_OpeningBal['Prev_Running_Bal'] = Srt_Grp_Tran_Cart_OpeningBal.groupby('Acc_No')['Running_Bal'].shift(1)

In [349]:
Srt_Grp_Tran_Cart_OpeningBal

,Acc_No,Txn_Date,Sum_Txn_Amt,Running_Bal,Prev_Txn_Date,Prev_Running_Bal
0,10851232411,2011-04-01,20000.00,20000.00,NaT,NaN
1,10851232411,2011-04-10,-275.00,19725.00,2011-04-01,20000.00
2,10851232411,2011-04-14,5000.00,24725.00,2011-04-10,19725.00
3,10851232411,2011-04-25,-10000.00,14725.00,2011-04-14,24725.00
4,10851232411,2011-05-01,0.00,14725.00,2011-04-25,14725.00
5,10851232411,2011-06-01,0.00,14725.00,2011-05-01,14725.00
6,10851232411,2011-07-01,105607.00,120332.00,2011-06-01,14725.00
7,10851232411,2011-07-04,-60000.00,60332.00,2011-07-01,120332.00
8,10851232411,2011-07-08,20000.00,80332.00,2011-07-04,60332.00
9,10851232411,2011-07-11,-60000.00,20332.00,2011-07-08,80332.00
10,10851232411,2011-07-15,1000.00,21332.00,2011-07-11,20332.00
11,10851232411,2011-07-16,-12321.89,9010.11,2011-07-15,21332.00
12,10851232411,2011-07-23,150000.00,159010.11,2011-07-16,9010.11
13,10851232411,2011-08-01,0.00,159010.11,2011-07-23,159010.11
14,10851232411,2011-08-09,-20000.00,139010.11,2011-08-01,159010.11
15,10851232411,2011-08-10,-20000.00,119010.11,2011-08-09,139010.11
16,10851232411,2011-08-11,-1981.00,117029.11,2011-08-10,119010.11
17,10851232411,2011-08-12,-399.00,116630.11,2011-08-11,117029.11
18,10851232411,2011-08-20,-2000.00,114630.11,2011-08-12,116630.11
19,10851232411,2011-09-01,-1000.00,113630.11,2011-08-20,114630.11
20,10851232411,2011-09-09,35000.00,148630.11,2011-09-01,113630.11
21,10851232411,2011-09-11,-20000.00,128630.11,2011-09-09,148630.11
22,10851232411,2011-09-20,-2001.89,126628.22,2011-09-11,128630.11
23,10851232411,2011-09-21,-399.00,126229.22,2011-09-20,126628.22
24,10851232411,2011-10-01,0.00,126229.22,2011-09-21,126229.22
25,10851232494,2011-04-01,200000.00,200000.00,NaT,NaN
26,10851232494,2011-04-02,10500.00,210500.00,2011-04-01,200000.00
27,10851232494,2011-04-04,-100000.00,110500.00,2011-04-02,210500.00
28,10851232494,2011-04-11,-35000.00,75500.00,2011-04-04,110500.00
29,10851232494,2011-04-16,5861.39,81361.39,2011-04-11,75500.00
30,10851232494,2011-04-18,-7500.00,73861.39,2011-04-16,81361.39
31,10851232494,2011-05-01,104507.00,178368.39,2011-04-18,73861.39
32,10851232494,2011-05-04,-60000.00,118368.39,2011-05-01,178368.39
33,10851232494,2011-05-11,-35000.00,83368.39,2011-05-04,118368.39
34,10851232494,2011-05-15,1000.00,84368.39,2011-05-11,83368.39
35,10851232494,2011-05-16,-22343.00,62025.39,2011-05-15,84368.39
36,10851232494,2011-06-01,0.00,62025.39,2011-05-16,62025.39
37,10851232494,2011-06-08,20000.00,82025.39,2011-06-01,62025.39
38,10851232494,2011-06-11,-35000.00,47025.39,2011-06-08,82025.39
39,10851232494,2011-06-23,1000.00,48025.39,2011-06-11,47025.39
40,10851232494,2011-07-01,0.00,48025.39,2011-06-23,48025.39
41,10851232494,2011-07-09,20000.00,68025.39,2011-07-01,48025.39
42,10851232494,2011-07-11,-35000.00,33025.39,2011-07-09,68025.39
43,10851232494,2011-08-01,0.00,33025.39,2011-07-11,33025.39
44,10851232494,2011-08-10,35000.00,68025.39,2011-08-01,33025.39
45,10851232494,2011-08-12,-35000.00,33025.39,2011-08-10,68025.39
46,10851232494,2011-08-20,-2000.00,31025.39,2011-08-12,33025.39
47,10851232494,2011-09-01,-1000.00,30025.39,2011-08-20,31025.39
48,10851232494,2011-09-09,35000.00,65025.39,2011-09-01,30025.39
49,10851232494,2011-09-11,-35000.00,30025.39,2011-09-09,65025.39
50,10851232494,2011-09-15,-826.50,29198.89,2011-09-11,30025.39
51,10851232494,2011-10-01,0.00,29198.89,2011-09-15,29198.89
52,12121312121,2011-04-01,37870.43,37870.43,NaT,NaN
53,12121312121,2011-04-02,-303.00,37567.43,2011-04-01,37870.43
54,12121312121,2011-04-04,22975.00,60542.43,2011-04-02,37567.43
55,12121312121,2011-04-05,-10000.00,50542.43,2011-04-04,60542.43
56,12121312121,2011-04-07,8651.00,59193.43,2011-04-05,50542.43
57,12121312121,2011-04-09,-1483.41,57710.02,2011-04-07,59193.43
58,12121312121,2011-04-10,-255.00,57455.02,2011-04-09,57710.02
59,12121312121,2011-04-12,-338.00,57117.02,2011-04-10,57455.02
60,12121312121,2011-04-15,-2750.00,54367.02,2011-04-12,57117.02
61,12121312121,2011-04-16,5010.00,59377.02,2011-04-15,54367.02
62,12121312121,2011-04-17,-2500.00,56877.02,2011-04-16,59377.02
63,12121312121,2011-04-18,-790.00,56087.02,2011-04-17,56877.02
64,12121312121,2011-04-19,-5900.00,50187.02,2011-04-18,56087.02
65,12121312121,2011-04-20,7235.00,57422.02,2011-04-19,50187.02
66,12121312121,2011-04-21,502.00,57924.02,2011-04-20,57422.02
67,12121312121,2011-04-24,-4970.00,52954.02,2011-04-21,57924.02
68,12121312121,2011-04-25,6694.99,59649.01,2011-04-24,52954.02
69,12121312121,2011-04-26,-4125.00,55524.01,2011-04-25,59649.01
70,12121312121,2011-04-29,9227.00,64751.01,2011-04-26,55524.01
71,12121312121,2011-04-30,-20000.00,44751.01,2011-04-29,64751.01
72,12121312121,2011-05-01,0.00,44751.01,2011-04-30,44751.01
73,12121312121,2011-05-03,17419.00,62170.01,2011-05-01,44751.01
74,12121312121,2011-05-04,-6349.00,55821.01,2011-05-03,62170.01
75,12121312121,2011-05-08,-900.00,54921.01,2011-05-04,55821.01
76,12121312121,2011-05-09,-1200.00,53721.01,2011-05-08,54921.01
77,12121312121,2011-05-10,0.00,53721.01,2011-05-09,53721.01
78,12121312121,2011-05-11,-20350.00,33371.01,2011-05-10,53721.01
79,12121312121,2011-05-15,-1000.00,32371.01,2011-05-11,33371.01
80,12121312121,2011-05-16,-300.00,32071.01,2011-05-15,32371.01
81,12121312121,2011-05-17,-445.00,31626.01,2011-05-16,32071.01
82,12121312121,2011-05-18,4824.85,36450.86,2011-05-17,31626.01
83,12121312121,2011-05-19,9401.00,45851.86,2011-05-18,36450.86
84,12121312121,2011-05-24,-573.86,45278.00,2011-05-19,45851.86
85,12121312121,2011-05-25,-599.00,44679.00,2011-05-24,45278.00
86,12121312121,2011-05-29,30021.00,74700.00,2011-05-25,44679.00
87,12121312121,2011-05-30,-2000.00,72700.00,2011-05-29,74700.00
88,12121312121,2011-05-31,29365.00,102065.00,2011-05-30,72700.00
89,12121312121,2011-06-01,0.00,102065.00,2011-05-31,102065.00
90,12121312121,2011-06-02,-3400.00,98665.00,2011-06-01,102065.00
91,12121312121,2011-06-03,5401.00,104066.00,2011-06-02,98665.00
92,12121312121,2011-06-05,-15750.00,88316.00,2011-06-03,104066.00
93,12121312121,2011-06-07,-4670.00,83646.00,2011-06-05,88316.00
94,12121312121,2011-06-08,-1242.00,82404.00,2011-06-07,83646.00
95,12121312121,2011-06-09,-599.00,81805.00,2011-06-08,82404.00
96,12121312121,2011-06-10,-115.00,81690.00,2011-06-09,81805.00
97,12121312121,2011-06-13,50000.00,131690.00,2011-06-10,81690.00
98,12121312121,2011-06-14,-1020.00,130670.00,2011-06-13,131690.00
99,12121312121,2011-06-16,-346.50,130323.50,2011-06-14,130670.00
100,12121312121,2011-06-18,-3000.00,127323.50,2011-06-16,130323.50
101,12121312121,2011-06-22,-770.00,126553.50,2011-06-18,127323.50
102,12121312121,2011-06-25,-733.04,125820.46,2011-06-22,126553.50
103,12121312121,2011-06-27,40000.00,165820.46,2011-06-25,125820.46
104,12121312121,2011-06-29,-1297.00,164523.46,2011-06-27,165820.46
105,12121312121,2011-06-30,6900.00,171423.46,2011-06-29,164523.46
106,12121312121,2011-07-01,4908.00,176331.46,2011-06-30,171423.46
107,12121312121,2011-07-03,33000.00,209331.46,2011-07-01,176331.46
108,12121312121,2011-07-04,30066.00,239397.46,2011-07-03,209331.46
109,12121312121,2011-07-09,-14781.00,224616.46,2011-07-04,239397.46
110,12121312121,2011-07-11,-900.00,223716.46,2011-07-09,224616.46
111,12121312121,2011-07-12,-130.00,223586.46,2011-07-11,223716.46
112,12121312121,2011-07-13,-5000.00,218586.46,2011-07-12,223586.46
113,12121312121,2011-07-14,4597.00,223183.46,2011-07-13,218586.46
114,12121312121,2011-07-15,-915.00,222268.46,2011-07-14,223183.46
115,12121312121,2011-07-16,-915.00,221353.46,2011-07-15,222268.46
116,12121312121,2011-07-18,-1262.00,220091.46,2011-07-16,221353.46
117,12121312121,2011-07-19,5030.00,225121.46,2011-07-18,220091.46
118,12121312121,2011-07-20,-3130.00,221991.46,2011-07-19,225121.46
119,12121312121,2011-07-21,2165.00,224156.46,2011-07-20,221991.46
120,12121312121,2011-07-25,-638.86,223517.60,2011-07-21,224156.46
121,12121312121,2011-07-27,-6320.00,217197.60,2011-07-25,223517.60
122,12121312121,2011-07-31,16900.00,234097.60,2011-07-27,217197.60
123,12121312121,2011-08-01,0.00,234097.60,2011-07-31,234097.60
124,12121312121,2011-08-03,-3480.00,230617.60,2011-08-01,234097.60
125,12121312121,2011-08-04,-2160.00,228457.60,2011-08-03,230617.60
126,12121312121,2011-08-05,6750.00,235207.60,2011-08-04,228457.60
127,12121312121,2011-08-06,-1450.00,233757.60,2011-08-05,235207.60
128,12121312121,2011-08-07,0.00,233757.60,2011-08-06,233757.60
129,12121312121,2011-08-08,-900.00,232857.60,2011-08-07,233757.60
130,12121312121,2011-08-09,0.00,232857.60,2011-08-08,232857.60
131,12121312121,2011-08-10,1418.00,234275.60,2011-08-09,232857.60
132,12121312121,2011-08-12,0.00,234275.60,2011-08-10,234275.60
133,12121312121,2011-08-14,-1930.00,232345.60,2011-08-12,234275.60
134,12121312121,2011-08-16,39601.00,271946.60,2011-08-14,232345.60
135,12121312121,2011-08-19,0.00,271946.60,2011-08-16,271946.60
136,12121312121,2011-08-23,-4440.00,267506.60,2011-08-19,271946.60
137,12121312121,2011-08-24,-634.97,266871.63,2011-08-23,267506.60
138,12121312121,2011-08-25,-53363.00,213508.63,2011-08-24,266871.63
139,12121312121,2011-08-31,-36575.00,176933.63,2011-08-25,213508.63
140,12121312121,2011-09-01,9745.00,186678.63,2011-08-31,176933.63
141,12121312121,2011-09-04,-15750.00,170928.63,2011-09-01,186678.63
142,12121312121,2011-09-05,10000.00,180928.63,2011-09-04,170928.63
143,12121312121,2011-09-06,35000.00,215928.63,2011-09-05,180928.63
144,12121312121,2011-09-11,10000.00,225928.63,2011-09-06,215928.63
145,12121312121,2011-09-12,15600.00,241528.63,2011-09-11,225928.63
146,12121312121,2011-09-14,-30000.00,211528.63,2011-09-12,241528.63
147,12121312121,2011-09-15,10000.00,221528.63,2011-09-14,211528.63
148,12121312121,2011-09-16,-5000.00,216528.63,2011-09-15,221528.63
149,12121312121,2011-09-19,-900.00,215628.63,2011-09-16,216528.63
150,12121312121,2011-09-21,5265.00,220893.63,2011-09-19,215628.63
151,12121312121,2011-09-22,-8790.00,212103.63,2011-09-21,220893.63
152,12121312121,2011-09-25,-656.68,211446.95,2011-09-22,212103.63
153,12121312121,2011-09-27,-19988.00,191458.95,2011-09-25,211446.95
154,12121312121,2011-10-01,0.00,191458.95,2011-09-27,191458.95

# Step 13: Calculate Date Difference between Txn_Date and Prev_Txn_Date and store in some column (say No_Of_Days). The number of days is the period for which the previous balance was maintained in the account at each End of Day.

In [350]:
# Convert the Txn_Date and Prev_Txn_Date columns to datetime format
Srt_Grp_Tran_Cart_OpeningBal['Txn_Date'] = pd.to_datetime(Srt_Grp_Tran_Cart_OpeningBal['Txn_Date'])
Srt_Grp_Tran_Cart_OpeningBal['Prev_Txn_Date'] = pd.to_datetime(Srt_Grp_Tran_Cart_OpeningBal['Prev_Txn_Date'])

# Calculate the time difference between Txn_Date and Prev_Txn_Date in days
Srt_Grp_Tran_Cart_OpeningBal['No_Of_Days'] = Srt_Grp_Tran_Cart_OpeningBal['Txn_Date'].diff().dt.days

In [351]:
Srt_Grp_Tran_Cart_OpeningBal

,Acc_No,Txn_Date,Sum_Txn_Amt,Running_Bal,Prev_Txn_Date,Prev_Running_Bal,No_Of_Days
0,10851232411,2011-04-01,20000.00,20000.00,NaT,NaN,NaN
1,10851232411,2011-04-10,-275.00,19725.00,2011-04-01,20000.00,9.0
2,10851232411,2011-04-14,5000.00,24725.00,2011-04-10,19725.00,4.0
3,10851232411,2011-04-25,-10000.00,14725.00,2011-04-14,24725.00,11.0
4,10851232411,2011-05-01,0.00,14725.00,2011-04-25,14725.00,6.0
5,10851232411,2011-06-01,0.00,14725.00,2011-05-01,14725.00,31.0
6,10851232411,2011-07-01,105607.00,120332.00,2011-06-01,14725.00,30.0
7,10851232411,2011-07-04,-60000.00,60332.00,2011-07-01,120332.00,3.0
8,10851232411,2011-07-08,20000.00,80332.00,2011-07-04,60332.00,4.0
9,10851232411,2011-07-11,-60000.00,20332.00,2011-07-08,80332.00,3.0
10,10851232411,2011-07-15,1000.00,21332.00,2011-07-11,20332.00,4.0
11,10851232411,2011-07-16,-12321.89,9010.11,2011-07-15,21332.00,1.0
12,10851232411,2011-07-23,150000.00,159010.11,2011-07-16,9010.11,7.0
13,10851232411,2011-08-01,0.00,159010.11,2011-07-23,159010.11,9.0
14,10851232411,2011-08-09,-20000.00,139010.11,2011-08-01,159010.11,8.0
15,10851232411,2011-08-10,-20000.00,119010.11,2011-08-09,139010.11,1.0
16,10851232411,2011-08-11,-1981.00,117029.11,2011-08-10,119010.11,1.0
17,10851232411,2011-08-12,-399.00,116630.11,2011-08-11,117029.11,1.0
18,10851232411,2011-08-20,-2000.00,114630.11,2011-08-12,116630.11,8.0
19,10851232411,2011-09-01,-1000.00,113630.11,2011-08-20,114630.11,12.0
20,10851232411,2011-09-09,35000.00,148630.11,2011-09-01,113630.11,8.0
21,10851232411,2011-09-11,-20000.00,128630.11,2011-09-09,148630.11,2.0
22,10851232411,2011-09-20,-2001.89,126628.22,2011-09-11,128630.11,9.0
23,10851232411,2011-09-21,-399.00,126229.22,2011-09-20,126628.22,1.0
24,10851232411,2011-10-01,0.00,126229.22,2011-09-21,126229.22,10.0
25,10851232494,2011-04-01,200000.00,200000.00,NaT,NaN,-183.0
26,10851232494,2011-04-02,10500.00,210500.00,2011-04-01,200000.00,1.0
27,10851232494,2011-04-04,-100000.00,110500.00,2011-04-02,210500.00,2.0
28,10851232494,2011-04-11,-35000.00,75500.00,2011-04-04,110500.00,7.0
29,10851232494,2011-04-16,5861.39,81361.39,2011-04-11,75500.00,5.0
30,10851232494,2011-04-18,-7500.00,73861.39,2011-04-16,81361.39,2.0
31,10851232494,2011-05-01,104507.00,178368.39,2011-04-18,73861.39,13.0
32,10851232494,2011-05-04,-60000.00,118368.39,2011-05-01,178368.39,3.0
33,10851232494,2011-05-11,-35000.00,83368.39,2011-05-04,118368.39,7.0
34,10851232494,2011-05-15,1000.00,84368.39,2011-05-11,83368.39,4.0
35,10851232494,2011-05-16,-22343.00,62025.39,2011-05-15,84368.39,1.0
36,10851232494,2011-06-01,0.00,62025.39,2011-05-16,62025.39,16.0
37,10851232494,2011-06-08,20000.00,82025.39,2011-06-01,62025.39,7.0
38,10851232494,2011-06-11,-35000.00,47025.39,2011-06-08,82025.39,3.0
39,10851232494,2011-06-23,1000.00,48025.39,2011-06-11,47025.39,12.0
40,10851232494,2011-07-01,0.00,48025.39,2011-06-23,48025.39,8.0
41,10851232494,2011-07-09,20000.00,68025.39,2011-07-01,48025.39,8.0
42,10851232494,2011-07-11,-35000.00,33025.39,2011-07-09,68025.39,2.0
43,10851232494,2011-08-01,0.00,33025.39,2011-07-11,33025.39,21.0
44,10851232494,2011-08-10,35000.00,68025.39,2011-08-01,33025.39,9.0
45,10851232494,2011-08-12,-35000.00,33025.39,2011-08-10,68025.39,2.0
46,10851232494,2011-08-20,-2000.00,31025.39,2011-08-12,33025.39,8.0
47,10851232494,2011-09-01,-1000.00,30025.39,2011-08-20,31025.39,12.0
48,10851232494,2011-09-09,35000.00,65025.39,2011-09-01,30025.39,8.0
49,10851232494,2011-09-11,-35000.00,30025.39,2011-09-09,65025.39,2.0
50,10851232494,2011-09-15,-826.50,29198.89,2011-09-11,30025.39,4.0
51,10851232494,2011-10-01,0.00,29198.89,2011-09-15,29198.89,16.0
52,12121312121,2011-04-01,37870.43,37870.43,NaT,NaN,-183.0
53,12121312121,2011-04-02,-303.00,37567.43,2011-04-01,37870.43,1.0
54,12121312121,2011-04-04,22975.00,60542.43,2011-04-02,37567.43,2.0
55,12121312121,2011-04-05,-10000.00,50542.43,2011-04-04,60542.43,1.0
56,12121312121,2011-04-07,8651.00,59193.43,2011-04-05,50542.43,2.0
57,12121312121,2011-04-09,-1483.41,57710.02,2011-04-07,59193.43,2.0
58,12121312121,2011-04-10,-255.00,57455.02,2011-04-09,57710.02,1.0
59,12121312121,2011-04-12,-338.00,57117.02,2011-04-10,57455.02,2.0
60,12121312121,2011-04-15,-2750.00,54367.02,2011-04-12,57117.02,3.0
61,12121312121,2011-04-16,5010.00,59377.02,2011-04-15,54367.02,1.0
62,12121312121,2011-04-17,-2500.00,56877.02,2011-04-16,59377.02,1.0
63,12121312121,2011-04-18,-790.00,56087.02,2011-04-17,56877.02,1.0
64,12121312121,2011-04-19,-5900.00,50187.02,2011-04-18,56087.02,1.0
65,12121312121,2011-04-20,7235.00,57422.02,2011-04-19,50187.02,1.0
66,12121312121,2011-04-21,502.00,57924.02,2011-04-20,57422.02,1.0
67,12121312121,2011-04-24,-4970.00,52954.02,2011-04-21,57924.02,3.0
68,12121312121,2011-04-25,6694.99,59649.01,2011-04-24,52954.02,1.0
69,12121312121,2011-04-26,-4125.00,55524.01,2011-04-25,59649.01,1.0
70,12121312121,2011-04-29,9227.00,64751.01,2011-04-26,55524.01,3.0
71,12121312121,2011-04-30,-20000.00,44751.01,2011-04-29,64751.01,1.0
72,12121312121,2011-05-01,0.00,44751.01,2011-04-30,44751.01,1.0
73,12121312121,2011-05-03,17419.00,62170.01,2011-05-01,44751.01,2.0
74,12121312121,2011-05-04,-6349.00,55821.01,2011-05-03,62170.01,1.0
75,12121312121,2011-05-08,-900.00,54921.01,2011-05-04,55821.01,4.0
76,12121312121,2011-05-09,-1200.00,53721.01,2011-05-08,54921.01,1.0
77,12121312121,2011-05-10,0.00,53721.01,2011-05-09,53721.01,1.0
78,12121312121,2011-05-11,-20350.00,33371.01,2011-05-10,53721.01,1.0
79,12121312121,2011-05-15,-1000.00,32371.01,2011-05-11,33371.01,4.0
80,12121312121,2011-05-16,-300.00,32071.01,2011-05-15,32371.01,1.0
81,12121312121,2011-05-17,-445.00,31626.01,2011-05-16,32071.01,1.0
82,12121312121,2011-05-18,4824.85,36450.86,2011-05-17,31626.01,1.0
83,12121312121,2011-05-19,9401.00,45851.86,2011-05-18,36450.86,1.0
84,12121312121,2011-05-24,-573.86,45278.00,2011-05-19,45851.86,5.0
85,12121312121,2011-05-25,-599.00,44679.00,2011-05-24,45278.00,1.0
86,12121312121,2011-05-29,30021.00,74700.00,2011-05-25,44679.00,4.0
87,12121312121,2011-05-30,-2000.00,72700.00,2011-05-29,74700.00,1.0
88,12121312121,2011-05-31,29365.00,102065.00,2011-05-30,72700.00,1.0
89,12121312121,2011-06-01,0.00,102065.00,2011-05-31,102065.00,1.0
90,12121312121,2011-06-02,-3400.00,98665.00,2011-06-01,102065.00,1.0
91,12121312121,2011-06-03,5401.00,104066.00,2011-06-02,98665.00,1.0
92,12121312121,2011-06-05,-15750.00,88316.00,2011-06-03,104066.00,2.0
93,12121312121,2011-06-07,-4670.00,83646.00,2011-06-05,88316.00,2.0
94,12121312121,2011-06-08,-1242.00,82404.00,2011-06-07,83646.00,1.0
95,12121312121,2011-06-09,-599.00,81805.00,2011-06-08,82404.00,1.0
96,12121312121,2011-06-10,-115.00,81690.00,2011-06-09,81805.00,1.0
97,12121312121,2011-06-13,50000.00,131690.00,2011-06-10,81690.00,3.0
98,12121312121,2011-06-14,-1020.00,130670.00,2011-06-13,131690.00,1.0
99,12121312121,2011-06-16,-346.50,130323.50,2011-06-14,130670.00,2.0
100,12121312121,2011-06-18,-3000.00,127323.50,2011-06-16,130323.50,2.0
101,12121312121,2011-06-22,-770.00,126553.50,2011-06-18,127323.50,4.0
102,12121312121,2011-06-25,-733.04,125820.46,2011-06-22,126553.50,3.0
103,12121312121,2011-06-27,40000.00,165820.46,2011-06-25,125820.46,2.0
104,12121312121,2011-06-29,-1297.00,164523.46,2011-06-27,165820.46,2.0
105,12121312121,2011-06-30,6900.00,171423.46,2011-06-29,164523.46,1.0
106,12121312121,2011-07-01,4908.00,176331.46,2011-06-30,171423.46,1.0
107,12121312121,2011-07-03,33000.00,209331.46,2011-07-01,176331.46,2.0
108,12121312121,2011-07-04,30066.00,239397.46,2011-07-03,209331.46,1.0
109,12121312121,2011-07-09,-14781.00,224616.46,2011-07-04,239397.46,5.0
110,12121312121,2011-07-11,-900.00,223716.46,2011-07-09,224616.46,2.0
111,12121312121,2011-07-12,-130.00,223586.46,2011-07-11,223716.46,1.0
112,12121312121,2011-07-13,-5000.00,218586.46,2011-07-12,223586.46,1.0
113,12121312121,2011-07-14,4597.00,223183.46,2011-07-13,218586.46,1.0
114,12121312121,2011-07-15,-915.00,222268.46,2011-07-14,223183.46,1.0
115,12121312121,2011-07-16,-915.00,221353.46,2011-07-15,222268.46,1.0
116,12121312121,2011-07-18,-1262.00,220091.46,2011-07-16,221353.46,2.0
117,12121312121,2011-07-19,5030.00,225121.46,2011-07-18,220091.46,1.0
118,12121312121,2011-07-20,-3130.00,221991.46,2011-07-19,225121.46,1.0
119,12121312121,2011-07-21,2165.00,224156.46,2011-07-20,221991.46,1.0
120,12121312121,2011-07-25,-638.86,223517.60,2011-07-21,224156.46,4.0
121,12121312121,2011-07-27,-6320.00,217197.60,2011-07-25,223517.60,2.0
122,12121312121,2011-07-31,16900.00,234097.60,2011-07-27,217197.60,4.0
123,12121312121,2011-08-01,0.00,234097.60,2011-07-31,234097.60,1.0
124,12121312121,2011-08-03,-3480.00,230617.60,2011-08-01,234097.60,2.0
125,12121312121,2011-08-04,-2160.00,228457.60,2011-08-03,230617.60,1.0
126,12121312121,2011-08-05,6750.00,235207.60,2011-08-04,228457.60,1.0
127,12121312121,2011-08-06,-1450.00,233757.60,2011-08-05,235207.60,1.0
128,12121312121,2011-08-07,0.00,233757.60,2011-08-06,233757.60,1.0
129,12121312121,2011-08-08,-900.00,232857.60,2011-08-07,233757.60,1.0
130,12121312121,2011-08-09,0.00,232857.60,2011-08-08,232857.60,1.0
131,12121312121,2011-08-10,1418.00,234275.60,2011-08-09,232857.60,1.0
132,12121312121,2011-08-12,0.00,234275.60,2011-08-10,234275.60,2.0
133,12121312121,2011-08-14,-1930.00,232345.60,2011-08-12,234275.60,2.0
134,12121312121,2011-08-16,39601.00,271946.60,2011-08-14,232345.60,2.0
135,12121312121,2011-08-19,0.00,271946.60,2011-08-16,271946.60,3.0
136,12121312121,2011-08-23,-4440.00,267506.60,2011-08-19,271946.60,4.0
137,12121312121,2011-08-24,-634.97,266871.63,2011-08-23,267506.60,1.0
138,12121312121,2011-08-25,-53363.00,213508.63,2011-08-24,266871.63,1.0
139,12121312121,2011-08-31,-36575.00,176933.63,2011-08-25,213508.63,6.0
140,12121312121,2011-09-01,9745.00,186678.63,2011-08-31,176933.63,1.0
141,12121312121,2011-09-04,-15750.00,170928.63,2011-09-01,186678.63,3.0
142,12121312121,2011-09-05,10000.00,180928.63,2011-09-04,170928.63,1.0
143,12121312121,2011-09-06,35000.00,215928.63,2011-09-05,180928.63,1.0
144,12121312121,2011-09-11,10000.00,225928.63,2011-09-06,215928.63,5.0
145,12121312121,2011-09-12,15600.00,241528.63,2011-09-11,225928.63,1.0
146,12121312121,2011-09-14,-30000.00,211528.63,2011-09-12,241528.63,2.0
147,12121312121,2011-09-15,10000.00,221528.63,2011-09-14,211528.63,1.0
148,12121312121,2011-09-16,-5000.00,216528.63,2011-09-15,221528.63,1.0
149,12121312121,2011-09-19,-900.00,215628.63,2011-09-16,216528.63,3.0
150,12121312121,2011-09-21,5265.00,220893.63,2011-09-19,215628.63,2.0
151,12121312121,2011-09-22,-8790.00,212103.63,2011-09-21,220893.63,1.0
152,12121312121,2011-09-25,-656.68,211446.95,2011-09-22,212103.63,3.0
153,12121312121,2011-09-27,-19988.00,191458.95,2011-09-25,211446.95,2.0
154,12121312121,2011-10-01,0.00,191458.95,2011-09-27,191458.95,4.0

# Step 14: Add a column Mth_ID having value in YYYYMM format. The value for this column should be computed from Prev_Txn_Date.

In [352]:
Srt_Grp_Tran_Cart_OpeningBal['Mth_ID'] = Srt_Grp_Tran_Cart_OpeningBal['Prev_Txn_Date'].dt.strftime('%Y%m')

In [353]:
Srt_Grp_Tran_Cart_OpeningBal

,Acc_No,Txn_Date,Sum_Txn_Amt,Running_Bal,Prev_Txn_Date,Prev_Running_Bal,No_Of_Days,Mth_ID
0,10851232411,2011-04-01,20000.00,20000.00,NaT,NaN,NaN,NaN
1,10851232411,2011-04-10,-275.00,19725.00,2011-04-01,20000.00,9.0,201104
2,10851232411,2011-04-14,5000.00,24725.00,2011-04-10,19725.00,4.0,201104
3,10851232411,2011-04-25,-10000.00,14725.00,2011-04-14,24725.00,11.0,201104
4,10851232411,2011-05-01,0.00,14725.00,2011-04-25,14725.00,6.0,201104
5,10851232411,2011-06-01,0.00,14725.00,2011-05-01,14725.00,31.0,201105
6,10851232411,2011-07-01,105607.00,120332.00,2011-06-01,14725.00,30.0,201106
7,10851232411,2011-07-04,-60000.00,60332.00,2011-07-01,120332.00,3.0,201107
8,10851232411,2011-07-08,20000.00,80332.00,2011-07-04,60332.00,4.0,201107
9,10851232411,2011-07-11,-60000.00,20332.00,2011-07-08,80332.00,3.0,201107
10,10851232411,2011-07-15,1000.00,21332.00,2011-07-11,20332.00,4.0,201107
11,10851232411,2011-07-16,-12321.89,9010.11,2011-07-15,21332.00,1.0,201107
12,10851232411,2011-07-23,150000.00,159010.11,2011-07-16,9010.11,7.0,201107
13,10851232411,2011-08-01,0.00,159010.11,2011-07-23,159010.11,9.0,201107
14,10851232411,2011-08-09,-20000.00,139010.11,2011-08-01,159010.11,8.0,201108
15,10851232411,2011-08-10,-20000.00,119010.11,2011-08-09,139010.11,1.0,201108
16,10851232411,2011-08-11,-1981.00,117029.11,2011-08-10,119010.11,1.0,201108
17,10851232411,2011-08-12,-399.00,116630.11,2011-08-11,117029.11,1.0,201108
18,10851232411,2011-08-20,-2000.00,114630.11,2011-08-12,116630.11,8.0,201108
19,10851232411,2011-09-01,-1000.00,113630.11,2011-08-20,114630.11,12.0,201108
20,10851232411,2011-09-09,35000.00,148630.11,2011-09-01,113630.11,8.0,201109
21,10851232411,2011-09-11,-20000.00,128630.11,2011-09-09,148630.11,2.0,201109
22,10851232411,2011-09-20,-2001.89,126628.22,2011-09-11,128630.11,9.0,201109
23,10851232411,2011-09-21,-399.00,126229.22,2011-09-20,126628.22,1.0,201109
24,10851232411,2011-10-01,0.00,126229.22,2011-09-21,126229.22,10.0,201109
25,10851232494,2011-04-01,200000.00,200000.00,NaT,NaN,-183.0,NaN
26,10851232494,2011-04-02,10500.00,210500.00,2011-04-01,200000.00,1.0,201104
27,10851232494,2011-04-04,-100000.00,110500.00,2011-04-02,210500.00,2.0,201104
28,10851232494,2011-04-11,-35000.00,75500.00,2011-04-04,110500.00,7.0,201104
29,10851232494,2011-04-16,5861.39,81361.39,2011-04-11,75500.00,5.0,201104
30,10851232494,2011-04-18,-7500.00,73861.39,2011-04-16,81361.39,2.0,201104
31,10851232494,2011-05-01,104507.00,178368.39,2011-04-18,73861.39,13.0,201104
32,10851232494,2011-05-04,-60000.00,118368.39,2011-05-01,178368.39,3.0,201105
33,10851232494,2011-05-11,-35000.00,83368.39,2011-05-04,118368.39,7.0,201105
34,10851232494,2011-05-15,1000.00,84368.39,2011-05-11,83368.39,4.0,201105
35,10851232494,2011-05-16,-22343.00,62025.39,2011-05-15,84368.39,1.0,201105
36,10851232494,2011-06-01,0.00,62025.39,2011-05-16,62025.39,16.0,201105
37,10851232494,2011-06-08,20000.00,82025.39,2011-06-01,62025.39,7.0,201106
38,10851232494,2011-06-11,-35000.00,47025.39,2011-06-08,82025.39,3.0,201106
39,10851232494,2011-06-23,1000.00,48025.39,2011-06-11,47025.39,12.0,201106
40,10851232494,2011-07-01,0.00,48025.39,2011-06-23,48025.39,8.0,201106
41,10851232494,2011-07-09,20000.00,68025.39,2011-07-01,48025.39,8.0,201107
42,10851232494,2011-07-11,-35000.00,33025.39,2011-07-09,68025.39,2.0,201107
43,10851232494,2011-08-01,0.00,33025.39,2011-07-11,33025.39,21.0,201107
44,10851232494,2011-08-10,35000.00,68025.39,2011-08-01,33025.39,9.0,201108
45,10851232494,2011-08-12,-35000.00,33025.39,2011-08-10,68025.39,2.0,201108
46,10851232494,2011-08-20,-2000.00,31025.39,2011-08-12,33025.39,8.0,201108
47,10851232494,2011-09-01,-1000.00,30025.39,2011-08-20,31025.39,12.0,201108
48,10851232494,2011-09-09,35000.00,65025.39,2011-09-01,30025.39,8.0,201109
49,10851232494,2011-09-11,-35000.00,30025.39,2011-09-09,65025.39,2.0,201109
50,10851232494,2011-09-15,-826.50,29198.89,2011-09-11,30025.39,4.0,201109
51,10851232494,2011-10-01,0.00,29198.89,2011-09-15,29198.89,16.0,201109
52,12121312121,2011-04-01,37870.43,37870.43,NaT,NaN,-183.0,NaN
53,12121312121,2011-04-02,-303.00,37567.43,2011-04-01,37870.43,1.0,201104
54,12121312121,2011-04-04,22975.00,60542.43,2011-04-02,37567.43,2.0,201104
55,12121312121,2011-04-05,-10000.00,50542.43,2011-04-04,60542.43,1.0,201104
56,12121312121,2011-04-07,8651.00,59193.43,2011-04-05,50542.43,2.0,201104
57,12121312121,2011-04-09,-1483.41,57710.02,2011-04-07,59193.43,2.0,201104
58,12121312121,2011-04-10,-255.00,57455.02,2011-04-09,57710.02,1.0,201104
59,12121312121,2011-04-12,-338.00,57117.02,2011-04-10,57455.02,2.0,201104
60,12121312121,2011-04-15,-2750.00,54367.02,2011-04-12,57117.02,3.0,201104
61,12121312121,2011-04-16,5010.00,59377.02,2011-04-15,54367.02,1.0,201104
62,12121312121,2011-04-17,-2500.00,56877.02,2011-04-16,59377.02,1.0,201104
63,12121312121,2011-04-18,-790.00,56087.02,2011-04-17,56877.02,1.0,201104
64,12121312121,2011-04-19,-5900.00,50187.02,2011-04-18,56087.02,1.0,201104
65,12121312121,2011-04-20,7235.00,57422.02,2011-04-19,50187.02,1.0,201104
66,12121312121,2011-04-21,502.00,57924.02,2011-04-20,57422.02,1.0,201104
67,12121312121,2011-04-24,-4970.00,52954.02,2011-04-21,57924.02,3.0,201104
68,12121312121,2011-04-25,6694.99,59649.01,2011-04-24,52954.02,1.0,201104
69,12121312121,2011-04-26,-4125.00,55524.01,2011-04-25,59649.01,1.0,201104
70,12121312121,2011-04-29,9227.00,64751.01,2011-04-26,55524.01,3.0,201104
71,12121312121,2011-04-30,-20000.00,44751.01,2011-04-29,64751.01,1.0,201104
72,12121312121,2011-05-01,0.00,44751.01,2011-04-30,44751.01,1.0,201104
73,12121312121,2011-05-03,17419.00,62170.01,2011-05-01,44751.01,2.0,201105
74,12121312121,2011-05-04,-6349.00,55821.01,2011-05-03,62170.01,1.0,201105
75,12121312121,2011-05-08,-900.00,54921.01,2011-05-04,55821.01,4.0,201105
76,12121312121,2011-05-09,-1200.00,53721.01,2011-05-08,54921.01,1.0,201105
77,12121312121,2011-05-10,0.00,53721.01,2011-05-09,53721.01,1.0,201105
78,12121312121,2011-05-11,-20350.00,33371.01,2011-05-10,53721.01,1.0,201105
79,12121312121,2011-05-15,-1000.00,32371.01,2011-05-11,33371.01,4.0,201105
80,12121312121,2011-05-16,-300.00,32071.01,2011-05-15,32371.01,1.0,201105
81,12121312121,2011-05-17,-445.00,31626.01,2011-05-16,32071.01,1.0,201105
82,12121312121,2011-05-18,4824.85,36450.86,2011-05-17,31626.01,1.0,201105
83,12121312121,2011-05-19,9401.00,45851.86,2011-05-18,36450.86,1.0,201105
84,12121312121,2011-05-24,-573.86,45278.00,2011-05-19,45851.86,5.0,201105
85,12121312121,2011-05-25,-599.00,44679.00,2011-05-24,45278.00,1.0,201105
86,12121312121,2011-05-29,30021.00,74700.00,2011-05-25,44679.00,4.0,201105
87,12121312121,2011-05-30,-2000.00,72700.00,2011-05-29,74700.00,1.0,201105
88,12121312121,2011-05-31,29365.00,102065.00,2011-05-30,72700.00,1.0,201105
89,12121312121,2011-06-01,0.00,102065.00,2011-05-31,102065.00,1.0,201105
90,12121312121,2011-06-02,-3400.00,98665.00,2011-06-01,102065.00,1.0,201106
91,12121312121,2011-06-03,5401.00,104066.00,2011-06-02,98665.00,1.0,201106
92,12121312121,2011-06-05,-15750.00,88316.00,2011-06-03,104066.00,2.0,201106
93,12121312121,2011-06-07,-4670.00,83646.00,2011-06-05,88316.00,2.0,201106
94,12121312121,2011-06-08,-1242.00,82404.00,2011-06-07,83646.00,1.0,201106
95,12121312121,2011-06-09,-599.00,81805.00,2011-06-08,82404.00,1.0,201106
96,12121312121,2011-06-10,-115.00,81690.00,2011-06-09,81805.00,1.0,201106
97,12121312121,2011-06-13,50000.00,131690.00,2011-06-10,81690.00,3.0,201106
98,12121312121,2011-06-14,-1020.00,130670.00,2011-06-13,131690.00,1.0,201106
99,12121312121,2011-06-16,-346.50,130323.50,2011-06-14,130670.00,2.0,201106
100,12121312121,2011-06-18,-3000.00,127323.50,2011-06-16,130323.50,2.0,201106
101,12121312121,2011-06-22,-770.00,126553.50,2011-06-18,127323.50,4.0,201106
102,12121312121,2011-06-25,-733.04,125820.46,2011-06-22,126553.50,3.0,201106
103,12121312121,2011-06-27,40000.00,165820.46,2011-06-25,125820.46,2.0,201106
104,12121312121,2011-06-29,-1297.00,164523.46,2011-06-27,165820.46,2.0,201106
105,12121312121,2011-06-30,6900.00,171423.46,2011-06-29,164523.46,1.0,201106
106,12121312121,2011-07-01,4908.00,176331.46,2011-06-30,171423.46,1.0,201106
107,12121312121,2011-07-03,33000.00,209331.46,2011-07-01,176331.46,2.0,201107
108,12121312121,2011-07-04,30066.00,239397.46,2011-07-03,209331.46,1.0,201107
109,12121312121,2011-07-09,-14781.00,224616.46,2011-07-04,239397.46,5.0,201107
110,12121312121,2011-07-11,-900.00,223716.46,2011-07-09,224616.46,2.0,201107
111,12121312121,2011-07-12,-130.00,223586.46,2011-07-11,223716.46,1.0,201107
112,12121312121,2011-07-13,-5000.00,218586.46,2011-07-12,223586.46,1.0,201107
113,12121312121,2011-07-14,4597.00,223183.46,2011-07-13,218586.46,1.0,201107
114,12121312121,2011-07-15,-915.00,222268.46,2011-07-14,223183.46,1.0,201107
115,12121312121,2011-07-16,-915.00,221353.46,2011-07-15,222268.46,1.0,201107
116,12121312121,2011-07-18,-1262.00,220091.46,2011-07-16,221353.46,2.0,201107
117,12121312121,2011-07-19,5030.00,225121.46,2011-07-18,220091.46,1.0,201107
118,12121312121,2011-07-20,-3130.00,221991.46,2011-07-19,225121.46,1.0,201107
119,12121312121,2011-07-21,2165.00,224156.46,2011-07-20,221991.46,1.0,201107
120,12121312121,2011-07-25,-638.86,223517.60,2011-07-21,224156.46,4.0,201107
121,12121312121,2011-07-27,-6320.00,217197.60,2011-07-25,223517.60,2.0,201107
122,12121312121,2011-07-31,16900.00,234097.60,2011-07-27,217197.60,4.0,201107
123,12121312121,2011-08-01,0.00,234097.60,2011-07-31,234097.60,1.0,201107
124,12121312121,2011-08-03,-3480.00,230617.60,2011-08-01,234097.60,2.0,201108
125,12121312121,2011-08-04,-2160.00,228457.60,2011-08-03,230617.60,1.0,201108
126,12121312121,2011-08-05,6750.00,235207.60,2011-08-04,228457.60,1.0,201108
127,12121312121,2011-08-06,-1450.00,233757.60,2011-08-05,235207.60,1.0,201108
128,12121312121,2011-08-07,0.00,233757.60,2011-08-06,233757.60,1.0,201108
129,12121312121,2011-08-08,-900.00,232857.60,2011-08-07,233757.60,1.0,201108
130,12121312121,2011-08-09,0.00,232857.60,2011-08-08,232857.60,1.0,201108
131,12121312121,2011-08-10,1418.00,234275.60,2011-08-09,232857.60,1.0,201108
132,12121312121,2011-08-12,0.00,234275.60,2011-08-10,234275.60,2.0,201108
133,12121312121,2011-08-14,-1930.00,232345.60,2011-08-12,234275.60,2.0,201108
134,12121312121,2011-08-16,39601.00,271946.60,2011-08-14,232345.60,2.0,201108
135,12121312121,2011-08-19,0.00,271946.60,2011-08-16,271946.60,3.0,201108
136,12121312121,2011-08-23,-4440.00,267506.60,2011-08-19,271946.60,4.0,201108
137,12121312121,2011-08-24,-634.97,266871.63,2011-08-23,267506.60,1.0,201108
138,12121312121,2011-08-25,-53363.00,213508.63,2011-08-24,266871.63,1.0,201108
139,12121312121,2011-08-31,-36575.00,176933.63,2011-08-25,213508.63,6.0,201108
140,12121312121,2011-09-01,9745.00,186678.63,2011-08-31,176933.63,1.0,201108
141,12121312121,2011-09-04,-15750.00,170928.63,2011-09-01,186678.63,3.0,201109
142,12121312121,2011-09-05,10000.00,180928.63,2011-09-04,170928.63,1.0,201109
143,12121312121,2011-09-06,35000.00,215928.63,2011-09-05,180928.63,1.0,201109
144,12121312121,2011-09-11,10000.00,225928.63,2011-09-06,215928.63,5.0,201109
145,12121312121,2011-09-12,15600.00,241528.63,2011-09-11,225928.63,1.0,201109
146,12121312121,2011-09-14,-30000.00,211528.63,2011-09-12,241528.63,2.0,201109
147,12121312121,2011-09-15,10000.00,221528.63,2011-09-14,211528.63,1.0,201109
148,12121312121,2011-09-16,-5000.00,216528.63,2011-09-15,221528.63,1.0,201109
149,12121312121,2011-09-19,-900.00,215628.63,2011-09-16,216528.63,3.0,201109
150,12121312121,2011-09-21,5265.00,220893.63,2011-09-19,215628.63,2.0,201109
151,12121312121,2011-09-22,-8790.00,212103.63,2011-09-21,220893.63,1.0,201109
152,12121312121,2011-09-25,-656.68,211446.95,2011-09-22,212103.63,3.0,201109
153,12121312121,2011-09-27,-19988.00,191458.95,2011-09-25,211446.95,2.0,201109
154,12121312121,2011-10-01,0.00,191458.95,2011-09-27,191458.95,4.0,201109

# Step 15: Calculate Month wise Average Monthly Balance by aggregating the data at Account No, YYYYMM level. While aggregating filter out the rows where Mth_ID is null. AMB = sum(Prev_Running_Bal * No_Of_Days) / sum(No_Of_Days)

In [354]:
Srt_Grp_Tran_Cart_OpeningBal = Srt_Grp_Tran_Cart_OpeningBal.dropna(subset=['Mth_ID'])

In [355]:
Srt_Grp_Tran_Cart_OpeningBal

,Acc_No,Txn_Date,Sum_Txn_Amt,Running_Bal,Prev_Txn_Date,Prev_Running_Bal,No_Of_Days,Mth_ID
1,10851232411,2011-04-10,-275.00,19725.00,2011-04-01,20000.00,9.0,201104
2,10851232411,2011-04-14,5000.00,24725.00,2011-04-10,19725.00,4.0,201104
3,10851232411,2011-04-25,-10000.00,14725.00,2011-04-14,24725.00,11.0,201104
4,10851232411,2011-05-01,0.00,14725.00,2011-04-25,14725.00,6.0,201104
5,10851232411,2011-06-01,0.00,14725.00,2011-05-01,14725.00,31.0,201105
6,10851232411,2011-07-01,105607.00,120332.00,2011-06-01,14725.00,30.0,201106
7,10851232411,2011-07-04,-60000.00,60332.00,2011-07-01,120332.00,3.0,201107
8,10851232411,2011-07-08,20000.00,80332.00,2011-07-04,60332.00,4.0,201107
9,10851232411,2011-07-11,-60000.00,20332.00,2011-07-08,80332.00,3.0,201107
10,10851232411,2011-07-15,1000.00,21332.00,2011-07-11,20332.00,4.0,201107
11,10851232411,2011-07-16,-12321.89,9010.11,2011-07-15,21332.00,1.0,201107
12,10851232411,2011-07-23,150000.00,159010.11,2011-07-16,9010.11,7.0,201107
13,10851232411,2011-08-01,0.00,159010.11,2011-07-23,159010.11,9.0,201107
14,10851232411,2011-08-09,-20000.00,139010.11,2011-08-01,159010.11,8.0,201108
15,10851232411,2011-08-10,-20000.00,119010.11,2011-08-09,139010.11,1.0,201108
16,10851232411,2011-08-11,-1981.00,117029.11,2011-08-10,119010.11,1.0,201108
17,10851232411,2011-08-12,-399.00,116630.11,2011-08-11,117029.11,1.0,201108
18,10851232411,2011-08-20,-2000.00,114630.11,2011-08-12,116630.11,8.0,201108
19,10851232411,2011-09-01,-1000.00,113630.11,2011-08-20,114630.11,12.0,201108
20,10851232411,2011-09-09,35000.00,148630.11,2011-09-01,113630.11,8.0,201109
21,10851232411,2011-09-11,-20000.00,128630.11,2011-09-09,148630.11,2.0,201109
22,10851232411,2011-09-20,-2001.89,126628.22,2011-09-11,128630.11,9.0,201109
23,10851232411,2011-09-21,-399.00,126229.22,2011-09-20,126628.22,1.0,201109
24,10851232411,2011-10-01,0.00,126229.22,2011-09-21,126229.22,10.0,201109
26,10851232494,2011-04-02,10500.00,210500.00,2011-04-01,200000.00,1.0,201104
27,10851232494,2011-04-04,-100000.00,110500.00,2011-04-02,210500.00,2.0,201104
28,10851232494,2011-04-11,-35000.00,75500.00,2011-04-04,110500.00,7.0,201104
29,10851232494,2011-04-16,5861.39,81361.39,2011-04-11,75500.00,5.0,201104
30,10851232494,2011-04-18,-7500.00,73861.39,2011-04-16,81361.39,2.0,201104
31,10851232494,2011-05-01,104507.00,178368.39,2011-04-18,73861.39,13.0,201104
32,10851232494,2011-05-04,-60000.00,118368.39,2011-05-01,178368.39,3.0,201105
33,10851232494,2011-05-11,-35000.00,83368.39,2011-05-04,118368.39,7.0,201105
34,10851232494,2011-05-15,1000.00,84368.39,2011-05-11,83368.39,4.0,201105
35,10851232494,2011-05-16,-22343.00,62025.39,2011-05-15,84368.39,1.0,201105
36,10851232494,2011-06-01,0.00,62025.39,2011-05-16,62025.39,16.0,201105
37,10851232494,2011-06-08,20000.00,82025.39,2011-06-01,62025.39,7.0,201106
38,10851232494,2011-06-11,-35000.00,47025.39,2011-06-08,82025.39,3.0,201106
39,10851232494,2011-06-23,1000.00,48025.39,2011-06-11,47025.39,12.0,201106
40,10851232494,2011-07-01,0.00,48025.39,2011-06-23,48025.39,8.0,201106
41,10851232494,2011-07-09,20000.00,68025.39,2011-07-01,48025.39,8.0,201107
42,10851232494,2011-07-11,-35000.00,33025.39,2011-07-09,68025.39,2.0,201107
43,10851232494,2011-08-01,0.00,33025.39,2011-07-11,33025.39,21.0,201107
44,10851232494,2011-08-10,35000.00,68025.39,2011-08-01,33025.39,9.0,201108
45,10851232494,2011-08-12,-35000.00,33025.39,2011-08-10,68025.39,2.0,201108
46,10851232494,2011-08-20,-2000.00,31025.39,2011-08-12,33025.39,8.0,201108
47,10851232494,2011-09-01,-1000.00,30025.39,2011-08-20,31025.39,12.0,201108
48,10851232494,2011-09-09,35000.00,65025.39,2011-09-01,30025.39,8.0,201109
49,10851232494,2011-09-11,-35000.00,30025.39,2011-09-09,65025.39,2.0,201109
50,10851232494,2011-09-15,-826.50,29198.89,2011-09-11,30025.39,4.0,201109
51,10851232494,2011-10-01,0.00,29198.89,2011-09-15,29198.89,16.0,201109
53,12121312121,2011-04-02,-303.00,37567.43,2011-04-01,37870.43,1.0,201104
54,12121312121,2011-04-04,22975.00,60542.43,2011-04-02,37567.43,2.0,201104
55,12121312121,2011-04-05,-10000.00,50542.43,2011-04-04,60542.43,1.0,201104
56,12121312121,2011-04-07,8651.00,59193.43,2011-04-05,50542.43,2.0,201104
57,12121312121,2011-04-09,-1483.41,57710.02,2011-04-07,59193.43,2.0,201104
58,12121312121,2011-04-10,-255.00,57455.02,2011-04-09,57710.02,1.0,201104
59,12121312121,2011-04-12,-338.00,57117.02,2011-04-10,57455.02,2.0,201104
60,12121312121,2011-04-15,-2750.00,54367.02,2011-04-12,57117.02,3.0,201104
61,12121312121,2011-04-16,5010.00,59377.02,2011-04-15,54367.02,1.0,201104
62,12121312121,2011-04-17,-2500.00,56877.02,2011-04-16,59377.02,1.0,201104
63,12121312121,2011-04-18,-790.00,56087.02,2011-04-17,56877.02,1.0,201104
64,12121312121,2011-04-19,-5900.00,50187.02,2011-04-18,56087.02,1.0,201104
65,12121312121,2011-04-20,7235.00,57422.02,2011-04-19,50187.02,1.0,201104
66,12121312121,2011-04-21,502.00,57924.02,2011-04-20,57422.02,1.0,201104
67,12121312121,2011-04-24,-4970.00,52954.02,2011-04-21,57924.02,3.0,201104
68,12121312121,2011-04-25,6694.99,59649.01,2011-04-24,52954.02,1.0,201104
69,12121312121,2011-04-26,-4125.00,55524.01,2011-04-25,59649.01,1.0,201104
70,12121312121,2011-04-29,9227.00,64751.01,2011-04-26,55524.01,3.0,201104
71,12121312121,2011-04-30,-20000.00,44751.01,2011-04-29,64751.01,1.0,201104
72,12121312121,2011-05-01,0.00,44751.01,2011-04-30,44751.01,1.0,201104
73,12121312121,2011-05-03,17419.00,62170.01,2011-05-01,44751.01,2.0,201105
74,12121312121,2011-05-04,-6349.00,55821.01,2011-05-03,62170.01,1.0,201105
75,12121312121,2011-05-08,-900.00,54921.01,2011-05-04,55821.01,4.0,201105
76,12121312121,2011-05-09,-1200.00,53721.01,2011-05-08,54921.01,1.0,201105
77,12121312121,2011-05-10,0.00,53721.01,2011-05-09,53721.01,1.0,201105
78,12121312121,2011-05-11,-20350.00,33371.01,2011-05-10,53721.01,1.0,201105
79,12121312121,2011-05-15,-1000.00,32371.01,2011-05-11,33371.01,4.0,201105
80,12121312121,2011-05-16,-300.00,32071.01,2011-05-15,32371.01,1.0,201105
81,12121312121,2011-05-17,-445.00,31626.01,2011-05-16,32071.01,1.0,201105
82,12121312121,2011-05-18,4824.85,36450.86,2011-05-17,31626.01,1.0,201105
83,12121312121,2011-05-19,9401.00,45851.86,2011-05-18,36450.86,1.0,201105
84,12121312121,2011-05-24,-573.86,45278.00,2011-05-19,45851.86,5.0,201105
85,12121312121,2011-05-25,-599.00,44679.00,2011-05-24,45278.00,1.0,201105
86,12121312121,2011-05-29,30021.00,74700.00,2011-05-25,44679.00,4.0,201105
87,12121312121,2011-05-30,-2000.00,72700.00,2011-05-29,74700.00,1.0,201105
88,12121312121,2011-05-31,29365.00,102065.00,2011-05-30,72700.00,1.0,201105
89,12121312121,2011-06-01,0.00,102065.00,2011-05-31,102065.00,1.0,201105
90,12121312121,2011-06-02,-3400.00,98665.00,2011-06-01,102065.00,1.0,201106
91,12121312121,2011-06-03,5401.00,104066.00,2011-06-02,98665.00,1.0,201106
92,12121312121,2011-06-05,-15750.00,88316.00,2011-06-03,104066.00,2.0,201106
93,12121312121,2011-06-07,-4670.00,83646.00,2011-06-05,88316.00,2.0,201106
94,12121312121,2011-06-08,-1242.00,82404.00,2011-06-07,83646.00,1.0,201106
95,12121312121,2011-06-09,-599.00,81805.00,2011-06-08,82404.00,1.0,201106
96,12121312121,2011-06-10,-115.00,81690.00,2011-06-09,81805.00,1.0,201106
97,12121312121,2011-06-13,50000.00,131690.00,2011-06-10,81690.00,3.0,201106
98,12121312121,2011-06-14,-1020.00,130670.00,2011-06-13,131690.00,1.0,201106
99,12121312121,2011-06-16,-346.50,130323.50,2011-06-14,130670.00,2.0,201106
100,12121312121,2011-06-18,-3000.00,127323.50,2011-06-16,130323.50,2.0,201106
101,12121312121,2011-06-22,-770.00,126553.50,2011-06-18,127323.50,4.0,201106
102,12121312121,2011-06-25,-733.04,125820.46,2011-06-22,126553.50,3.0,201106
103,12121312121,2011-06-27,40000.00,165820.46,2011-06-25,125820.46,2.0,201106
104,12121312121,2011-06-29,-1297.00,164523.46,2011-06-27,165820.46,2.0,201106
105,12121312121,2011-06-30,6900.00,171423.46,2011-06-29,164523.46,1.0,201106
106,12121312121,2011-07-01,4908.00,176331.46,2011-06-30,171423.46,1.0,201106
107,12121312121,2011-07-03,33000.00,209331.46,2011-07-01,176331.46,2.0,201107
108,12121312121,2011-07-04,30066.00,239397.46,2011-07-03,209331.46,1.0,201107
109,12121312121,2011-07-09,-14781.00,224616.46,2011-07-04,239397.46,5.0,201107
110,12121312121,2011-07-11,-900.00,223716.46,2011-07-09,224616.46,2.0,201107
111,12121312121,2011-07-12,-130.00,223586.46,2011-07-11,223716.46,1.0,201107
112,12121312121,2011-07-13,-5000.00,218586.46,2011-07-12,223586.46,1.0,201107
113,12121312121,2011-07-14,4597.00,223183.46,2011-07-13,218586.46,1.0,201107
114,12121312121,2011-07-15,-915.00,222268.46,2011-07-14,223183.46,1.0,201107
115,12121312121,2011-07-16,-915.00,221353.46,2011-07-15,222268.46,1.0,201107
116,12121312121,2011-07-18,-1262.00,220091.46,2011-07-16,221353.46,2.0,201107
117,12121312121,2011-07-19,5030.00,225121.46,2011-07-18,220091.46,1.0,201107
118,12121312121,2011-07-20,-3130.00,221991.46,2011-07-19,225121.46,1.0,201107
119,12121312121,2011-07-21,2165.00,224156.46,2011-07-20,221991.46,1.0,201107
120,12121312121,2011-07-25,-638.86,223517.60,2011-07-21,224156.46,4.0,201107
121,12121312121,2011-07-27,-6320.00,217197.60,2011-07-25,223517.60,2.0,201107
122,12121312121,2011-07-31,16900.00,234097.60,2011-07-27,217197.60,4.0,201107
123,12121312121,2011-08-01,0.00,234097.60,2011-07-31,234097.60,1.0,201107
124,12121312121,2011-08-03,-3480.00,230617.60,2011-08-01,234097.60,2.0,201108
125,12121312121,2011-08-04,-2160.00,228457.60,2011-08-03,230617.60,1.0,201108
126,12121312121,2011-08-05,6750.00,235207.60,2011-08-04,228457.60,1.0,201108
127,12121312121,2011-08-06,-1450.00,233757.60,2011-08-05,235207.60,1.0,201108
128,12121312121,2011-08-07,0.00,233757.60,2011-08-06,233757.60,1.0,201108
129,12121312121,2011-08-08,-900.00,232857.60,2011-08-07,233757.60,1.0,201108
130,12121312121,2011-08-09,0.00,232857.60,2011-08-08,232857.60,1.0,201108
131,12121312121,2011-08-10,1418.00,234275.60,2011-08-09,232857.60,1.0,201108
132,12121312121,2011-08-12,0.00,234275.60,2011-08-10,234275.60,2.0,201108
133,12121312121,2011-08-14,-1930.00,232345.60,2011-08-12,234275.60,2.0,201108
134,12121312121,2011-08-16,39601.00,271946.60,2011-08-14,232345.60,2.0,201108
135,12121312121,2011-08-19,0.00,271946.60,2011-08-16,271946.60,3.0,201108
136,12121312121,2011-08-23,-4440.00,267506.60,2011-08-19,271946.60,4.0,201108
137,12121312121,2011-08-24,-634.97,266871.63,2011-08-23,267506.60,1.0,201108
138,12121312121,2011-08-25,-53363.00,213508.63,2011-08-24,266871.63,1.0,201108
139,12121312121,2011-08-31,-36575.00,176933.63,2011-08-25,213508.63,6.0,201108
140,12121312121,2011-09-01,9745.00,186678.63,2011-08-31,176933.63,1.0,201108
141,12121312121,2011-09-04,-15750.00,170928.63,2011-09-01,186678.63,3.0,201109
142,12121312121,2011-09-05,10000.00,180928.63,2011-09-04,170928.63,1.0,201109
143,12121312121,2011-09-06,35000.00,215928.63,2011-09-05,180928.63,1.0,201109
144,12121312121,2011-09-11,10000.00,225928.63,2011-09-06,215928.63,5.0,201109
145,12121312121,2011-09-12,15600.00,241528.63,2011-09-11,225928.63,1.0,201109
146,12121312121,2011-09-14,-30000.00,211528.63,2011-09-12,241528.63,2.0,201109
147,12121312121,2011-09-15,10000.00,221528.63,2011-09-14,211528.63,1.0,201109
148,12121312121,2011-09-16,-5000.00,216528.63,2011-09-15,221528.63,1.0,201109
149,12121312121,2011-09-19,-900.00,215628.63,2011-09-16,216528.63,3.0,201109
150,12121312121,2011-09-21,5265.00,220893.63,2011-09-19,215628.63,2.0,201109
151,12121312121,2011-09-22,-8790.00,212103.63,2011-09-21,220893.63,1.0,201109
152,12121312121,2011-09-25,-656.68,211446.95,2011-09-22,212103.63,3.0,201109
153,12121312121,2011-09-27,-19988.00,191458.95,2011-09-25,211446.95,2.0,201109
154,12121312121,2011-10-01,0.00,191458.95,2011-09-27,191458.95,4.0,201109

In [356]:
mthly_bal = Srt_Grp_Tran_Cart_OpeningBal.groupby(['Acc_No', 'Mth_ID']).apply(lambda x: (x['Prev_Running_Bal'] * x['No_Of_Days']).sum() / x['No_Of_Days'].sum()).reset_index(name='Avg_Mthly_Bal')

In [357]:
print(mthly_bal)

         Acc_No  Mth_ID  Avg_Mthly_Bal
0   10851232411  201104   20640.833333
1   10851232411  201105   14725.000000
2   10851232411  201106   14725.000000
3   10851232411  201107   78714.250323
4   10851232411  201108  127604.271290
5   10851232411  201109  125096.417000
6   10851232494  201104   96497.361667
7   10851232494  201105   89481.680323
8   10851232494  201106   54292.056667
9   10851232494  201107   39154.422258
10  10851232494  201108   34509.260968
11  10851232494  201109   31917.923333
12  12121312121  201104   54458.560667
13  12121312121  201105   48581.946129
14  12121312121  201106  118009.308667
15  12121312121  201107  221806.975484
16  12121312121  201108  238499.736774
17  12121312121  201109  208678.560667

In [358]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal= pd.DataFrame(mthly_bal)

In [359]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal

         Acc_No  Mth_ID  Avg_Mthly_Bal
0   10851232411  201104   20640.833333
1   10851232411  201105   14725.000000
2   10851232411  201106   14725.000000
3   10851232411  201107   78714.250323
4   10851232411  201108  127604.271290
5   10851232411  201109  125096.417000
6   10851232494  201104   96497.361667
7   10851232494  201105   89481.680323
8   10851232494  201106   54292.056667
9   10851232494  201107   39154.422258
10  10851232494  201108   34509.260968
11  10851232494  201109   31917.923333
12  12121312121  201104   54458.560667
13  12121312121  201105   48581.946129
14  12121312121  201106  118009.308667
15  12121312121  201107  221806.975484
16  12121312121  201108  238499.736774
17  12121312121  201109  208678.560667

In [360]:
#Add the count to the days in that month
# Extract year and month from Mth_ID column
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Year'] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Mth_ID'].str[:4]
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Month'] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Mth_ID'].str[4:]

# Convert Year and Month columns to integers
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal[['Year', 'Month']] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal[['Year', 'Month']].astype(int)

# Calculate number of days in each month based on Year and Month columns
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Cnt_Days_in_Mth'] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal.apply(lambda row: calendar.monthrange(row['Year'], row['Month'])[1] if not pd.isnull(row['Mth_ID']) else None, axis=1)

# Drop Year and Month columns
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal.drop(columns=['Year', 'Month'], inplace=True)

In [361]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal

         Acc_No  Mth_ID  Avg_Mthly_Bal  Cnt_Days_in_Mth
0   10851232411  201104   20640.833333               30
1   10851232411  201105   14725.000000               31
2   10851232411  201106   14725.000000               30
3   10851232411  201107   78714.250323               31
4   10851232411  201108  127604.271290               31
5   10851232411  201109  125096.417000               30
6   10851232494  201104   96497.361667               30
7   10851232494  201105   89481.680323               31
8   10851232494  201106   54292.056667               30
9   10851232494  201107   39154.422258               31
10  10851232494  201108   34509.260968               31
11  10851232494  201109   31917.923333               30
12  12121312121  201104   54458.560667               30
13  12121312121  201105   48581.946129               31
14  12121312121  201106  118009.308667               30
15  12121312121  201107  221806.975484               31
16  12121312121  201108  238499.736774               31
17  12121312121  201109  208678.560667               30

In [362]:
#Calculating Sum_Product
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Sum_Product'] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Avg_Mthly_Bal'] * Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Cnt_Days_in_Mth']

In [363]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal

         Acc_No  Mth_ID  Avg_Mthly_Bal  Cnt_Days_in_Mth  Sum_Product
0   10851232411  201104   20640.833333               30    619225.00
1   10851232411  201105   14725.000000               31    456475.00
2   10851232411  201106   14725.000000               30    441750.00
3   10851232411  201107   78714.250323               31   2440141.76
4   10851232411  201108  127604.271290               31   3955732.41
5   10851232411  201109  125096.417000               30   3752892.51
6   10851232494  201104   96497.361667               30   2894920.85
7   10851232494  201105   89481.680323               31   2773932.09
8   10851232494  201106   54292.056667               30   1628761.70
9   10851232494  201107   39154.422258               31   1213787.09
10  10851232494  201108   34509.260968               31   1069787.09
11  10851232494  201109   31917.923333               30    957537.70
12  12121312121  201104   54458.560667               30   1633756.82
13  12121312121  201105   48581.946129               31   1506040.33
14  12121312121  201106  118009.308667               30   3540279.26
15  12121312121  201107  221806.975484               31   6876016.24
16  12121312121  201108  238499.736774               31   7393491.84
17  12121312121  201109  208678.560667               30   6260356.82

In [364]:
#Making Avg_Mthly_Bal 2 decimal
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Avg_Mthly_Bal'] = Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal['Avg_Mthly_Bal'].round(2)

In [365]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal

         Acc_No  Mth_ID  Avg_Mthly_Bal  Cnt_Days_in_Mth  Sum_Product
0   10851232411  201104       20640.83               30    619225.00
1   10851232411  201105       14725.00               31    456475.00
2   10851232411  201106       14725.00               30    441750.00
3   10851232411  201107       78714.25               31   2440141.76
4   10851232411  201108      127604.27               31   3955732.41
5   10851232411  201109      125096.42               30   3752892.51
6   10851232494  201104       96497.36               30   2894920.85
7   10851232494  201105       89481.68               31   2773932.09
8   10851232494  201106       54292.06               30   1628761.70
9   10851232494  201107       39154.42               31   1213787.09
10  10851232494  201108       34509.26               31   1069787.09
11  10851232494  201109       31917.92               30    957537.70
12  12121312121  201104       54458.56               30   1633756.82
13  12121312121  201105       48581.95               31   1506040.33
14  12121312121  201106      118009.31               30   3540279.26
15  12121312121  201107      221806.98               31   6876016.24
16  12121312121  201108      238499.74               31   7393491.84
17  12121312121  201109      208678.56               30   6260356.82

In [366]:
#Arranging the columns
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal=Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal[["Acc_No","Mth_ID","Sum_Product","Cnt_Days_in_Mth","Avg_Mthly_Bal"]]

In [367]:
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal

         Acc_No  Mth_ID  Sum_Product  Cnt_Days_in_Mth  Avg_Mthly_Bal
0   10851232411  201104    619225.00               30       20640.83
1   10851232411  201105    456475.00               31       14725.00
2   10851232411  201106    441750.00               30       14725.00
3   10851232411  201107   2440141.76               31       78714.25
4   10851232411  201108   3955732.41               31      127604.27
5   10851232411  201109   3752892.51               30      125096.42
6   10851232494  201104   2894920.85               30       96497.36
7   10851232494  201105   2773932.09               31       89481.68
8   10851232494  201106   1628761.70               30       54292.06
9   10851232494  201107   1213787.09               31       39154.42
10  10851232494  201108   1069787.09               31       34509.26
11  10851232494  201109    957537.70               30       31917.92
12  12121312121  201104   1633756.82               30       54458.56
13  12121312121  201105   1506040.33               31       48581.95
14  12121312121  201106   3540279.26               30      118009.31
15  12121312121  201107   6876016.24               31      221806.98
16  12121312121  201108   7393491.84               31      238499.74
17  12121312121  201109   6260356.82               30      208678.56

In [368]:
#Saving the final out on local machine in csv file
Final_Avg_Mthly_Bal_Srt_Grp_Tran_Cart_OpeningBal.to_csv('Final_Output.csv', index=False)